[2021-06-01 06:43] mohitk30 opened #1 "Adjust width of the website"
it contains a large side space that is not necessary at all

[2021-06-01 06:54] QAZIMAAZARSHAD commented on #1
I'll assign you this issue when the contribution period starts, then you can start working on this issue.

[2021-06-01 07:07] mohitk30 commented on #1
Ok,thanks

On Tue, 1 Jun 2021, 12:24 pm Qazi Maaz Arshad, ***@***.***>
wrote:

[2021-06-01 12:36] QAZIMAAZARSHAD opened #2 "Make website design responsive in mobile phone"
![WhatsApp Image 2021-06-01 at 6 03 29 PM](https://user-images.githubusercontent.com/56196640/120324053-cc9b9a80-c303-11eb-977b-b4ee0bbf33d9.jpeg)

[2021-06-01 12:40] QAZIMAAZARSHAD opened #3 "Apply creative hover effect on all images"

[2021-06-01 12:45] QAZIMAAZARSHAD opened #4 "Design a new creative logo for website"
The name of the website is **ApnaTheatre**.
Don't change the name of the website, you can come up with an interesting slogan.

Use red and black color so it matches the website's theme.

[2021-06-01 12:48] QAZIMAAZARSHAD opened #5 "Improve the footer design"
Design a new creative footer.

[2021-06-01 12:51] QAZIMAAZARSHAD opened #6 "Make search bar functional"
It should filter movies when typing movie names in the search bar.

[2021-06-01 12:55] QAZIMAAZARSHAD opened #7 "Add a stylish pre-loader"
It will be better if the pre-loader follows a **(red-black)** theme like the website and related to cinema or movies.

[2021-06-01 13:23] QAZIMAAZARSHAD opened #8 "Make slideshow continuous or redesign"
![WhatsApp Image 2021-06-01 at 6 50 54 PM](https://user-images.githubusercontent.com/56196640/120330452-767e2580-c30a-11eb-858a-2bfea10a4b6d.jpeg)

Eliminate the gap after the slideshow ends.

[2021-06-01 13:26] QAZIMAAZARSHAD opened #9 "Add logo in title bar"
![image](https://user-images.githubusercontent.com/56196640/120331108-10de6900-c30b-11eb-88a1-c708eae510f5.png)

[2021-06-01 13:30] QAZIMAAZARSHAD opened #10 "Add "play now" button when movie card flips"

[2021-06-01 13:43] QAZIMAAZARSHAD opened #11 "Modal popup message not visible when clicking "Click Here" button"
Home -> TV = dummy.html

[2021-06-01 13:57] QAZIMAAZARSHAD opened #12 "Adjust or redesign genre navigation bar"
![WhatsApp Image 2021-06-01 at 7 19 41 PM](https://user-images.githubusercontent.com/56196640/120334747-86980400-c30e-11eb-8b00-8628679a770d.jpeg)

Make sure all genre names are in one single line side by side.

[2021-06-01 14:05] QAZIMAAZARSHAD opened #13 "Improve login/sign up page"
Improve design, add new features or totally redesign the login page.

[2021-06-01 16:26] Godwindaniel10 commented on #13
hi @QAZIMAAZARSHAD .
i will like to work on this issue

[2021-06-01 16:29] QAZIMAAZARSHAD commented on #13
I will assign you this issue when the contribution starts then you can start working on this issue.

[2021-06-01 16:56] Godwindaniel10 commented on #13
ok on it..

[2021-06-01 18:47] JAsaxon commented on #9
ill work on this, what logo should I add?

[2021-06-01 19:03] adampavel commented on #4
Hey, can I start working on this?

[2021-06-02 03:46] Sourav61 commented on #12
@QAZIMAAZARSHAD  i'll would like to work on this issue

[2021-06-02 04:08] QAZIMAAZARSHAD commented on #12
I will assign you this issue when the contribution period starts then you can start working on this issue.

[2021-06-02 04:09] QAZIMAAZARSHAD commented on #4
I will assign you this issue when the contribution period starts from 10 June, then you can start working on this issue.

[2021-06-02 04:17] QAZIMAAZARSHAD commented on #9
If you want you can design a new logo this issue is also open (https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/4) you can work on both issues
If you don't want to design a new logo you can add the existing logo or any good movie symbol.

But don't start working on any issue, make sure you are assigned to that issue.

I'll assign you this issue when the contribution period starts f

[2021-06-02 04:26] Sourav61 commented on #12
![Capture](https://user-images.githubusercontent.com/70853906/120423792-bd126500-c388-11eb-9709-3a22136c10e6.JPG)

[2021-06-02 04:26] Sourav61 commented on #12
Is this alright or You want some other changes?

[2021-06-02 04:47] QAZIMAAZARSHAD commented on #12
This is almost similar, I don't see any change.

I want all genre names in one single line, so it looks nice.
Like Home, Movies, Web Series, Kids, navigation bar. See these in one line.

![image](https://user-images.githubusercontent.com/56196640/120425366-ac172300-c38b-11eb-9b42-eef8bc0aad1d.png)

[2021-06-02 04:49] Sourav61 commented on #12
But comedy is now in one line along with others @QAZIMAAZARSHAD

[2021-06-02 04:49] Dhanushreddy09 commented on #13
Do you want to remove the background image under the form or you need it to be there?

[2021-06-02 04:50] Sourav61 commented on #12
I'll try to make Suspense & Thriller and SciFy & Fantasy in one line as well

[2021-06-02 04:51] QAZIMAAZARSHAD commented on #13
Your wish, it's up to you. You can totally redesign the login page to make it better.

[2021-06-02 04:53] QAZIMAAZARSHAD commented on #12
yes

[2021-06-02 05:30] iam-sakshi commented on #3
can I work on this issue?

[2021-06-02 05:31] aum-singhal commented on #10
Hello Sir. I can work on this issue.
If possible, can you assign it to me when LGM-SOC starts

Thanks 😊

[2021-06-02 05:33] aum-singhal commented on #5
I can work on this Issue If you allow
Please assign it to me if possible when LGM-SOC starts

Thanks 😊

[2021-06-02 05:33] QAZIMAAZARSHAD commented on #10
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-02 05:33] QAZIMAAZARSHAD commented on #3
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-02 05:34] QAZIMAAZARSHAD commented on #5
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-02 05:42] Sourav61 commented on #12
![Capture1](https://user-images.githubusercontent.com/70853906/120429682-71b18400-c393-11eb-9232-2442e901659e.JPG)

[2021-06-02 05:43] Sourav61 commented on #12
Is this fine now @QAZIMAAZARSHAD ?

[2021-06-02 05:48] QAZIMAAZARSHAD commented on #12
Yes, nice

But do not make any pull requests now because points will be awarded only for pull requests merged during the contribution period which is starting from 10th June.
Also while making the pull requests don't forget to mention the issue number.

[2021-06-02 05:54] Sourav61 commented on #12
![Screenshot 2021-06-02 112325](https://user-images.githubusercontent.com/70853906/120430718-0d8fbf80-c395-11eb-9e4b-0d7884753b6f.png)

[2021-06-02 05:54] aum-singhal commented on #2
Hello sir. I would like to contribute on this one too 😅
If possible so please assign it to me when LGM-SOC starts
Thanks 😊

and yeah, can i use bootstrap, if needed cause that will make it more responsive and better, a suggestion 😅

[2021-06-02 05:55] Sourav61 commented on #12
But when we are hovering over it ,then it appears like this. Is it okay?

[2021-06-02 05:57] Jagannath8 commented on #13
@QAZIMAAZARSHAD  Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-02 05:59] QAZIMAAZARSHAD commented on #2
Yes, you can use bootstrap.

I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-02 06:01] Jagannath8 commented on #9
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-02 06:02] Jagannath8 commented on #4
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-02 06:02] Jagannath8 commented on #5
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-02 06:04] QAZIMAAZARSHAD commented on #13
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

Other participants are also willing to resolve this issue so If you want your pull request to be merged then your design should be better than the others.

[2021-06-02 06:05] QAZIMAAZARSHAD commented on #12
You can improve this issue, there is plenty of time.

[2021-06-02 06:07] Sourav61 commented on #12
Should i create a new issue for that?

[2021-06-02 06:09] QAZIMAAZARSHAD commented on #9
@Jagannath8 one participant has already asked to work on this issue.
Since this is a very basic and simple issue I cannot allow more than one person to work on it.

You can work on issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/4

[2021-06-02 06:10] QAZIMAAZARSHAD commented on #4
Sure,

I will assign you this issue when the contribution period starts from 10 June, then you can start working on this issue.

[2021-06-02 06:14] QAZIMAAZARSHAD commented on #5
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

Other participants are also willing to resolve this issue so If you want your pull request to be merged then your design should be better than the others.

[2021-06-02 06:16] QAZIMAAZARSHAD commented on #12
No, since your improvement has not been accepted yet

You can improve your design.

[2021-06-02 06:21] Dhanushreddy09 commented on #13
are we supposed to display the result on the same page under form or we have to navigate to another page to display?

[2021-06-02 06:24] QAZIMAAZARSHAD commented on #13
It's up to you if you want to display the result as a pop-up on the same page or navigate to another page, it's your wish.

[2021-06-02 06:45] Sourav61 commented on #12
okk thanks @QAZIMAAZARSHAD sir

[2021-06-02 07:37] shivshankar9 commented on #7
I would like to work on this, please assign to me this issue.

[2021-06-02 09:07] QAZIMAAZARSHAD commented on #7
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-02 13:20] QAZIMAAZARSHAD commented on #13
Great work @Dhanushreddy09, I'll merge your pull request when the contribution period starts.

[2021-06-02 15:24] Godwindaniel10 commented on #13
@QAZIMAAZARSHAD Needless of me working on this issue right.. 🙂

[2021-06-02 15:34] QAZIMAAZARSHAD commented on #13
Since many participants are willing to contribute or resolve a particular issue, I'll accept the best solution.
You can still work on the same issue, you can also create new issues if you find any mistake or chance of improvement in any solution.

I will start assigning issues and merging pull requests from 10th June.

[2021-06-02 15:46] Godwindaniel10 commented on #13
@QAZIMAAZARSHAD thats cool..

[2021-06-02 16:46] Dhanushreddy09 commented on #13
There is no way users can get back to the home page once they complete the registration, I am trying to relocate the URL to the home page but since javascript doesn't support relocation of URLs on submit type inputs, it's really difficult to cope up. Is there a suggestion I could rely on?

[2021-06-02 16:55] Rutikab12 commented on #11
Hey, @QAZIMAAZARSHAD I would like to work on this issue as an lgm-soc participant.

[2021-06-03 01:59] Sourav61 opened #17 "Change title of the website as displayed in the title bar"
![Capture3](https://user-images.githubusercontent.com/70853906/120574653-5bf89900-c43d-11eb-9a85-90113e016726.JPG)

[2021-06-03 02:00] Sourav61 commented on #17
I think the title should be ApnaTheatre instead of ApanTheatre.com

[2021-06-03 02:00] Sourav61 commented on #17
I would like to work on this issue @QAZIMAAZARSHAD

[2021-06-03 04:24] QAZIMAAZARSHAD commented on #17
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-03 04:24] QAZIMAAZARSHAD commented on #11
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-03 04:54] Rutikab12 commented on #11
Okay

[2021-06-03 06:56] QAZIMAAZARSHAD commented on #13
@Dhanushreddy09 this solution worked ->

<script>
      function DisplayResults() {
         alert("Registration successful");
         setTimeout(function(){document.location.href = "index.html"},100);
      };
    </script>

[2021-06-03 07:04] Dhanushreddy09 commented on #13
I came across this solution earlier but it isn't working for me. Anyways, I will commit it, however, I think we need to validate the user on the client-side. May I add javascript validation?

[2021-06-03 07:26] QAZIMAAZARSHAD commented on #13
Yes, go-ahead

but don't make any pull requests before 10th June

[2021-06-03 11:06] kumarishalini6 opened #18 "Add scroll to top button"
There should be scroll to top in home page
@QAZIMAAZARSHAD  can i work on this issue under LGM-SOC'21 .

[2021-06-03 11:07] kumarishalini6 commented on #18
please assign me this issue I'll send PR after 10

[2021-06-03 11:08] Sourav61 commented on #12
![Capture4 JPG](https://user-images.githubusercontent.com/70853906/120635399-10b8a780-c48a-11eb-9a59-3f69343a485b.png)

[2021-06-03 11:08] Sourav61 commented on #12
Now hovering problem is solved as well @QAZIMAAZARSHAD

[2021-06-03 11:09] Sourav61 commented on #12
But I have changed the Font size of text. Is is a Problem for you sir?

[2021-06-03 11:09] kumarishalini6 opened #19 "Improve/Redesign home page"
Can I Redesign the home page .
@QAZIMAAZARSHAD  please assign this issue to me.

[2021-06-03 11:12] kumarishalini6 commented on #19
this issue will take time can you please assign me so that i can send PR on 10

[2021-06-03 11:55] QAZIMAAZARSHAD commented on #18
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-03 12:00] QAZIMAAZARSHAD commented on #19
Yes, go ahead.
But keep in mind, pages of other genres follow the same design and theme as of home page, so do not completely change the style of the home page so it looks completely odd compared to other pages.

[2021-06-03 12:03] QAZIMAAZARSHAD commented on #19
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.
If you think this issue will take time then you can start working from today but I'll start assigning issues and merging pull requests from 10th June.

[2021-06-03 12:04] kumarishalini6 commented on #19
Ya sure

[2021-06-03 12:10] QAZIMAAZARSHAD commented on #12
It's better than before. Nice!

You can always try to improve.

[2021-06-03 12:13] Sourav61 commented on #12
Thanks @QAZIMAAZARSHAD

[2021-06-03 12:14] Sourav61 commented on #12
Should i create a PR now?

[2021-06-03 12:18] Jagannath8 commented on #17
Can I work on this issue?

[2021-06-03 12:22] QAZIMAAZARSHAD commented on #12
No,
After 10th June when I will assign you this issue.

In any open-source event don't make PR's directly if you are not assigned. You might not gain points for your work.

[2021-06-03 12:23] Sourav61 commented on #12
Okk thanks a lot @QAZIMAAZARSHAD sir

[2021-06-03 12:24] QAZIMAAZARSHAD commented on #17
@Jagannath8 this is a very basic issue (a cakewalk) I cannot assign more than one participant to this issue.

You can look for any other issue, open new issues, suggest new features, etc.

[2021-06-03 17:07] harsh72835 opened #20 "Add appropriate font-family to website"

[2021-06-04 03:24] sanketcharanpahadi commented on #20
Can I work on this issue @QAZIMAAZARSHAD ?

[2021-06-04 03:29] QAZIMAAZARSHAD commented on #20
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-04 03:39] harshita0802goswami opened #22 "Add dark/light mode to the website"

[2021-06-04 03:42] harshita0802goswami opened #23 "Add movie slider button"
Adding the slider button to the kids, movie, web-series section and hover effects while clicking over the image

[2021-06-04 03:45] QAZIMAAZARSHAD commented on #22
Nice idea!

I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-04 03:47] QAZIMAAZARSHAD commented on #23
The slider button is a nice idea.
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

But an issue already exists to apply hover effects on images.

[2021-06-04 03:50] harshita0802goswami commented on #22
Can I work on 2 issues that I have created?

[2021-06-04 04:18] QAZIMAAZARSHAD commented on #22
Go-ahead,

You can work on as many issues as you want.

[2021-06-04 07:07] BeginnerCoder21 commented on #4
Can I work on this, I am a graphic designer also I'm a participant of LGM-Soc'21.

[2021-06-04 07:31] QAZIMAAZARSHAD commented on #4
@BeginnerCoder21 sure, go-ahead

I will assign you this issue when the contribution period starts from 10 June, then you can start working on this issue.

[2021-06-04 08:45] Atif0604 opened #24 "Remove the Horizontal scroll"
I wanna fix the horizontal scroll bug
please assign it to me
I'm a participant of LGM Soc21.
@QAZIMAAZARSHAD

[2021-06-04 08:52] QAZIMAAZARSHAD commented on #24
@Atif0604 a similar issue is already open, see issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/1.

Another participant is also willing to resolve that issue and this is an easy issue so I cannot assign this issue to more than one person.
You can look for another issue, or try opening a new issue, suggest new features, etc.

[2021-06-04 08:52] #24 closed

[2021-06-04 08:55] Atif0604 commented on #24
ohk but if the issue still remains unresolved then please assign it to me

[2021-06-04 08:57] QAZIMAAZARSHAD commented on #24
Sure

[2021-06-04 11:35] aniketartani opened #25 "In the Premium Page ,there should be one alert box"
On the premium page when we click the click here button, a popup box should appear with showing message like cost of the premium.

[2021-06-04 11:50] QAZIMAAZARSHAD commented on #25
@aniketartani this issue is already open, see issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/11.

Look for any other issue, or open new issues.

[2021-06-04 11:50] #25 closed

[2021-06-04 11:57] QAZIMAAZARSHAD opened #26 "Design premium page"
Refer to premium pages of some cool websites.
Keep in mind the overall theme of the website.

[2021-06-04 11:59] QAZIMAAZARSHAD commented on #25
I have created a new issue to design a premium page.

You can work on that issue if interested.

[2021-06-04 12:03] aniketartani commented on #26
OK! I want to work on this. Please assign me

[2021-06-04 12:05] QAZIMAAZARSHAD commented on #26
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-04 12:20] Anupam-Panwar commented on #8
I would like to work on this issue

[2021-06-04 12:24] QAZIMAAZARSHAD commented on #8
Great,

I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-04 14:24] abhijeet141 commented on #6
I would like to work on this issue

[2021-06-04 14:26] QAZIMAAZARSHAD commented on #6
Great,

I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-04 14:33] vanishasamriddhi opened #27 "Favicon missing"
I would like to work on it, it would make the website more attractive

[2021-06-04 14:37] QAZIMAAZARSHAD commented on #27
@vanishasamriddhi this issue is already open, see issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/9.

You can look for any other issue, open new issues, suggest new features, etc.

[2021-06-04 14:37] #27 closed

[2021-06-04 15:53] abhijeet141 commented on #6
@QAZIMAAZARSHAD sir i was having some doubt on this like i have to only work for the filter part or also on search bar button?

[2021-06-04 15:59] QAZIMAAZARSHAD commented on #6
You have to make the search bar functional.
This means that whenever someone enters any movie name in the search bar and presses the search button then that movie card should appear.

This issue did not have anything to do with the styling and design of the search bar or button. It's up to you if you want to improve or work on the design part.

[2021-06-04 16:35] abhijeet141 commented on #6
@QAZIMAAZARSHAD Sir i mean to say that now the movie cards are not clickable so there is no id defined for respective movie cards so should i wait till this issue got solved or should i make cards for different movie section in this issue only?

[2021-06-04 16:41] QAZIMAAZARSHAD commented on #6
Yes, you can do everything in order to resolve this issue.

[2021-06-04 16:42] abhijeet141 commented on #6
Okay sir

[2021-06-04 17:30] rucha0702 commented on #26
Could more than one person  be working on the same issue? I am new to open source, so I thought I should ask first.

[2021-06-04 18:49] rucha0702 commented on #12
Can I also work upon this issue?

[2021-06-05 01:37] rucha0702 commented on #3
Can I also try this?

[2021-06-05 03:02] QAZIMAAZARSHAD commented on #3
Sure, go ahead.

[2021-06-05 03:07] QAZIMAAZARSHAD commented on #12
@rucha0702 I think @Sourav61 has already resolved this issue.

When I will merge @Sourav61's PR and if any error or scope of improvement will be there I will assign you this issue.

[2021-06-05 03:54] rucha0702 commented on #12
okay

[2021-06-05 05:33] rucha0702 commented on #3
![Screenshot (14)](https://user-images.githubusercontent.com/77936051/120881294-a751a980-c5ed-11eb-9bd7-6b1bec390b24.png)
![Screenshot (13)](https://user-images.githubusercontent.com/77936051/120881306-b2a4d500-c5ed-11eb-97a2-64cdc5aefac1.png)

[2021-06-05 05:34] rucha0702 commented on #3
Is this okay? I have added opacity.

[2021-06-05 10:05] Aiswarika commented on #26
Can I work on this issue? @QAZIMAAZARSHAD

[2021-06-05 10:30] coding-geek21 commented on #26
@QAZIMAAZARSHAD  I just have a doubt does this project involve back-end like login and sign-up using mysql and php?

[2021-06-05 10:33] coding-geek21 opened #28 "Add a carousel at the home page"
I would like to work on this issue under LGM-SOC'21 @QAZIMAAZARSHAD Can you please assign me

[2021-06-05 10:35] coding-geek21 opened #29 "Add a filter based on movie genre"
We can add a filter so that the movies will be shown based on selected filter

I would like to work on this issue under LGM-SOC can you please assign me @QAZIMAAZARSHAD

[2021-06-05 10:37] coding-geek21 opened #30 "Design web series page"
I would like to work on this issue @QAZIMAAZARSHAD can you please assign me under LGM-SOC

[2021-06-05 10:37] #29 closed

[2021-06-05 10:38] coding-geek21 commented on #30
@QAZIMAAZARSHAD  I just have a doubt does this project involve back-end like login and sign-up using mysql and php?

[2021-06-05 10:49] Naman-Joshi-14 commented on #20
sir can i work on this issue

[2021-06-05 11:09] Naman-Joshi-14 commented on #26
Can i work on this project? @QAZIMAAZARSHAD

[2021-06-05 11:32] coding-geek21 opened #31 "Add favicon to the website"
I would like to work on this issue under LGM-SOC , Can you please assign me @QAZIMAAZARSHAD

[2021-06-05 11:36] coding-geek21 opened #32 "Add custom scrollbar"
I would like to work on this issue under LGM-SOC , Can you please assign me @QAZIMAAZARSHAD

[2021-06-05 11:53] Naman-Joshi-14 commented on #5
Sir can I work on this issue. @QAZIMAAZARSHAD

[2021-06-05 15:57] kumarishalini6 opened #33 "Improve navbar design"

[2021-06-05 17:17] QAZIMAAZARSHAD commented on #3
@rucha0702 this doesn't look too well, I suggest you to try some other style.

[2021-06-05 17:18] QAZIMAAZARSHAD commented on #5
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

Other participants are also willing to resolve this issue so If you want your pull request to be merged then your design should be better than the others.

[2021-06-05 17:19] QAZIMAAZARSHAD commented on #32
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-05 17:21] QAZIMAAZARSHAD commented on #31
@coding-geek21 this issue is already open, see issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/9.

You can look for any other issues or open new issues.

[2021-06-05 17:21] #31 closed

[2021-06-05 17:24] QAZIMAAZARSHAD commented on #26
@Aiswarika and @Naman-Joshi-14 I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

Other participants are also willing to resolve this issue so If you want your pull request to be merged then your design should be better than the others.

[2021-06-05 17:26] QAZIMAAZARSHAD commented on #28
@coding-geek21 slideshow is already available on the home page, so I think no need for a carousel.

[2021-06-05 17:26] #28 closed

[2021-06-05 17:28] QAZIMAAZARSHAD commented on #30
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-05 17:29] QAZIMAAZARSHAD commented on #30
No, but you are always welcome to improve this website.

[2021-06-05 17:34] QAZIMAAZARSHAD commented on #33
Can you tell me your ideas, how you plan to improve the navbar?

[2021-06-05 17:37] QAZIMAAZARSHAD commented on #20
@Naman-Joshi-14 this is an easy issue and other contributors are also willing to solve this issue so I cannot assign you this issue.

Look for any other issues or open new issues.

[2021-06-05 18:06] kumarishalini6 commented on #33
Sure

[2021-06-05 18:18] kumarishalini6 commented on #33
We have 2 navbar
1st one (which is at the top )- first I will make it fixed , add the logo in the navbar ,  the navbar items at the right hand side and the search box at the center , adding some style and hover effects.
2nd navbar- I was thinking to make it as side navbar, and the menu bar at the right hand side of the logo  with same style . Why side navbar because there is lots of things in this

[2021-06-05 18:19] kumarishalini6 commented on #33
One of things I want to ask can I change the background colour??

[2021-06-05 19:08] aniketartani commented on #26
After completing this, will we get any certificate?

[2021-06-05 20:17] prakhargupta1632000 commented on #33
I would like to improve navbar @QAZIMAAZARSHAD can you  please assign it to me under LGM-SOC.

[2021-06-05 20:25] prakhargupta1632000 commented on #33
First I will add logo properly in navbar . and make search button more attractive using bootstrap. In short I will make complete navbar more attractive and responsive using bootstrap. Also make navbar stick at top so that it will be visible when we scroll down. Also add some more attractive fonts to navbar. Also add second navbar in first navbar using a dropdown button in first navbar.

[2021-06-06 02:44] coding-geek21 opened #34 "Add the description of the movies when hovering the images"
I would like to work on this issue @QAZIMAAZARSHAD , Can you please assign me

[2021-06-06 02:47] coding-geek21 opened #35 "Design kids page"
I would like to work on this issue @QAZIMAAZARSHAD , please assign me

[2021-06-06 02:52] coding-geek21 opened #36 "Create separate pages for movies of different regional languages"
I would like to work on this issue @QAZIMAAZARSHAD , Please assign me

[2021-06-06 02:53] coding-geek21 opened #37 "Design TV page"
I would like to work on this issue @QAZIMAAZARSHAD , Please assign me

[2021-06-06 03:54] rucha0702 commented on #3
@QAZIMAAZARSHAD okay, I will try something else.

[2021-06-06 07:09] manognyaa commented on #37
i would likw work on this issue please assign it to me @QAZIMAAZARSHAD @coding-geek21

[2021-06-06 07:44] Naman-Joshi-14 commented on #26
Thank you so much for giving me this opportunity.

On Sat, Jun 5, 2021 at 10:54 PM Qazi Maaz Arshad ***@***.***>
wrote:

[2021-06-06 09:28] Ishigupta08 commented on #26
QAZIMAAZARSHAD i also want to work on this issue...can we design by ourself or uh will provide a layout

[2021-06-06 09:29] Ishigupta08 commented on #26
@QAZIMAAZARSHAD  i also want to worked on this issue...do we need to make this page by ourself or any specific layout by you

[2021-06-06 09:31] Ishigupta08 commented on #26
And i want to know these issues are clashed by many people...so can it be assigned to more than one person

[2021-06-06 09:33] Ishigupta08 commented on #19
@QAZIMAAZARSHAD  whats the theme of this website...

[2021-06-06 10:23] heyankit78 opened #38 "Adding landing page to the website"
Landing page helps to get better ui experience

[2021-06-06 10:23] heyankit78 commented on #38
I want to work on this issue.Please assign me

[2021-06-06 12:18] manognyaa opened #39 "Redesign search bar button"
hello sir,
My idea is all about to improve the search box button. If we see the search box button it is purely simple. I would like to contribute some changes to the search box button.
Normally, the search box button will appear like a circle and between the circle the search symbol in it. whenever a person wants to hover the cursor the circle search box will turn into a rectangle one where the us

[2021-06-06 16:14] QAZIMAAZARSHAD commented on #39
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-06 16:15] QAZIMAAZARSHAD commented on #35
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-06 16:16] QAZIMAAZARSHAD commented on #33
Ok, go-ahead.

I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

The best design will be accepted.

[2021-06-06 16:21] QAZIMAAZARSHAD commented on #36
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-06 16:22] QAZIMAAZARSHAD commented on #38
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-06 16:25] QAZIMAAZARSHAD commented on #34
@coding-geek21 you can work on issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/3

[2021-06-06 16:25] #34 closed

[2021-06-06 16:27] QAZIMAAZARSHAD commented on #37
Go ahead.

[2021-06-06 16:32] manognyaa commented on #37
Hello sir,

As after 10th june the contribution period counts. Can I pull request the
issue on 10th june itself please ?

Please take my request into consideration

On Sun, 6 Jun 2021, 9:57 pm Qazi Maaz Arshad, ***@***.***>
wrote:

[2021-06-06 16:39] manognyaa commented on #37
thank you sir

[2021-06-06 16:51] coding-geek21 commented on #37
Can you please tell who should work, Because i created this issue

[2021-06-06 16:58] QAZIMAAZARSHAD commented on #37
@coding-geek21 and @manognyaa both of you can work on this issue. I'll accept the best design or you both can improve or fix bugs in each others design when I will merge first PR.

[2021-06-06 17:01] manognyaa commented on #37
Definitely sir, thank you :)

[2021-06-06 17:02] manognyaa commented on #39
Thank you sir :)

[2021-06-06 17:08] coding-geek21 commented on #37
sure ,Thank you :)

[2021-06-07 06:29] manognyaa commented on #37
hello sir,
I have completed my design. pls verify it and let me know changes if needed. I am ready to rectify it :) @QAZIMAAZARSHAD
my design link : https://www.figma.com/file/OvNhjZwi2puRmR1EQuCc66/Untitled?node-id=0%3A1

[2021-06-07 06:31] Rishita11 commented on #35
I would like to work on this. Please Assign this to me. @QAZIMAAZARSHAD

[2021-06-07 06:53] QAZIMAAZARSHAD commented on #35
@Rishita11 I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

Other participants are also willing to resolve this issue so If you want your pull request to be merged then your design should be better than the others.

[2021-06-07 06:58] QAZIMAAZARSHAD commented on #37
Its nice,
Keep in mind the color and theme of this website.
Use a simple font family.

[2021-06-07 07:01] manognyaa commented on #37
Sure sir, thank you :) @QAZIMAAZARSHAD

[2021-06-07 07:32] Rishita11 commented on #26
I would like to work on this. Please assign me this @QAZIMAAZARSHAD

[2021-06-07 07:35] Rishita11 commented on #36
I would like to work on this. Please assign this to me @QAZIMAAZARSHAD

[2021-06-07 07:37] QAZIMAAZARSHAD commented on #26
Implement your own ideas. Just keep in mind the color, theme, and style of this website.

[2021-06-07 07:39] QAZIMAAZARSHAD commented on #26
@Rishita11 and @Ishigupta08 I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

Other participants are also willing to resolve this issue so If you want your pull request to be merged then your design should be better than the others.

[2021-06-07 07:40] QAZIMAAZARSHAD commented on #36
@Rishita11 I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

Other participants are also willing to resolve this issue so If you want your pull request to be merged then your design should be better than the others.

[2021-06-07 07:40] heyankit78 commented on #38
Okay

[2021-06-07 08:34] coding-geek21 opened #40 "Add filter to sort movies according to the genre"
I saw that we are creating separate pages for each genres , this can be enhanced by using filters and this will reduce the number of webpages and displays based on filters using javascript in the same page itself

I would like to work on this issue @QAZIMAAZARSHAD ,please assign me

[2021-06-07 09:23] QAZIMAAZARSHAD commented on #40
Nice idea, go ahead.

I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-07 10:57] coding-geek21 commented on #40
Thank you :)

[2021-06-07 10:58] coding-geek21 commented on #32
![image](https://user-images.githubusercontent.com/53329034/121005282-4a9ced00-c7ad-11eb-9093-e9c217e51ded.png)

@QAZIMAAZARSHAD  I'm done with custom scrollbar, do check it kindly and  suggest your views and changes , Thank you :)

[2021-06-07 11:01] QAZIMAAZARSHAD commented on #32
Fine,

Just match the red color of the scroll bar with the color used in the website.

[2021-06-07 11:02] coding-geek21 commented on #32
Sure , I will make changes

[2021-06-07 13:24] SamikshaSankar opened #41 "Changes in navbar & adding top button"
Navbar
1. The navbar will stick to the top when you reach its scroll position
2. Change colour when user scroll. I mean in opacity

Top-button
button that becomes visible when the user starts to scroll the page

I work on this issue under LGM-SOC'21 participant..please assigned me

[2021-06-07 13:35] SamikshaSankar opened #42 "Make "Welcome To ApnaTheatre.com®" line visible when hovering on logo"
It make be visible till  right to left
![changes](https://user-images.githubusercontent.com/52104082/121025785-2815ce80-c7c3-11eb-931d-3b227ccbb61e.jpg)

[2021-06-07 13:38] QAZIMAAZARSHAD commented on #42
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-07 13:41] QAZIMAAZARSHAD commented on #41
@SamikshaSankar these issues are already open. See issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/33 and https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/18.

You can look for any other issues.

[2021-06-07 13:41] #41 closed

[2021-06-07 13:43] SamikshaSankar opened #43 "Fit in desktop-size"
Decrease size of container
![2](https://user-images.githubusercontent.com/52104082/121027130-5811a180-c7c4-11eb-9b44-5f365e9b970d.jpg)

I work on this issue under LGM-SOC'21 participant..please assigned me @QAZIMAAZARSHAD

[2021-06-07 13:50] QAZIMAAZARSHAD commented on #43
@SamikshaSankar this issue is already open. See issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/1.

Before opening any issue make sure that any similar is not open.

[2021-06-07 13:50] #43 closed

[2021-06-07 19:09] SamikshaSankar commented on #3
Please assign this issue to me ...I will use flip box for this

[2021-06-07 19:55] royalleads15 opened #44 "Navigation bar and bottom to top button"
Navigation bar must be stick to page so that one who is on bottom of page  can easily acess home movies webseries etc section and there must be a bottom to top button so that on clicking one can go to top of page .

[2021-06-07 20:10] royalleads15 opened #45 "Apnathreatre.com must be responsive."
Responsive website is a website which adjust itself according to screen size so that all user can interact easily irrespective of there screen size .
![bug](https://user-images.githubusercontent.com/56637948/121081327-34694e00-c7fa-11eb-8f1c-7f0cadfb8be9.jpg)
this website must be responsive so that it content can adjust itself according to screen size .

[2021-06-08 04:46] QAZIMAAZARSHAD commented on #3
@SamikshaSankar go ahead,

I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-08 04:52] QAZIMAAZARSHAD commented on #44
@royalleads15 these issues are already open. See issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/33 and https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/18.

Before opening any issue please make sure that any similar issue is not already open.

[2021-06-08 04:52] #44 closed

[2021-06-08 04:55] QAZIMAAZARSHAD commented on #45
@royalleads15 this issue is already open. See issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/2.

Before opening any issue please make sure that any similar issue is not already open.

[2021-06-08 04:55] #45 closed

[2021-06-08 05:29] royalleads15 opened #46 "Add zoom in/zoom out button"

[2021-06-08 06:18] ankitmishra067 opened #47 "Change "hover effect on Nav bar""
If we change hover effect on nav bar. like, when we hover on that icon than background of particular icon will gets change

[2021-06-08 06:19] ankitmishra067 commented on #47
I would like to work on this issue @QAZIMAAZARSHAD , Please assign me

[2021-06-08 06:59] QAZIMAAZARSHAD commented on #46
@royalleads15 I don't think there is any need for a zoom in/zoom out button on this website.

But if you would like to add this feature then go ahead.
I'll accept this only if the design suits the website.

[2021-06-08 07:05] QAZIMAAZARSHAD commented on #47
@ankitmishra067 this issue is already open, see issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/33.

Before opening any new issue please always make sure that no other similar issue is already open.

[2021-06-08 07:05] #47 closed

[2021-06-08 08:14] QAZIMAAZARSHAD commented on #4
Sure, @Ayushi7456 go ahead.

[2021-06-08 09:01] royalleads15 opened #48 "Quality of movie"
We can also specify the quality of movie in top right corner of every movie poster.

[2021-06-08 09:07] QAZIMAAZARSHAD commented on #48
What do you mean by quality?
Picture quality or movie rating.

[2021-06-08 09:17] QAZIMAAZARSHAD commented on #48
I don't think this is necessary to specify. Because every movie can be watched in both good and bad quality. Also, there is always an option to increase or decrease quality while watching.
No movie website and app specify on the homepage about the quality of the picture.

[2021-06-08 09:17] #48 closed

[2021-06-08 13:41] SamikshaSankar opened #49 "Overlapping footer and picture cards"
![2021-06-08 (10)_LI](https://user-images.githubusercontent.com/52104082/121195462-3fb98980-c88d-11eb-9ec1-251d8d82856e.jpg)

[2021-06-08 13:50] QAZIMAAZARSHAD commented on #49
Go ahead,

I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-08 14:43] RakeshCharpe commented on #4
I would like to work on this issue ,can I work on this issue I am a participant of LCM Soc21

[2021-06-08 14:50] QAZIMAAZARSHAD commented on #4
Sure, go ahead

[2021-06-08 15:32] nitishapiplani commented on #20
I will like to work on this if possible assign to me
Lgm SoC participant

[2021-06-08 15:33] coding-geek21 commented on #32
@QAZIMAAZARSHAD Just a suggestion shall we replace the slider with carousel it will make the website look even more attractive

[2021-06-08 15:45] QAZIMAAZARSHAD commented on #20
@nitishapiplani this is an easy issue and other contributors are also willing to solve this issue so I cannot assign you this issue.

Look for any other issues or open new issues.

[2021-06-08 15:51] QAZIMAAZARSHAD commented on #32
Okk, if you want to.

 I'll assign you the issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/8, just ping me over there.

[2021-06-08 15:53] coding-geek21 commented on #32
Yes it would be a pleasure for me to work on it , Thank you :) @QAZIMAAZARSHAD

[2021-06-09 03:04] kumarishalini6 opened #51 "Preloader"

[2021-06-09 03:05] kumarishalini6 opened #52 "Add a splash screen"

[2021-06-09 04:14] V-Yeshwanth commented on #52
I would like to work on this issue !!

[2021-06-09 04:15] V-Yeshwanth commented on #51
I would like to work on this issue !!

[2021-06-09 04:19] V-Yeshwanth commented on #33
I would like to work on this issue !!

[2021-06-09 04:19] SayanSaha01 opened #53 "Cursor hover color change"
this will impart an interactive look to your website i want to work on this issue and have already made the changes

[2021-06-09 04:23] kumarishalini6 commented on #33
@V-Yeshwanth  I am requesting you to please create new issue because I am also a participant and it is tough to find issue for me too please 🙏🙏.

[2021-06-09 04:23] kumarishalini6 commented on #52
@V-Yeshwanth  I am requesting you to please create new issue because I am also a participant and it is tough to find issue for me too please 🙏🙏.

[2021-06-09 05:08] V-Yeshwanth commented on #53
Hey @QAZIMAAZARSHAD I want to work on this issue

[2021-06-09 05:09] QAZIMAAZARSHAD commented on #51
@kumarishalini6 this issue is already open. See issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/7.

Before opening any issue make sure no other similar issue is already open.

[2021-06-09 05:09] #51 closed

[2021-06-09 05:10] SayanSaha01 commented on #53
![Screenshot (143)](https://user-images.githubusercontent.com/75988493/121296867-fc076400-c90e-11eb-8da6-43fdb79d419f.png)

[2021-06-09 05:17] V-Yeshwanth opened #54 "Design description window when movie card is clicked"

[2021-06-09 05:18] V-Yeshwanth opened #55 "Complete Mobile Responsive"

[2021-06-09 05:31] QAZIMAAZARSHAD commented on #33
Yes, @kumarishalini6 you guys are willing to work on every single issue. Remember you won't get any points for being assigned to an issue, you have to solve these issues.
If you are assigned to 10 issues then you cannot work on every single issue simultaneously, in that case, I will not wait for you to complete your work if I receive any PR prior to yours's which solves that issue then I will merg

[2021-06-09 05:41] QAZIMAAZARSHAD commented on #52
Go ahead.

Use the new logo in the splash screen which is yet to be created https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/4.
Till then use any sample picture to work on this issue.

[2021-06-09 05:50] QAZIMAAZARSHAD commented on #53
@SayanSaha01 another similar issue is already open. See issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/33.

These effects and features will be dealt with in that issue.

[2021-06-09 05:50] #53 closed

[2021-06-09 05:54] QAZIMAAZARSHAD commented on #54
@V-Yeshwanth another issue with the hovering effect is open https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/10.
Also, IMDB rating is mentioned on the movie card, no need for description.

[2021-06-09 05:56] QAZIMAAZARSHAD commented on #54
But you can do one thing.

When clicking on a movie card a description window should open, it should contain a movie poster on the left side, and description, IMDB rating, languages available and play, download button on the right side.

[2021-06-09 06:02] QAZIMAAZARSHAD commented on #55
@V-Yeshwanth this issue is already open (https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/2).

Don't open any issue without verifying that any similar issue is open or not.

[2021-06-09 06:02] #55 closed

[2021-06-09 06:24] V-Yeshwanth commented on #54
Sure! And I am Going to provide a button for IMDB page of that movie for full complete description

[2021-06-09 06:25] V-Yeshwanth commented on #54
Am i assigned for this issue .?

[2021-06-09 06:28] QAZIMAAZARSHAD commented on #54
Yes, you can start your work.

[2021-06-09 07:49] coding-geek21 opened #56 "Add movie card sliders with handles"
Instead of displaying whole content for a particular movie genre we can add card slider so that user can click on it to view cards on left side and right side

@QAZIMAAZARSHAD  I would like to work on this please assign me ,

[2021-06-09 07:57] QAZIMAAZARSHAD commented on #56
@coding-geek21 correct me if I am wrong.

You want to add a slider/carousel in every genre page.

[2021-06-09 08:07] coding-geek21 commented on #56
No it's like simply looks like this
we can add this for each sub headings
![image](https://user-images.githubusercontent.com/53329034/121316965-75ab4c00-c927-11eb-8c5e-423cf41b82c5.png)

for eg We can take movie subheading
![image](https://user-images.githubusercontent.com/53329034/121317112-9b385580-c927-11eb-9f2c-b909ffe92789.png)
instead of displaying entire cards we can have next and previous

[2021-06-09 08:15] QAZIMAAZARSHAD commented on #56
Okk, that's what I thought you should have said movie, kids, web series section instead of movie genre.

Go ahead, I'll assign you this issue when the contribution period starts.
And don't use arrow buttons for moving right and left it will not look good.

[2021-06-09 08:28] kumarishalini6 commented on #52
ok

[2021-06-09 08:57] coding-geek21 commented on #56
Yeah , Thank you :)

[2021-06-09 09:25] coding-geek21 commented on #35
Hi @QAZIMAAZARSHAD  I have designed the kids page , can you please give your feedback on it .
I will change the pictures, for now i just used some random pictures , and if you think any changes has to be done please inform me, I would be happy to do :)

https://screenrec.com/share/RFlcYVyCQA

[2021-06-09 09:57] QAZIMAAZARSHAD commented on #35
It's fine.

Good Job. Make the changes and make PR.

[2021-06-09 10:03] vishalps2606 commented on #42
I would like to contribute to this issue.

[2021-06-09 10:07] QAZIMAAZARSHAD commented on #42
@vishalps2606 since this is an easy issue and other contributors are already working on it I cannot assign you this issue.
You can look for any other issue, or open new issues.

[2021-06-09 10:14] vishalps2606 commented on #10
I would also want to contribute to this issue! Can you assign it to me?

[2021-06-09 10:18] coding-geek21 commented on #35
sure , Thank you

[2021-06-09 10:19] QAZIMAAZARSHAD commented on #10
Go ahead,
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.

[2021-06-09 12:17] darshjain opened #58 "Screen Sizing is very improper"
The Page overflows a lot in both vertical axis and horizontal axis. Also some content like footer overlaps in some situations

[2021-06-09 12:40] QAZIMAAZARSHAD commented on #58
@darshjain these issues are already open. See issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/1 and https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/49.

Before opening any issue always make sure that no other similar issue is open.

[2021-06-09 12:40] #58 closed

[2021-06-09 12:54] archanagandhi opened #59 "Make navbar fixed"
hey @QAZIMAAZARSHAD, I would like to make the navbar of the website fixed and sticky on top. Please assign this to me

[2021-06-09 12:58] QAZIMAAZARSHAD commented on #59
@archanagandhi this issue is already open. See issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/33.

Before opening any issue always make sure that no other similar issue is open.

[2021-06-09 12:58] #59 closed

[2021-06-09 13:26] archanagandhi opened #60 "Recommendation page"
Recommendation or mood page which will suggest movies according to the mood

[2021-06-09 13:27] QAZIMAAZARSHAD commented on #60
Go ahead.

[2021-06-09 14:28] Kartikey0205 commented on #2
@QAZIMAAZARSHAD  hello sir I would like to work on this and wants to modify as much as I can
please assign me this task under the LGM-SOC'21 if possible

[2021-06-09 14:46] QAZIMAAZARSHAD commented on #2
I'll assign you this issue when the contribution period starts from 10th June, then you can start working on this issue.
But keep in mind, since other contributors are also willing to resolve this issue I will merge only the first PR which will completely resolve this issue.

[2021-06-09 16:55] coding-geek21 commented on #30
@QAZIMAAZARSHAD
Can i implement same design as done in Kids page issue #35 for this page also?

[2021-06-09 16:59] QAZIMAAZARSHAD commented on #30
Sure,

[2021-06-09 17:00] coding-geek21 commented on #30
Thank you :) I will make PR tomorrow

[2021-06-09 17:07] coding-geek21 commented on #19
Can you assign me , I also wish to contribute to this issue @QAZIMAAZARSHAD

[2021-06-09 18:26] starrohan999 opened #62 "Design a logo that suits UI."
here it is.
![Apna Theater](https://user-images.githubusercontent.com/71714344/121408703-4d027100-c97e-11eb-8fde-91f4605b7cfb.png)

[2021-06-09 18:27] Nikhita28 opened #63 "Change the fonts and background"
The font family of the page can be changed to something more flattering. I would like to change the background of the entire website and instead of a single colour, we can have some gradient or an image whichever looks better.
I would like to work on this under lgmsoc 2021.

[2021-06-09 18:27] starrohan999 commented on #62
we can add in the main page replacing old I guess.

[2021-06-09 18:28] starrohan999 commented on #62
I am LGM soc-21 participant.

[2021-06-09 18:37] Nikhita28 commented on #4
I would like to work on this under lgmsoc 2021

[2021-06-09 19:19] Charvi-Bansal commented on #62
I would like to work on this issue.

[2021-06-09 19:46] jayant766 commented on #49
Hii, can I correct this bug?

[2021-06-09 19:52] SamikshaSankar commented on #49
Please assign @QAZIMAAZARSHAD

[2021-06-09 19:56] drishika2002 opened #65 "Adding space between sections of home page"
I would like to add space between the sections: Movies, Web Series, and Kids that is visible on the home page.

![Screenshot (1527)](https://user-images.githubusercontent.com/76254057/121420356-98228100-c98a-11eb-9eeb-7a1bda04ea8f.png)

Please assign this issue to me under LGM SOC'21.

[2021-06-09 20:31] AKC068 opened #67 "Login/Sign-Up Page UI Update"
- [ ] I would like to work on this page as this is also an important part for a dynamic website so it should be attractive.
- [ ] I've some great UI ideas to implement on this site.
- [ ] `Suggestion` - Login and Sign-Up should be in one page only in different tabs. (UI idea)

@QAZIMAAZARSHAD can you please assign this issue to me as participant of LGM-SOC'21

[2021-06-09 20:41] AKC068 opened #68 "Footer Redesign"
- [ ] I think footer needs modification.
- [ ] It should contain all the info which generally a footer contains.
- [ ] `Suggestion` - There should be a contact form or a new contact page.

@QAZIMAAZARSHAD can you please assign this issue to me as participant of LGM-SOC'21 ?

[2021-06-09 21:51] Astitva7717 commented on #4
please assign me this task (if you thinks it will enhance your project) under the Lgm-Soc'21

[2021-06-10 03:15] SanjeevKumar22 opened #69 "Index Page and Tv Page Improvement"
Footer changes
Login Page
Responsive

[2021-06-10 03:39] kumarishalini6 commented on #19
@QAZIMAAZARSHAD  i need to discuss you something

[2021-06-10 04:33] Rutikab12 commented on #11
Hey @QAZIMAAZARSHAD  can I now work on this issue

[2021-06-10 05:08] QAZIMAAZARSHAD commented on #20
@nisha331 this is an easy issue and other contributors are also willing to solve this issue so I cannot assign you this issue.

Look for any other issues or open new issues.

[2021-06-10 05:10] QAZIMAAZARSHAD commented on #63
@Nikhita28 these issues are already open. See issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/20 and https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/19.
Before opening any new issues always make sure that no other similar issue is already open.
You can look for any other issues or open new issues.

[2021-06-10 05:10] #63 closed

[2021-06-10 05:13] QAZIMAAZARSHAD commented on #13
@nisha331 this issue has already been resolved by @Dhanushreddy09 and will be closed soon.
Once that PR is merged you are welcome to open a new issue to improve the design or fix bugs if any.

[2021-06-10 05:32] theSumeetGithub opened #71 "Create user interest page or quiz"
Can U assign me to these?

[2021-06-10 05:50] coding-geek21 commented on #49
@QAZIMAAZARSHAD  I corrected this bug while working on home page in issue #19 So please assign me also,

[2021-06-10 05:58] QAZIMAAZARSHAD commented on #62
@starrohan999, @Charvi-Bansal, and @vishalps2606 this issue is already open. See issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/4.

All of you show your designs in that issue.
And don't make any PR's until I told you to do.

[2021-06-10 05:58] #62 closed

[2021-06-10 06:12] Charvi-Bansal commented on #4
Can I start working on this now?

[2021-06-10 06:42] QAZIMAAZARSHAD commented on #18
Fine, I will review your PR and merge it.

[2021-06-10 06:44] QAZIMAAZARSHAD commented on #65
No need @drishika2002.
Also, other issues like carousel view for movie cards, hovering effect, redesign home page are also open this issue will be fixed there.

[2021-06-10 06:44] #65 closed

[2021-06-10 06:47] starrohan999 commented on #4
hii @QAZIMAAZARSHAD  here is my logo that suits Ui of the website.
![Apna Theater](https://user-images.githubusercontent.com/71714344/121477725-d436ff80-c9e5-11eb-946f-d706bb8f1348.png)

[2021-06-10 06:48] QAZIMAAZARSHAD commented on #67
@AKC068 this issue is already open. See issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/13.

Also, that issue has been resolved and will be closed soon.
And if you believe your design is better than the new one then you are welcome to open a new issue to improve it.
Wait till I merge the other PR. Then you can open another issue.

[2021-06-10 06:48] #67 closed

[2021-06-10 06:48] starrohan999 commented on #4
Please tell me how is it and or any kind improvements as well.

[2021-06-10 06:49] SNEHAL311998 opened #76 "problem of logo on hover"
The logo and text move towards the right side on hovering. Pls assign me for this issue

[2021-06-10 06:53] QAZIMAAZARSHAD commented on #68
@AKC068 this issue is already open. See issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/5.

Before opening any issue always make sure that no other similar issue is open.

[2021-06-10 06:53] #68 closed

[2021-06-10 07:02] Jagannath8 commented on #4
![logo](https://user-images.githubusercontent.com/64650848/121479603-d306d200-c9e7-11eb-9479-db0f330a991f.gif)

This is the logo I've designed

[2021-06-10 07:04] starrohan999 commented on #4
Great

[2021-06-10 07:06] AKC068 commented on #68
Ohh so sorry I think I haven't seen it.
What about contact page

[2021-06-10 07:06] AKC068 commented on #67
Sure

[2021-06-10 07:08] Ayushi7456 commented on #4
Can i create PR or the issue has resolved?

[2021-06-10 07:20] QAZIMAAZARSHAD commented on #69
@SanjeevKumar22 these issues are already open. See issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/37, https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/5, https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/2.

Before opening any issues always make sure that no other issue is already open.

[2021-06-10 07:20] #69 closed

[2021-06-10 07:34] SanjeevKumar22 commented on #69
i already made dark and light mode and changed the Tv page Can i make pull request??

[2021-06-10 07:35] Deepak735 commented on #10
Hello sir, I would like to work on this issue as an LGMSOC participant..it will be really helpful if you assign it to me...

[2021-06-10 07:40] SanjeevKumar22 opened #77 "Card Animation and resoponsive to mobile"
On hovering on movie card in flips and shows description

[2021-06-10 07:41] QAZIMAAZARSHAD commented on #4
Don't make any PR's.

You are welcome to show your design. The best logo design will be accepted.

[2021-06-10 07:42] QAZIMAAZARSHAD commented on #4
Nice,

Others are also working let's wait and see their designs.

[2021-06-10 07:42] QAZIMAAZARSHAD commented on #4
Nice, It would be better if it had some catchy slogan.

[2021-06-10 07:46] RakeshCharpe commented on #4
Can we show the logo design here ?

[2021-06-10 07:46] QAZIMAAZARSHAD commented on #11
@Rutikab12 I don't think there is any need for this feature now because contributors are also designing premium and Tv pages.

A better page is way better than a popup "Site is under construction".

[2021-06-10 07:46] #11 closed

[2021-06-10 07:59] QAZIMAAZARSHAD commented on #71
Nice idea @theSumeetGithub.

But the login page issue is already open see issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/13.

You can create an interest page.
As soon as the user logins, It should direct it to the interest page where the user has to select interested movies among different choices or you can also create a quiz to determine interests then redirect the

[2021-06-10 08:00] RiyaGupta89 commented on #77
May I work on this issue?

[2021-06-10 08:03] theSumeetGithub commented on #71
Ohkk I am starting my work

[2021-06-10 08:03] Ciggzy1312 opened #78 "Bug in movie categories list"
The Suspense And Thriller category is in separate line although it is considered a single option

I would like to fix this issue under the lgm-soc tag

![image](https://user-images.githubusercontent.com/65884232/121487903-2f6def80-c9f0-11eb-9891-ed91d47776a1.png)

[2021-06-10 08:11] starrohan999 commented on #4
Sure @QAZIMAAZARSHAD

[2021-06-10 08:12] Rutikab12 commented on #11
Okay. I will Look for another issue.

[2021-06-10 08:18] starrohan999 commented on #4
@QAZIMAAZARSHAD
here i add slogon
![Uploading Apna Theater (1).png…]()

[2021-06-10 08:21] AkhilReddy21 opened #79 "Update Login UI"
Login page UI is bit clumsy and less attractive.so,I would like to update the UI with some attractive elements using HTML and CSS

[2021-06-10 08:23] utkarshgoel10 commented on #3
@QAZIMAAZARSHAD Can you please assign me this issue, I'm having an idea of a zoom effect that will look great on these.

[2021-06-10 08:28] tjanhvi opened #80 "Adjust the movie, web series, and kids pages"

[2021-06-10 08:31] tjanhvi opened #81 "Improve the copyright design"

[2021-06-10 08:51] jayant766 commented on #46
Please assign me this issue under LGMSOC'21

[2021-06-10 09:08] RakeshCharpe commented on #4
Here is my two logo design ....

[2021-06-10 09:09] RakeshCharpe commented on #4
![20210610_132317_0000.png](https://user-images.githubusercontent.com/69101908/121497900-86c48d80-c9f9-11eb-909d-78a33a4f250d.png)
![20210610_132521_0000.png](https://user-images.githubusercontent.com/69101908/121497920-8b894180-c9f9-11eb-81dc-31f298f465ba.png)

Here is my two logo design....

[2021-06-10 09:37] QAZIMAAZARSHAD commented on #3
@iam-sakshi I will review your PR soon.

[2021-06-10 09:42] QAZIMAAZARSHAD commented on #49
@SamikshaSankar and @jayant766 a PR for this issue has already been made which will likely close this issue.

You can look for any other issues.

[2021-06-10 09:44] QAZIMAAZARSHAD commented on #19
Fine @coding-geek21, I'll review your PR soon.

[2021-06-10 09:52] coding-geek21 commented on #19
Thank you :)

[2021-06-10 10:39] JatanDudeja commented on #33
I would like to work on this issue.

***Changes I would make :-***
1. I will add the logo to the left most side of the top most navbar.
2. I will center the nav bar items .
3. I will change the color of the navbar according to the contrast of the website.

[2021-06-10 10:58] Charvi-Bansal commented on #4
![Apna theatre (2)](https://user-images.githubusercontent.com/77285977/121513562-9ac3bb80-ca08-11eb-88a9-aed9913af93a.png)

Here is my logo :)

[2021-06-10 11:11] QAZIMAAZARSHAD commented on #32
@coding-geek21 I'll review your PR sson.

[2021-06-10 11:13] QAZIMAAZARSHAD commented on #20
Fine @sanketcharanpahadi I'll review your PR soon.

[2021-06-10 11:15] QAZIMAAZARSHAD commented on #76
@SNEHAL311998 this is not a problem this is an effect.
Also, other similar issues like design logo, redesign home page, etc. are also open which will improve the design.

[2021-06-10 11:15] #76 closed

[2021-06-10 11:17] QAZIMAAZARSHAD commented on #68
Okk if you want to create a contact page go ahead.
Open a new issue and I will assign you.

[2021-06-10 11:24] QAZIMAAZARSHAD commented on #69
@SanjeevKumar22 go to issue number #37 for TV design and issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/22 for dark/light mode.

Ping me in both the issues to assign you that issue then only you can make PR. Also other contributors are already working on these issues so only the best design will be accepted.

[2021-06-10 11:25] QAZIMAAZARSHAD commented on #10
Remember only the best solution will be accepted.

[2021-06-10 11:30] tjanhvi commented on #81
Please assign me this issue.

[2021-06-10 11:30] tjanhvi commented on #80
Please assign me this issue.

[2021-06-10 11:33] QAZIMAAZARSHAD commented on #77
@SanjeevKumar22 and @RiyaGupta89 these issues are already open see issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/3 and https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/2.

Don't open any issue which are already open. Before opening issues always make sure that no other similar issue is open.

[2021-06-10 11:33] #77 closed

[2021-06-10 11:39] nandinimalik16 commented on #23
@QAZIMAAZARSHAD please assign me this issue. I would like to work on this issue as LGM Soc participant

[2021-06-10 11:45] QAZIMAAZARSHAD commented on #78
@Ciggzy1312 this issue has already been resolved in issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/12 and will be closed soon.

Please always make sure that no other similar issue is open before opening any new issue.

[2021-06-10 11:45] #78 closed

[2021-06-10 11:49] QAZIMAAZARSHAD commented on #79
@AkhilReddy21 this issue is already open. See issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/13.

Before opening any issue always make sure that no other similar issue is open.

[2021-06-10 11:49] #79 closed

[2021-06-10 12:02] QAZIMAAZARSHAD commented on #33
Remember only the best design/solution will be accepted.

[2021-06-10 12:07] QAZIMAAZARSHAD commented on #4
Cool @RakeshCharpe and @Charvi-Bansal .

[2021-06-10 12:08] QAZIMAAZARSHAD commented on #4
not visible @starrohan999.

[2021-06-10 12:13] QAZIMAAZARSHAD commented on #81
Sure, go ahead.

[2021-06-10 12:14] starrohan999 commented on #4
![Apna Theater (1)](https://user-images.githubusercontent.com/71714344/121523067-6d303f80-ca13-11eb-8843-7dd7aa3a563c.png)

[2021-06-10 12:14] starrohan999 commented on #4
@QAZIMAAZARSHAD  here it is.

[2021-06-10 12:16] nandinimalik16 opened #82 "Work on slide Holder"
to stop the motion as the mouse hover over any of the movie . also make slider button to rotate in the direction wanted

[2021-06-10 12:17] nandinimalik16 commented on #82
@QAZIMAAZARSHAD  I would like to work on this issue. Please assign it to me

[2021-06-10 12:18] QAZIMAAZARSHAD commented on #80
Always describe the issue and improvements you want to make whenever you open an issue.
"Adjust the movie, web series, and kids pages" this line is not clear.

Also issues to redesign the home page, design kids and web series page, improve kids, movies section is already open.
Before opening any issues always make sure that no other similar issue is open.

[2021-06-10 12:18] #80 closed

[2021-06-10 12:27] QAZIMAAZARSHAD commented on #4
Nice...

[2021-06-10 12:30] QAZIMAAZARSHAD commented on #82
Nice idea @nandinimalik16.

But use issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/8.
Ping me there and I will assign you.

[2021-06-10 12:30] #82 closed

[2021-06-10 12:42] aum-singhal commented on #10
Hello Sir.
I have completed this issue. Can I make a PR today or should I do it tomorrow 🤔
And please also help me with that should I make the PR in the main branch or should create my own first and then make the PR
in that branch.

Thanks for the help in advance 😊

[2021-06-10 12:48] QAZIMAAZARSHAD commented on #10
I suggest you to make PR tomorrow because today I have received more than a hundred Github notifications and it will not possible for me to review it today.

And for the other part do whatever you like. Both ways are fine.

[2021-06-10 13:08] BeginnerCoder21 commented on #4
Here is my logo
![TheaterLogo](https://user-images.githubusercontent.com/60263821/121530372-fb5bf400-ca1a-11eb-9e9e-5dda9f762061.png)

PDF file : [TheaterLogo.pdf](https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/files/6631611/TheaterLogo.pdf)

[2021-06-10 13:11] BeginnerCoder21 commented on #4
Here is my Logo
![TheaterLogo](https://user-images.githubusercontent.com/60263821/121530855-7a512c80-ca1b-11eb-9801-84c0e2498f64.png)
PDF file : [TheaterLogo.pdf](https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/files/6631647/TheaterLogo.pdf)

[2021-06-10 13:16] WH0SUMIT opened #83 "Search bar feature"
hello sir,
I would like to contribute to this feature, Basically in this feature whenever the user type for any movie name it will automatically show the modal popup box with the movie image & name if there is any movie present with that name and if there is no such movie is present then it will show an alert box/popup box with a message that no such movie is present and try again !!

[2021-06-10 13:17] QAZIMAAZARSHAD commented on #4
Awesome @BeginnerCoder21

[2021-06-10 13:19] WH0SUMIT opened #84 "Redesign the logo"
hello sir,
I would like to contribute to this feature,
please assign this to me.

[2021-06-10 13:21] QAZIMAAZARSHAD commented on #83
@WH0SUMIT this issue is already open, see issue number #6.

You can contribute to that issue. Ping me there to assign you.

[2021-06-10 13:21] #83 closed

[2021-06-10 13:22] aum-singhal commented on #10
Okay 😄 No Problem

Thanks for the help 😊

[2021-06-10 13:22] QAZIMAAZARSHAD commented on #84
@WH0SUMIT this issue is already open see issue number #4.

Before opening any issue always make sure that no other similar issue is open.

[2021-06-10 13:22] #84 closed

[2021-06-10 13:25] WH0SUMIT commented on #6
hello sir, I would also like to contribute to this feature.

[2021-06-10 13:30] QAZIMAAZARSHAD commented on #23
@harshita0802goswami and @nandinimalik16 a similar issue is already open https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/56.

Both of you ping me their https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/56 to assign you that issue.

[2021-06-10 13:30] #23 closed

[2021-06-10 13:45] SanjeevKumar22 commented on #37
I improved Index page and Tv page please assign me and create for PR

[2021-06-10 13:45] SanjeevKumar22 commented on #22
I improved Index page and Tv page please assign me and create for PR

[2021-06-10 13:47] QAZIMAAZARSHAD commented on #37
Since other contributors are also working on this issue only the best design will be accepted.

[2021-06-10 13:49] WayneHaworth commented on #49
As discussed please assign this to me.

[2021-06-10 13:54] coding-geek21 opened #85 "Improve the design of the movie cards for Each genres"
@QAZIMAAZARSHAD I would like to work on this please assign me

[2021-06-10 13:57] QAZIMAAZARSHAD commented on #13
@coding-geek21 this issue has already been resolved and will be closed soon.

You are always welcome to open a new issue to improve login page design again if you have some better idea.
Have patience till the other PR is merged.

[2021-06-10 13:59] coding-geek21 commented on #13
Sure thank you

[2021-06-10 13:59] QAZIMAAZARSHAD commented on #85
@coding-geek21 use issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/3 if you want to work on this issue.

[2021-06-10 13:59] #85 closed

[2021-06-10 14:06] coding-geek21 commented on #3
I want to improve the design of the cards can you please assign me too @QAZIMAAZARSHAD

[2021-06-10 14:12] Nikhita28 commented on #4
Here are the two logo designs that I came up with :)
![Apna theatre](https://user-images.githubusercontent.com/73106734/121540185-e59efc80-ca23-11eb-8811-48e177b565f9.png)

![Apna theatre (1)](https://user-images.githubusercontent.com/73106734/121540236-f2bbeb80-ca23-11eb-8c09-b5c2655cf57a.png)

[2021-06-10 14:14] QAZIMAAZARSHAD commented on #4
Very nice @Nikhita28

[2021-06-10 14:35] AKC068 opened #88 "Design contact page"
@QAZIMAAZARSHAD I would like to work on this as participant of LGM-SOC'21. Please assign this to me.

[2021-06-10 15:23] Ishigupta08 commented on #26
@QAZIMAAZARSHAD how will everyone solve this issue?

[2021-06-10 15:49] ekagrashukla commented on #88
HI! As a participant of LGM SOC21, I'd like to work on this issue.

[2021-06-10 16:11] royalleads15 opened #90 "Zoom on hover"
Zoom the image a little bit as user puts a hover over any image . For example
without hover i.e., normal
![z1](https://user-images.githubusercontent.com/56637948/121559563-50f0ca80-ca34-11eb-988b-ac65531e6fdf.jpg)
when user takes his hover over any image
![z2](https://user-images.githubusercontent.com/56637948/121559570-52ba8e00-ca34-11eb-8b90-be55f60ab717.jpg)

[2021-06-10 16:19] abhijeet141 commented on #6
@QAZIMAAZARSHAD Sir one issue is open for designing description window when movie card is clicked so when that issue will be merged it will be easier to add searchbar , as then by searching the movie name the description window will be popped up or else first we have to add description then add searchbar

[2021-06-10 16:20] abhijeet141 commented on #6
@QAZIMAAZARSHAD I will start this issue as soon as that issue will be merged :)

[2021-06-10 16:20] QAZIMAAZARSHAD commented on #26
Refer to premium pages of some cool websites.
Keep in mind the overall theme of the website.
Among all the contributors whose design will be best, their PR will be merged.

[2021-06-10 16:24] QAZIMAAZARSHAD commented on #88
Remember, since many contributors are working on this issue, the best design will be accepted.

[2021-06-10 16:26] #90 closed

[2021-06-10 16:27] QAZIMAAZARSHAD commented on #6
Sure

[2021-06-10 17:52] vimalprogrammer opened #92 "Design Header Structure and design"
Align the header icons correctly and make opacity effects in header icons

Reference below...
![WhatsApp Image 2021-06-10 at 11 17 46 PM](https://user-images.githubusercontent.com/76787061/121573143-86041980-ca42-11eb-9a86-c9947e145ea8.jpeg)

I would like to work on this issue under LGMSOC, please assign me...

[2021-06-10 17:56] QAZIMAAZARSHAD commented on #92
@vimalprogrammer this issue is already open https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/33.

Before opening any issue always make sure that no other similar issue is open.

[2021-06-10 17:56] #92 closed

[2021-06-10 18:05] nandinimalik16 commented on #8
@QAZIMAAZARSHAD  I would like to work on this, please this issue to me

[2021-06-10 18:36] starrohan999 opened #93 "Update copyright year"
In the footer section, the year is not updated.

[2021-06-10 19:41] Ayushi7456 commented on #4
I made this one.
![Apna Theatre3-01](https://user-images.githubusercontent.com/78416191/121586876-1e58ba80-c9bf-11eb-9b58-31f4909b496c.png)

[2021-06-10 19:43] Ayushi7456 commented on #4
I made this one.
![Apna Theatre4-01](https://user-images.githubusercontent.com/78416191/121587188-742d6280-c9bf-11eb-9ea5-32cb586186d6.png)

[2021-06-10 21:53] JatanDudeja commented on #17
If this issue is not resolved please assign it to me.

[2021-06-11 00:54] MukulKolpe opened #96 "Adding contributors section in README file."
Hii, Can I add the contributor's section in the README file using 'contributors-img' so that we can display GitHub profile pictures of all the contributors of this project?
Thanks!!

[2021-06-11 02:14] harshita0802goswami commented on #88
Hii!! Pls assign this issue to me

[2021-06-11 02:25] harshita0802goswami commented on #56
Pls assign me this issue

[2021-06-11 04:39] AnjaniSriya commented on #93
I an a member of LGM SOC
Please allow me, I can do this

[2021-06-11 04:39] #49 closed

[2021-06-11 04:47] #13 closed

[2021-06-11 05:11] #32 closed

[2021-06-11 05:15] #17 closed

[2021-06-11 05:25] QAZIMAAZARSHAD commented on #81
Use issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/5.

Ping me their and I will assign you.

[2021-06-11 05:25] #81 closed

[2021-06-11 05:31] MEETOZA123 commented on #10
hello sir i can work on this issue
please assign it to me

[2021-06-11 05:32] #35 closed

[2021-06-11 05:49] tanzzz-tech commented on #88
Please assign this issue to me! i am a LGMSOC participant

[2021-06-11 05:52] QAZIMAAZARSHAD commented on #4
Cool @Ayushi7456

[2021-06-11 05:56] abhijeet141 opened #104 "Improve login page design"
I would like to enhance the UI of Login Page as keeping in mind the current theme
Please assign me this issue.

[2021-06-11 06:02] QAZIMAAZARSHAD commented on #96
Go ahead.

[2021-06-11 06:16] QAZIMAAZARSHAD commented on #93
Don't just change the text.
It should update automatically every year according to date.

[2021-06-11 06:17] QAZIMAAZARSHAD commented on #93
@AnjaniSriya this issue has already been assigned look for some other issues.

[2021-06-11 06:23] LegendSumeet opened #106 "Add news and coming soon section"
![news and comingsoon](https://user-images.githubusercontent.com/85386116/121640274-5806ef80-caab-11eb-9215-5c5b3d1d2e6d.png)

can i get assign to it?

[2021-06-11 06:25] #88 closed

[2021-06-11 06:34] QAZIMAAZARSHAD commented on #10
This issue has already been resolved and will be closed soon.
Look for any other issues.

[2021-06-11 06:38] MEETOZA123 commented on #93
hello sir can i work on this issue
please assign it to me

[2021-06-11 06:43] AKC068 commented on #88
@QAZIMAAZARSHAD sorry but I haven't given my pr yet then how it can be closed.
2nd I have created the pr.
And you told best will be merged.
As now it is closed so how can I send pr ?

[2021-06-11 06:52] QAZIMAAZARSHAD commented on #3
@iam-sakshi your design was better but It had many irregularities as well.
It was occupying too much space.
Huge space between the bottom card and the footer.
On flipping card text was not at the center.

You can fix these bugs and again open the issue to improve the image hover effect.

And others also who are working on this issue if they believe their design is an improvement they can open new

[2021-06-11 06:52] #3 closed

[2021-06-11 06:53] ish-0709 commented on #104
Sir, I would also like to enhance the UI of the Login Page
Please assign me this issue. I have recently joined LetsGrowMore.

[2021-06-11 07:21] #96 closed

[2021-06-11 07:30] QAZIMAAZARSHAD commented on #106
@theSumeetGithub go ahead.

But are you sure this section will look good at the bottom?
Also, follow the theme of the website use red and black color.

[2021-06-11 07:31] QAZIMAAZARSHAD commented on #93
@MEETOZA123 this issue has already been assigned look for some other issues.

[2021-06-11 07:31] theSumeetGithub commented on #106
ohk  i wll be making them as per the website theme

[2021-06-11 07:38] starrohan999 commented on #93
Thank you for assign this task to me.
I will make Pr in next 30 min.

[2021-06-11 07:44] QAZIMAAZARSHAD commented on #88
Yes, I know.

If you believe your design is better, then you can again open a new issue "Improve contact page" ask me to assign you that issue then make your PR.

[2021-06-11 07:49] kshitija-2001 commented on #4
I would like to work on this issue , can I work on this issue I am a participant of LCM Soc21.

[2021-06-11 07:49] kshitija-2001 commented on #4
I would like to work on this issue , can I work on this issue I am a participant of LCM Soc21.

[2021-06-11 07:49] AKC068 commented on #88
ok

[2021-06-11 07:51] kshitija-2001 commented on #52
I would like to work on this issue ,can I work on this issue I am a participant of LCM Soc21.

[2021-06-11 08:14] harshita0802goswami opened #108 "add page icon"

[2021-06-11 08:16] QAZIMAAZARSHAD commented on #4
@kshitija-2001 this issue has already been resolved.

[2021-06-11 08:18] QAZIMAAZARSHAD commented on #108
@harshita0802goswami this issue is already open #9.

Before opening any issue always make sure that no other similar issue is open.

[2021-06-11 08:18] #108 closed

[2021-06-11 08:29] kshitija-2001 commented on #52
which logo we have to use for displaying?

[2021-06-11 08:34] QAZIMAAZARSHAD commented on #52
Use the new logo in the splash screen which is yet to be created #4.
Till then use any sample picture to work on this issue.

[2021-06-11 08:38] ekagrashukla commented on #5
Hi 👋 I'd like to work on this issue as a participant of LGM SOC21.

[2021-06-11 08:39] kshitija-2001 commented on #52
ok

[2021-06-11 09:02] AKC068 opened #110 "Improve Contact Page"
I request you to not to close this issue as I'm working on it.
And I've some good idea than current contact page.

[2021-06-11 09:04] QAZIMAAZARSHAD commented on #110
go onn

[2021-06-11 10:03] JatanDudeja opened #114 "Changing Mouse Pointer When Hovering Over Movies"
When hovering over movies the cursor remains as it is so it does not look like the the movie is clickable so I will change the default cursor to a pointer(hand mouse pointer).

[2021-06-11 10:03] JatanDudeja commented on #114
I would like to work on this please assign this issue to me.

[2021-06-11 10:13] MEETOZA123 commented on #12
I would like to work on this issue

[2021-06-11 10:20] #12 closed

[2021-06-11 10:20] QAZIMAAZARSHAD commented on #12
Already solved.

[2021-06-11 10:23] MEETOZA123 commented on #114
i would like to work on this issue

[2021-06-11 10:57] QAZIMAAZARSHAD commented on #114
Go ahead

[2021-06-11 10:58] QAZIMAAZARSHAD commented on #114
Since this is an easy issue I cannot assign it to many participants.

[2021-06-11 11:01] nitishapiplani commented on #33
i would like to work on this iff possible
lgm soc participant

[2021-06-11 11:17] QAZIMAAZARSHAD commented on #33
Remember only the best design/solution will be accepted.

[2021-06-11 11:23] nitishapiplani commented on #33
okkay sure

[2021-06-11 12:09] tjanhvi commented on #5
I would like to work on this issue

[2021-06-11 12:17] Deepak735 commented on #10
Hello sir i m still working on this issue should i continue it or not

[2021-06-11 12:18] Esha-Sherring commented on #71
Can I work in collaboration for this issue ?

[2021-06-11 12:19] heyankit78 opened #120 "Google authentication"
It helps user to login by google

[2021-06-11 12:49] heyankit78 commented on #120
I want to work on this
Please assign me

[2021-06-11 13:15] QAZIMAAZARSHAD commented on #5
This issue is already assigned to many participants and will be closed soon.
Look for any other issue.

[2021-06-11 13:23] Aditi-Singh16 opened #122 "Add verification by email while signing up"
After the user clicks on sign-in a code will be sent to the user to verify his/her email-id and if he/she enters the correct code registration will be successful.

[2021-06-11 13:24] Aditi-Singh16 commented on #122
Please assign this issue to me, I would like to work on it.

[2021-06-11 13:25] QAZIMAAZARSHAD commented on #10
It is open for you.
But remember only the best solution will be considered.

[2021-06-11 13:29] Aditi-Singh16 opened #123 "Add constraints for strong password"
I can see there are no constraints on passwords, adding constraints like password-length 8 characters, including special characters, would be great.
Please assign this issue to me ,I would like to work on it

[2021-06-11 13:33] QAZIMAAZARSHAD commented on #71
Go ahead

[2021-06-11 13:35] theSumeetGithub commented on #71
but  @QAZIMAAZARSHAD i  have done it ? my work is just to get end.....

[2021-06-11 13:39] anubhav201241 opened #124 "Responsive Site"
Add some decent fonts to make the site more responsive. The site has a beautiful color scheme that draws in more visitors.
and also want to make nav bar responsive.

[2021-06-11 13:53] theSumeetGithub commented on #71
@Esha-Sherring welcome to team

[2021-06-11 14:08] coding-geek21 commented on #104
@QAZIMAAZARSHAD I would also like to contribute to this issue , please assign me

[2021-06-11 14:19] Shaishav0507 opened #126 "Add more database(more content)"
Hey @QAZIMAAZARSHAD
I would like to add more database to it.
If possible please assign it to me.
Thanks

[2021-06-11 14:21] ish-0709 commented on #104
@QAZIMAAZARSHAD Sir I have linked a PR, please have a look at it and tell me if it's fine or not. Thank you, sir.

[2021-06-11 14:23] Shaishav0507 opened #127 "Add Favicon"
Hey @QAZIMAAZARSHAD
I would like to add favicon to the site.
Thanks.

[2021-06-11 14:28] QAZIMAAZARSHAD commented on #120
Sure go ahead.

[2021-06-11 14:43] QAZIMAAZARSHAD commented on #42
@SamikshaSankar Do one thing.

Due to an update the search bar has been shifted below navbar, try to put it back in place,

[2021-06-11 14:45] SamikshaSankar commented on #42
![IMG_20210611_201411](https://user-images.githubusercontent.com/52104082/121704719-a2ab5a80-caf1-11eb-9a1e-718f4ab5287c.jpg)

See this the output of my 2 pr

[2021-06-11 14:59] Kartikey0205 commented on #2
@QAZIMAAZARSHAD  what about this issue does somebody working on it ?

If not then would you please assign this to me
and shall I use any framework to make it completely responsive because as I see all Navbar , links and many more are misplaced in other views.

[2021-06-11 15:17] QAZIMAAZARSHAD commented on #122
Go ahead

[2021-06-11 15:21] QAZIMAAZARSHAD commented on #123
Go ahead

[2021-06-11 15:32] QAZIMAAZARSHAD commented on #124
@anubhav201241 these issues are already open #20, #33.

Before opening any issues always make sure that no other similar issue is open.

[2021-06-11 15:32] #124 closed

[2021-06-11 15:36] nandinimalik16 commented on #8
@QAZIMAAZARSHAD  I have created a pull request , please review it tell the necessary changes that I should do

[2021-06-11 15:37] #5 closed

[2021-06-11 15:58] SamikshaSankar commented on #42
![2021-06-11 (2)](https://user-images.githubusercontent.com/52104082/121714689-b8be1880-cafb-11eb-9c7d-b614ee4db95c.png)

Now It's fine I think?..2 PR was right but due to search bar its shoes error..Let me know is it ok or not? Then I will create PR

[2021-06-11 16:01] #71 closed

[2021-06-11 16:14] QAZIMAAZARSHAD commented on #126
You want to add more movie cards. Right?

[2021-06-11 16:14] Shaishav0507 commented on #126
Yes

[2021-06-11 16:17] QAZIMAAZARSHAD commented on #127
This issue is already open #9.

Before opening any issue always review that no other similar issue is open.
And first try to solve the issues for which you are already assigned, once complete then go for other issues.

[2021-06-11 16:17] #127 closed

[2021-06-11 16:26] Charvi-Bansal commented on #4
I want to ask this issue #4 has been resolved? But its still open ..Pls clarify

[2021-06-11 16:31] QAZIMAAZARSHAD commented on #2
Go ahead

[2021-06-11 16:32] Shaishav0507 commented on #126
Can I go ahead ?

[2021-06-11 16:56] anushka-srivastava22 opened #131 "Add a Login Page"
Adding a login page and connecting both login and sign up page.

[2021-06-11 17:34] #8 closed

[2021-06-11 17:43] QAZIMAAZARSHAD commented on #42
Perfect.

Create PR.

[2021-06-11 17:44] QAZIMAAZARSHAD commented on #42
Try not to have any conflicts this time, first update your repository, then make the changes, then make PR.

[2021-06-11 18:04] QAZIMAAZARSHAD commented on #4
This issue is still open for those who were assigned for this issue.
@Charvi-Bansal you can show your design.

The best logo will be accepted.

[2021-06-11 18:05] Umesh-01 opened #134 "Add links to the following gifs"
I think these two gifs (see the below image) should contain a links to the related files because there are the chances that anyone can click on them and these are of no use. So it must redirect us to the pages where these files are present. 🙂

![image](https://user-images.githubusercontent.com/83420185/121730446-5241f600-cb0d-11eb-89b6-a31494b88b33.png)

[2021-06-11 18:05] QAZIMAAZARSHAD commented on #126
Yes
Use the same size screenshots.

[2021-06-11 18:10] Charvi-Bansal commented on #4
I have posted my design :) Thanks for clarifying.

[2021-06-11 18:13] Umesh-01 commented on #134
@QAZIMAAZARSHAD may I work on this?? 🙂

[2021-06-11 18:14] QAZIMAAZARSHAD commented on #131
@anushka-srivastava22 use issue number https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/104.

Ping me there and I will assign you.

[2021-06-11 18:14] #131 closed

[2021-06-11 18:17] #123 closed

[2021-06-11 18:18] anushka-srivastava22 commented on #104
I am lgmsoc participant. I would love to work upon this issue. Kindly assign me this issue.

[2021-06-11 20:06] nekkantimadhu commented on #134
I would like to contribute on this issue under LGM SOC 21,   Could you please assign this issue to me?

[2021-06-12 03:01] nandinimalik16 commented on #2
@QAZIMAAZARSHAD  Can you please assign me this issue, I would like to work on it

[2021-06-12 03:06] Shaishav0507 commented on #126
Ok sure.

[2021-06-12 03:11] nandinimalik16 commented on #56
Please assign me this issue

[2021-06-12 04:32] ish-0709 commented on #104
@QAZIMAAZARSHAD Sir I have linked a new PR and solved all the previous issues, added a new sign-up page as well connecting it to the quiz.html page. Please have a look and tell me if the new PR needs any changes?? Thank You, sir.

[2021-06-12 05:25] QAZIMAAZARSHAD commented on #134
Already closed.

[2021-06-12 05:25] #134 closed

[2021-06-12 06:00] #104 closed

[2021-06-12 07:40] Vedant-Jayesh-Oza opened #141 "Add Top Regional Hits page"
Hello @QAZIMAAZARSHAD sir, I would like to add a page called regional hits just like horrors, comedy etc in that page I will add movies which are top hits and famous movies of different languages like Marathi, gujarati, etc. Please assign this issue to me, I am a LGM-SOC'21 Participant.

[2021-06-12 07:47] QAZIMAAZARSHAD commented on #42
@SamikshaSankar your changes are not displaying the same output.
I am saying this again, first completely update your repository. See your repo doesn't have a custom scroll bar.
Make a separate updated branch then push only the necessary changes.

And before making PR review both live demo and code.

[2021-06-12 07:54] sameer882000 opened #142 "Favicon logo missing in Website's logo in Title Bar"

[2021-06-12 08:15] Esha-Sherring commented on #71
This issue got closed is the work done or I can make a different quiz page?

[2021-06-12 08:32] QAZIMAAZARSHAD commented on #71
Yes, this issue has been resolved.
If you want to make any improvements you can open another issue.

[2021-06-12 08:36] QAZIMAAZARSHAD commented on #2
others are already assigned.
Look for any other issues.

[2021-06-12 09:03] SamikshaSankar commented on #42
@QAZIMAAZARSHAD please review

[2021-06-12 09:36] ish-0709 commented on #142
@QAZIMAAZARSHAD I linked a PR for this issue Please have a look. Thank you, sir.

[2021-06-12 11:23] QAZIMAAZARSHAD commented on #141
Similar issue is already present https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/36.

[2021-06-12 11:23] #141 closed

[2021-06-12 11:26] nik464 opened #147 "Add serials section like popular, new, fantasy in TV page"
Hey @QAZIMAAZARSHAD,

I would like to add TV sections page with list of popular tv shows on channels like sony, star plus,colors for our audience. Sir, can you please assign the issue as I am a LGM- SOC participant and will surely complete it by time. Currently it has no list.
![image](https://user-images.githubusercontent.com/82432273/121774252-32f3a900-cb9f-11eb-8f11-41fe23a1394f.png)

[2021-06-12 11:44] #42 closed

[2021-06-12 11:48] QAZIMAAZARSHAD commented on #142
@ish-0709 this issue is already open #9.

Don't make PR's for those issues for which you are not assigned.

[2021-06-12 11:48] #142 closed

[2021-06-12 11:57] QAZIMAAZARSHAD commented on #4
@BeginnerCoder21, @Jagannath8, @RakeshCharpe, @starrohan999, @Nikhita28, @Astitva7717, @Charvi-Bansal, @Ayushi7456, @adampavel.

You all can make PR now.

Don't do any changes in code.
Just create a folder named "Logo" in the Images folder and add your logo in that folder.

[2021-06-12 11:58] starrohan999 commented on #4
Sure sir

[2021-06-12 12:04] RakeshCharpe commented on #4
Sure sir

[2021-06-12 12:11] nik464 commented on #37
I have improved tv page .Please assign this issue I am just a beginner at lgm-soc.

[2021-06-12 12:16] ish-0709 commented on #142
Okay sir, sorry I'll keep that in mind.

[2021-06-12 12:18] ish-0709 commented on #9
Sir if this issue is still unresolved, Can I work on this issue?

[2021-06-12 13:10] nik464 commented on #60
please assign me this . I will surely design recommendations page as LGM SOC participant.

[2021-06-12 13:12] nik464 commented on #52
I would like to contribute to splash screen as LGM 2021 participant. I know html css and javascript. Please assign the work to me.

[2021-06-12 13:27] Ayushi7456 commented on #4
We have to add logo with or without background? And In which format we have to add the logo? png?

[2021-06-12 14:04] harshita9621 commented on #147
@QAZIMAAZARSHAD Please assign me this issue.

[2021-06-12 14:05] KunalSharmaCoder opened #150 "I Want to make search bar functional with a movie API"
``when any people search for a movie It will give all the information about the given movies on a new page through movie API.  you can search any movie on this and it will show all the related  movies according to the search query and all the details like imdb ratings ,etc.`` @QAZIMAAZARSHAD  , can you assign me this issue under LGM-SOC'21.

[2021-06-12 15:09] #37 closed

[2021-06-12 15:10] QAZIMAAZARSHAD commented on #37
@coding-geek21 and @manognyaa you can open new issues if you believe your design is better.

[2021-06-12 15:13] coding-geek21 opened #156 "Enhance TV page"
I would like to work on this @QAZIMAAZARSHAD Please assign me

[2021-06-12 15:24] #30 closed

[2021-06-12 15:37] nik464 commented on #52
please can you assign me this work becuase it will actively participate . I am beginnerat LGMSOC.

[2021-06-12 15:38] QAZIMAAZARSHAD commented on #147
Sure go ahead.

Add it at the bottom.
It should be similar to other sections with similar effects and features.

[2021-06-12 15:39] QAZIMAAZARSHAD commented on #147
Already assigned to others.
Look for some other issue.

[2021-06-12 16:38] GaurPeeyush commented on #114
Hey, I've updated index.html with reference to this issue.
Now the cursor is changing to the pointer when you hover over movies.
Do check it out once.

[2021-06-12 16:58] marizvi commented on #9
Can you please assign this issue to me..

[2021-06-12 16:59] anushka-srivastava22 opened #161 "Enhance Tag Line"
Add Hovering Effect

[2021-06-12 17:53] QAZIMAAZARSHAD commented on #4
Your wish.
It should be suitable to be used anywhere in this website.

[2021-06-12 17:56] QAZIMAAZARSHAD commented on #150
@KunalSharmaCoder this issue is already open #6.

Before opening any issues make sure that no other similar issue is open.

[2021-06-12 17:56] #150 closed

[2021-06-12 18:12] anushka-srivastava22 opened #163 "Create a movies page"
Kindly assign this issue to me under lgmsoc . I am a lgmsoc participant and I would loved to contribute to the project by creating a separate movie page with a slider and movies .

[2021-06-12 18:14] QAZIMAAZARSHAD commented on #9
@JAsaxon are you working on this issue or should I unassign you?

[2021-06-12 18:19] #114 closed

[2021-06-12 18:20] QAZIMAAZARSHAD commented on #114
Open a new issue to add cursor pointer effect in kids and tv page.

[2021-06-12 18:24] JatanDudeja opened #164 "Cursor Hovering Effect On Kids And TV Page"
I would like to work on this issue.

*** Changes I will Make : ***
I will add the same hovering effect of pointer on Kids and TV page as done on other pages.

[2021-06-12 18:28] JatanDudeja commented on #164
Thank You for assigning the issue will do it asap.

[2021-06-12 18:30] marizvi commented on #114
I am interested to work on this issue, kindly assign it to me

[2021-06-12 18:35] QAZIMAAZARSHAD commented on #114
This issue is already closed and other issue already assigned to other.

[2021-06-12 18:46] marizvi commented on #18
If this issue is not yet resolved then kindly assign it to me please under LGMSOC.

[2021-06-12 18:51] QAZIMAAZARSHAD commented on #18
Will be resolved soon, PR not merged due to conflicts.

[2021-06-12 18:56] tjanhvi commented on #81
okay :)

[2021-06-12 18:58] tjanhvi commented on #5
okay :)

[2021-06-12 20:12] JatanDudeja opened #168 "Linking Of Button Is Not Done Correctly With The Correct Html Page"
I would like to work on this issue.

**Changes I Will Do : **
1. Link all the pages in the website on each and every page correctly.

[2021-06-12 20:25] JatanDudeja commented on #33
Hey I have design attached below for the top nav bar please have look. if it fits your project do comment.

Video -  https://user-images.githubusercontent.com/81140308/121788303-e2556d80-cbe9-11eb-8f08-115d0f8a2f15.mov

Image When Search Box Is Not Hovered -      <img width="1440" alt="Nav Bar Without Hover On Search Bar" src="https://user-images.githubusercontent.com/81140308/121788357-3eb88d00-c

[2021-06-13 03:04] KunalSharmaCoder commented on #6
@QAZIMAAZARSHAD sorry for making new project when its already present now please you can assign me this project

[2021-06-13 03:51] marizvi opened #170 "Add Full screen Page Loader animation in beginning"
Hi,
I would like to add page load animation, which will appear for very small duration whenever we reload our pages to make our website look more attractive.
Kindly assign me this issue under LGMSOC.

[2021-06-13 04:12] ish-0709 opened #172 "Add Romantic Movie genre in the website"
Hi,
I would like to add a romantic movie genre on the website, romantic movie posters also.
Kindly assign me this issue if there is a need for this genre on the website under LGMSOC

[2021-06-13 04:23] marizvi opened #173 "Dynamic particles in background"
Hi,
I would like to add dynamic particles in background to make our website look more attractive.
Kindly assign me this issue under LGMSOC'21.

[2021-06-13 05:56] QAZIMAAZARSHAD commented on #33
Fine.

Apply this navbar in every single page, except login and signup page.
And replace logo with this https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/blob/master/Images/Logo/UpdatedLogo.png

[2021-06-13 05:58] QAZIMAAZARSHAD commented on #170
@marizvi this issue is already open #7.

Before opening any issue make sure that no other similar issue is open.

[2021-06-13 05:58] #170 closed

[2021-06-13 06:02] QAZIMAAZARSHAD commented on #173
Okk. If you want to.

But It can make the website ugly, so if I don't like it I will close this issue without merging your PR.

[2021-06-13 06:03] QAZIMAAZARSHAD commented on #6
It is called an issue.

[2021-06-13 06:08] QAZIMAAZARSHAD commented on #172
It should be similar to other sections in every respect size, style, effects, etc.

[2021-06-13 07:39] theSumeetGithub opened #174 "Making the Search box to Filter The movies As per the USER"
here i have idea that i can make the search box to back to work as the user search in any movie in website the movie will appear as it......
some thing like these

https://user-images.githubusercontent.com/85386116/121799207-63dbe880-cc48-11eb-824b-efd873fed44b.mp4

[2021-06-13 07:41] QAZIMAAZARSHAD commented on #174
@theSumeetGithub this issue is already open #6.

Before opening any issue make sure that no other similar issue is open.

[2021-06-13 07:41] #174 closed

[2021-06-13 07:51] #122 closed

[2021-06-13 08:37] jugeshraghav opened #176 "add favicon to the site."

[2021-06-13 08:40] Khushi-agarwal opened #177 "Hover effect on the footer"
I would like to add a color changing hover effect on the icons present on the footer.

[2021-06-13 08:44] jugeshraghav opened #178 "Redesign footer"

[2021-06-13 08:45] ish-0709 commented on #172
Yes, sir added the new PR . Please have a look.

[2021-06-13 08:47] Anjali1806 opened #180 "edit Login page"
hi i want to make changes in login page

[2021-06-13 09:02] pallavi-1812 opened #181 "Adding search icon in search bar and providing it a right margin"
Hello! I would like to replace red search button in search bar with a search icon and providing search bar a right margin since currently it is stuck to border on right side.
Please assign me with this issue.

[2021-06-13 09:42] Ayushi7456 commented on #176
I would like to work on this. Kindly assign me.

[2021-06-13 10:18] marizvi commented on #173
Yeah sure.
But I won't disappoint you.

[2021-06-13 10:50] #172 closed

[2021-06-13 10:56] QAZIMAAZARSHAD commented on #180
What changes? Describe

[2021-06-13 11:00] Aditi-Singh16 opened #183 "Beautify the Alert box (add a sweet alert box) after successful sign-up and login."
We can see that after successful sign-up or login the user sees the default alert box, I would like to beautify it, which would enhance the user experience.

Please assign this issue to me.

[2021-06-13 11:18] QAZIMAAZARSHAD commented on #181
@pallavi-1812 this issue will be fixed in issue number #33.

[2021-06-13 11:18] #181 closed

[2021-06-13 11:20] QAZIMAAZARSHAD commented on #176
This issue is already open #9.

Before opening any issue make sure that no other similar issue is open.

[2021-06-13 11:20] #176 closed

[2021-06-13 11:24] #20 closed

[2021-06-13 11:36] QAZIMAAZARSHAD commented on #183
Sure

[2021-06-13 11:43] ish-0709 opened #184 "Adding trailer link buttons to the movies and series"
Sir, I want to create a button on all the movie cards so that when that button is clicked directly the trailer of the movie is opened. The button will be in the middle of the movie card just like Netflix.
Kindly assign me this issue under LGMSOC.

[2021-06-13 12:28] QAZIMAAZARSHAD commented on #184
Use this issue #54.

Ping me there and I will assign you.

[2021-06-13 12:28] #184 closed

[2021-06-13 12:31] ish-0709 commented on #54
Hi sir can I add play pause buttons on movie cards that are directly linked to the trailer of movies?
Kindly assign me this issue under LGMSOC.

[2021-06-13 12:35] QAZIMAAZARSHAD commented on #54
When clicking on a movie card a description window should open, it should play the movie trailer on the left side, and description, IMDB rating, languages available and play, download button on the right side.

[2021-06-13 12:47] #164 closed

[2021-06-13 14:20] Aditya7494 commented on #180
I am participant of lgm.
I am interested

[2021-06-13 14:21] Aditya7494 commented on #110
I am lgm participant.
I want to contribute on this issue

[2021-06-13 14:36] QAZIMAAZARSHAD commented on #180
This issue was not opened by me.

Describe what you want to do?

[2021-06-13 15:02] itsmedeepak commented on #161
Please assign me this issue.

[2021-06-13 15:10] QAZIMAAZARSHAD commented on #161
Already assigned to others.

[2021-06-13 16:01] #126 closed

[2021-06-13 16:04] #168 closed

[2021-06-13 16:08] JatanDudeja opened #196 "Adding Contact Us Page Button Wherever Required"
Please assign me this issue I would like to work on this.

**Changes/Enhancement That Will Done :**
1. I will add the contact us page button wherever required and and link it.

[2021-06-13 16:09] #161 closed

[2021-06-13 16:09] rishika789 opened #197 "footer"
I would like to redesign the footer section of homepage. and improve the alignment and features of icons used.

[2021-06-13 16:11] QAZIMAAZARSHAD commented on #197
This issue is already open #178.

Ping me there I will assign you.

And before opening any issue always make sure that no other similar issue is open.

[2021-06-13 16:11] #197 closed

[2021-06-13 16:12] rishika789 commented on #178
hello sir

[2021-06-13 16:12] rishika789 commented on #178
i would like to contribute

[2021-06-13 16:13] rishika789 commented on #178
@QAZIMAAZARSHAD

[2021-06-13 16:14] rishika789 commented on #197
ok sir

[2021-06-13 16:16] Shaishav0507 opened #198 "Beautify the content in each File"
Hey @QAZIMAAZARSHAD
I would like to align the text and make it more readable.
Please assign it to me.
Thanks

[2021-06-13 16:33] Anjali1806 commented on #180
I want to change design of login page.

On Sun, 13 Jun, 2021, 8:06 pm Qazi Maaz Arshad, ***@***.***>
wrote:

[2021-06-13 16:37] QAZIMAAZARSHAD commented on #180
Your design has to be better than the current one, then only I will accept the changes.

[2021-06-13 16:38] QAZIMAAZARSHAD commented on #198
Go ahead.

[2021-06-13 16:38] Anjali1806 commented on #180
ok

On Sun, 13 Jun, 2021, 10:07 pm Qazi Maaz Arshad, ***@***.***>
wrote:

[2021-06-13 16:39] abhshkvrm commented on #196
I also want to work on it !

[2021-06-13 16:42] Dhanushreddy09 opened #199 "Remove redundant navbar"
Someone might be working on navbar design for sure but I thought it's worth mentioning that there are two rows of the same navbar items. If it doesn't make any sense, please close this @QAZIMAAZARSHAD . Would like to work on this!

[2021-06-13 17:25] QAZIMAAZARSHAD commented on #196
Look for any other issue, this is already assigned.

[2021-06-13 17:29] QAZIMAAZARSHAD commented on #199
I noticed it just now,

May due to some update.

Resolve this as soon as possible.
Go ahead.

[2021-06-13 17:33] Kajal-Mishra01 commented on #163
Hello @QAZIMAAZARSHAD I am a LGMSOC participant and I really want to work on this project by creating a Separate movie page which is according to age groups preference with a slider.

Please assign this issue to me.

[2021-06-13 17:53] abhshkvrm opened #201 "No colour change on hovering the mouse to kids.html Header"
There is no change in colour (red) that we see in other web page on hovering the mouse to
Home
Movies
Web Series
Kids
TV
Premium
Login
Search
I want to do changes in it and beautify it . may be some other style!

[2021-06-13 17:54] QAZIMAAZARSHAD commented on #163
Already assigned to @anushka-srivastava22.
Look for some other issue.

[2021-06-13 17:59] QAZIMAAZARSHAD commented on #201
Do it for both kids and web series page.

[2021-06-13 18:11] #199 closed

[2021-06-13 18:28] JatanDudeja opened #203 "Rearrangement of Romance Tab is required on home page."
When on home page Romance tab is hovering here and there on the page as we move the cursor so arrangement of this should be done.

[2021-06-13 18:29] jugeshraghav commented on #178
@QAZIMAAZARSHAD You assigned this issue to me , I started working. I want to know whether is it still assigned to me or assigned to someone else.

[2021-06-13 18:38] abhshkvrm commented on #201
done for both web series and kids page.

[2021-06-13 18:42] QAZIMAAZARSHAD commented on #203
Yes Fix this as soon as possible.

[2021-06-13 18:45] QAZIMAAZARSHAD commented on #201
Can you create a hover effect on images of kids and web series page similar to that of other images?

[2021-06-13 18:47] QAZIMAAZARSHAD commented on #178
Yes, it is assigned to you. You can see your pic in the assigned section.

[2021-06-13 18:48] abhshkvrm commented on #201
yeah I can add it, will surely do it.

[2021-06-13 18:57] rishika789 commented on #178
Hello sir actually I also started working on it . Is it ok ?

[2021-06-13 19:00] QAZIMAAZARSHAD commented on #178
@jugeshraghav and @rishika789 you both can work on this issue.

The best design will be accepted.

[2021-06-13 19:02] jugeshraghav commented on #178
Okay

On Mon, Jun 14, 2021, 00:30 Qazi Maaz Arshad ***@***.***>
wrote:

[2021-06-13 19:19] abhshkvrm commented on #201
done! now should i make a new branch and commit my changes ?

[2021-06-13 19:21] QAZIMAAZARSHAD commented on #203
Issue resolved

[2021-06-13 19:21] #203 closed

[2021-06-13 19:26] QAZIMAAZARSHAD commented on #201
Sure

[2021-06-13 19:42] abhshkvrm commented on #201
remote: Permission to QAZIMAAZARSHAD/Movie-Streaming-Website.git denied to abhshkvrm.
fatal: unable to access 'https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website.git/': The requested URL returned error: 403

how to resolve this error i am getting

[2021-06-13 19:58] rishabhrathore055 opened #204 "Add logo in readme"
@QAZIMAAZARSHAD  pls assign  this issues

[2021-06-14 04:00] Dhanushreddy09 opened #208 "Fixed navbar"
Make navbar fixed so that a user can navigate through to another nav item even if he/she scrolls down to the bottom of the site.

[2021-06-14 04:49] Khushi-agarwal opened #209 "Footer enhancement"
I would like to work on the footer by adding hover effects on the icons and also aligning everything in place.
Please assign me this issue under lgmsoc.

[2021-06-14 04:50] #209 closed

[2021-06-14 04:55] Khushi-agarwal opened #210 "Quiz page changes"
In the quiz page the button 'Lets get started' does not have any animation.I would like to add one.

[2021-06-14 05:01] sanketcharanpahadi commented on #208
can I work on this issue @QAZIMAAZARSHAD

[2021-06-14 05:13] abhshkvrm commented on #201
have u looked upon the changes @QAZIMAAZARSHAD ?

[2021-06-14 05:47] MathurUtkarsh commented on #93
Hello I had worked on this issue
Please assign it to me.

[2021-06-14 06:15] prads46 commented on #1
i am new to open source and want to contribute to this issue can u assign me this issue if it is new open?

[2021-06-14 06:20] mohitk30 commented on #1
it is already solved

[2021-06-14 06:22] Kajal-Mishra01 commented on #163
Okay Sir..

[2021-06-14 06:23] prads46 commented on #1
okay no problem thankyou

[2021-06-14 06:31] prads46 commented on #9
sir if this issue is still unresolved will u please assign this  issue to me?

[2021-06-14 07:03] kshitija-2001 opened #214 "Grammatical errors in readme"
There are some misuse of articles and spelling errors in README.
Please assign me this issue under LGMSOC

[2021-06-14 07:05] MathurUtkarsh opened #215 "Image not displaying ."
In the top right corner of login page the image is not displaying and  the alternate text for image  is also not displaying  .

[2021-06-14 07:06] MathurUtkarsh commented on #215
Please assign me this issue .

[2021-06-14 07:14] Kajal-Mishra01 commented on #156
Hello @QAZIMAAZARSHAD

I want to work on this issue please assign it to me.

[2021-06-14 07:16] QAZIMAAZARSHAD commented on #9
@Jagannath8 use this pic -> https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/blob/master/Images/Logo/Title.jpeg.

[2021-06-14 07:17] QAZIMAAZARSHAD commented on #9
@prads46 others have asked prior to you they are first in line.

Look for any other issue.

[2021-06-14 07:21] QAZIMAAZARSHAD commented on #215
@MathurUtkarsh logo is displaying.
![Screenshot (113)](https://user-images.githubusercontent.com/56196640/121853981-35751080-cd0f-11eb-8042-11f25793d4e4.png)
I did not understand what you are talking about.

[2021-06-14 07:21] #215 closed

[2021-06-14 07:24] QAZIMAAZARSHAD commented on #214
For these kinds of issues when you are pointing a bug do share a screenshot.

[2021-06-14 07:27] QAZIMAAZARSHAD commented on #156
Remember only the best solution will be accepted.

[2021-06-14 07:28] kshitija-2001 commented on #214
Should I share it now or should directly create pull request?

[2021-06-14 07:32] QAZIMAAZARSHAD commented on #204
Describe what updates you want to do,

[2021-06-14 07:38] #201 closed

[2021-06-14 08:18] #214 closed

[2021-06-14 08:58] #2 closed

[2021-06-14 10:08] QAZIMAAZARSHAD commented on #208
Already assigned to @Dhanushreddy09

[2021-06-14 10:14] #177 closed

[2021-06-14 10:37] QAZIMAAZARSHAD commented on #93
Already resolved. Will be closed soon.

[2021-06-14 10:51] #1 closed

[2021-06-14 11:29] rishabhrathore055 commented on #204
@QAZIMAAZARSHAD  want to add this logo
![](https://img.shields.io/badge/Movie_streaming_Website-4285F4?style=for-the-badge&logo=AirPlayVideo&logoColor=white)
And LGN-SOC'21  In Open source Program Section

[2021-06-14 11:37] QAZIMAAZARSHAD commented on #204
No don't do that.

Add this logo [Logo](https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/blob/master/Images/Logo/UpdatedLogo.png) in the about section of readme.

Change the size of the logo accordingly so it fits with the text.

[2021-06-14 11:53] rishabhrathore055 commented on #204
![](https://camo.githubusercontent.com/545dec611193714aad0d1051c30defd89b4260dfad79a293c49dc1b841936296/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4d6f7669655f73747265616d696e675f576562736974652d3432383546343f7374796c653d666f722d7468652d6261646765266c6f676f3d416972506c6179566964656f266c6f676f436f6c6f723d7768697465) are you taking about this Logo ?

[2021-06-14 11:54] jugeshraghav opened #221 "Make the contact us page responsive."

[2021-06-14 11:59] QAZIMAAZARSHAD commented on #204
This logo ->https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/blob/master/Images/Logo/UpdatedLogo.png

[2021-06-14 12:02] #221 closed

[2021-06-14 12:12] QAZIMAAZARSHAD commented on #52
@kshitija-2001 You have created a separate page for the splash screen and have not linked it with any page.
And create something like this https://cdn.dribbble.com/users/164756/screenshots/14613561/media/7b2c77ab0a7d84665a5866335788e94e.gif.

Use this logo -> https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/blob/master/Images/Logo/TheaterLogo.png

[2021-06-14 14:37] #173 closed

[2021-06-14 14:45] GaurPeeyush opened #227 "Cursor should change to the pointer when you hover over cards in movie, kids, webseries and TV page"
The Cursor should change to the pointer when you hover over TV shows in the TV section.
That will make it look like a clickable link.

[2021-06-14 14:45] GaurPeeyush commented on #227
I'd like to work on this issue.
Kindly assign me :)

[2021-06-14 14:48] QAZIMAAZARSHAD commented on #201
@abhshkvrm all the changes you made have been deleted due to an update.

Do you mind opening the same issue again, and making the same changes? For kids and web series page.

[2021-06-14 14:50] QAZIMAAZARSHAD commented on #227
Do it for kids and web series page as well.

[2021-06-14 14:54] QAZIMAAZARSHAD opened #228 "Update logo in all pages"
Use this logo -> https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/blob/master/Images/Logo/TheaterLogo.png

Update it in the navbar of every page and in the login/sign-up page.

[2021-06-14 14:55] #4 closed

[2021-06-14 15:08] abhshkvrm commented on #201
ok i will make it !

[2021-06-14 16:07] abhijeet141 commented on #228
I would like to work on this

[2021-06-14 16:10] JatanDudeja commented on #228
Please assign this issue to me.

[2021-06-14 18:15] devanshi-code commented on #228
@QAZIMAAZARSHAD can more than one person work on this issue , if yes then plz assign it to me too

[2021-06-14 18:36] QAZIMAAZARSHAD commented on #228
This is a very basic issue, can't assign more than one person.

[2021-06-14 18:38] devanshi-code commented on #228
Okay if he can't do that will it be assign it to me

[2021-06-14 18:53] QAZIMAAZARSHAD commented on #228
Sure

[2021-06-14 19:17] #228 closed

[2021-06-14 19:19] JatanDudeja commented on #196
@QAZIMAAZARSHAD this issue has already been solved by someone with out any prior notice so I am closing this issue.

[2021-06-14 19:19] #196 closed

[2021-06-14 20:25] royalleads15 opened #232 "Add facebook, instagram and twitter login page"
Whenever a user clicks on any of logo of facebook , instagram and twitter he/she get redirected to respective page . Suppose a user clicks on insta logo , after click he must reach insta page of movie streaming( if exists) .
![footer](https://user-images.githubusercontent.com/56637948/121954838-d4842180-cd7c-11eb-9358-787dbbca6c16.jpg)

[2021-06-14 20:39] jugeshraghav commented on #178
![Screenshot (93)](https://user-images.githubusercontent.com/74092377/121956234-82440000-cd7e-11eb-9cef-b9fa62875486.png)
 Hey @QAZIMAAZARSHAD is this footer okay for your website. Suggest me some changes if possible or give me some reviews.

[2021-06-14 21:56] JatanDudeja commented on #232
I would like to work on this issue please assign this issue to me.

[2021-06-15 03:21] QAZIMAAZARSHAD commented on #232
Already assigned.

[2021-06-15 03:21] QAZIMAAZARSHAD commented on #232
Apply it to all pages.

[2021-06-15 03:25] QAZIMAAZARSHAD commented on #178
A lot of blank space, add one more section in the footer.

Also in your PR, you have not added the footer to every page, change the footer on every page. Except for the login and sign-up page.

[2021-06-15 03:58] jugeshraghav commented on #178
I will do it for sure.

On Tue, Jun 15, 2021, 08:55 Qazi Maaz Arshad ***@***.***>
wrote:

[2021-06-15 04:49] AkhilReddy21 opened #234 "Premium page enhancement"
I would like to enhance premium page by showing the benefits of premium subscription and I will add the process to the user to get subscription . Just like similar to Netflix subscription page . So , please assign me this issue to me @QAZIMAAZARSHAD

[2021-06-15 05:13] QAZIMAAZARSHAD commented on #234
This issue is already open #26.

Before opening any issue make sure that no other similar issue is open.

[2021-06-15 05:13] #234 closed

[2021-06-15 05:56] GaurPeeyush commented on #227
Pull request created.
The cursor now changes to the pointer when you hover above TV shows.
This issue #227 is fixed with this update.
Kindly review the code and merge the pull request.
Henceforth close this issue :)

[2021-06-15 06:07] QAZIMAAZARSHAD commented on #227
You forgot this.

[2021-06-15 06:08] GaurPeeyush commented on #227
Oh! okay I'll make the changes

[2021-06-15 06:38] GaurPeeyush commented on #227
Flies are updated with reference to this issue #227
Kindly review the code and merge the pull request :)

[2021-06-15 06:39] #204 closed

[2021-06-15 07:09] QAZIMAAZARSHAD commented on #9
@Jagannath8 are you working on this?

[2021-06-15 07:15] #183 closed

[2021-06-15 07:29] Jagannath8 commented on #9
yes

[2021-06-15 07:31] QAZIMAAZARSHAD commented on #9
Fine

[2021-06-15 09:06] abhshkvrm opened #241 "No colour change on hovering the mouse to kids.html Header"

[2021-06-15 09:43] QAZIMAAZARSHAD commented on #241
Apply hovering effect on images, header is fine.

[2021-06-15 13:33] #9 closed

[2021-06-15 15:02] #198 closed

[2021-06-15 15:04] Shaishav0507 opened #248 "Change footer copyright year using JS"
Hey @QAZIMAAZARSHAD
I would like to change the footer copyright year using js.
As currently you need to change every time.
I will use js and it will automatically update everytime.
Please assign it to me.
Thanks.

[2021-06-15 15:42] Kajal-Mishra01 commented on #156
Okay Sir.. Thank You So much

[2021-06-15 16:06] QAZIMAAZARSHAD commented on #248
Change it in the footer of every page.

[2021-06-15 16:08] Shaishav0507 commented on #248
Ok I'll do.

[2021-06-15 16:38] #178 closed

[2021-06-15 16:40] jugeshraghav commented on #178
Will I loose all the points

On Tue, Jun 15, 2021, 22:08 Qazi Maaz Arshad ***@***.***>
wrote:

[2021-06-15 16:42] QAZIMAAZARSHAD commented on #178
I mentioned the correct issue number in your PR.

[2021-06-15 17:07] jugeshraghav commented on #178
Thank you so much😇

On Tue, Jun 15, 2021, 22:12 Qazi Maaz Arshad ***@***.***>
wrote:

[2021-06-15 17:48] rishika789 opened #251 "social media icons in footer"
The social media icons in footer section on hovering some are becoming red while others are blue . I would like to change those icons.

[2021-06-15 17:51] RahulBansal0502 opened #252 "Revamp Contact us Page and Navbar"
1. I want to revamp the contact us page.
2.  On hovering navbar links I want that text should be underlined, bold and the color should be bright red instead of faded red.

I want to work on this issues assign it to me @QAZIMAAZARSHAD

[2021-06-15 17:51] QAZIMAAZARSHAD commented on #251
Red background, black inside.
Apply this color combination on all footer icons, on every page.

[2021-06-15 17:52] rishika789 commented on #251
okay

[2021-06-15 17:58] QAZIMAAZARSHAD commented on #252
Sure go ahead, also look into the responsiveness of the contact page.

[2021-06-15 18:04] QAZIMAAZARSHAD commented on #252
If change anything in the navbar then change it for the navbars of all pages.

[2021-06-15 18:05] RahulBansal0502 commented on #252
ya sure thanks!!

[2021-06-15 18:24] rishika789 commented on #251
sir is the css for footer of every page is in kids.html section ?

[2021-06-15 18:30] ROHAN842 opened #254 "Successful alert pop up feature for contact page submit button"
As when user fills all the detail and clicks on submit button then site takes user 405 not allowed page, I want to add an alert which will pops up and will tell the user that message was delivered successfully with a green tick along with I would also like to add a feature without back end with which user would be sent to a fresh new page on clicking submit button where the message will be written

[2021-06-15 18:36] QAZIMAAZARSHAD commented on #251
for kids and web series page it is in kids.html and webseries.html.

For others in style.css.

[2021-06-15 19:06] rishika789 commented on #251
okay sir

[2021-06-15 19:08] jatinjain001 commented on #251
I would like to work on it

[2021-06-15 19:10] jatinjain001 commented on #248
I want to work on this please

[2021-06-15 19:10] jatinjain001 commented on #208
I would like to work oon it

[2021-06-15 19:11] jatinjain001 commented on #180
I would like to work on it ,

[2021-06-15 19:12] jatinjain001 commented on #227
I want to work on it please assign it to me

[2021-06-15 19:15] ayushsoni1010 opened #256 "Updating contributing guidelines"
I want to add more guidelines to the contributing.md file

Kindly assign this issue to me :)

Have a look once for reference, what I am going to add to the file

![image](https://user-images.githubusercontent.com/76895975/122110359-11fbb400-ce3c-11eb-9cda-2fcefe76f04c.png)

[2021-06-15 20:08] ishitakapoor26 opened #258 "Adding Hover Effect in Navigation Bar"
Adding Hover Effect in Navigation Bar. Also when a page is active there is no hover effect. I also want to add that.

[2021-06-15 20:09] ishitakapoor26 commented on #258
@QAZIMAAZARSHAD pls assign me this issue.

[2021-06-15 20:11] ishitakapoor26 opened #259 "Add hover effect in Web Series page"
Add hover effect in Web Series page.

[2021-06-15 20:12] ishitakapoor26 opened #260 "Add Hover effect in kids page"
Add Hover effect in kids page.

[2021-06-15 20:14] ishitakapoor26 commented on #259
@QAZIMAAZARSHAD pls assign me this issue.

[2021-06-15 20:14] ishitakapoor26 commented on #260
@QAZIMAAZARSHAD pls assign me this issue.

[2021-06-16 04:32] jugeshraghav opened #261 "Ripple effect is not visible in the Footer ."

[2021-06-16 04:32] jugeshraghav commented on #261
I would like to work on the issue.

[2021-06-16 05:08] Anjali1806 commented on #180
Done.

On Wed, 16 Jun 2021 at 00:41, Jatin Jain ***@***.***> wrote:

[2021-06-16 05:19] QAZIMAAZARSHAD commented on #251
Already assigned.

[2021-06-16 05:23] #251 closed

[2021-06-16 05:25] QAZIMAAZARSHAD commented on #248
Already assigned.

[2021-06-16 05:25] QAZIMAAZARSHAD commented on #208
Already assigned

[2021-06-16 05:27] QAZIMAAZARSHAD commented on #227
Already assigned

[2021-06-16 05:30] QAZIMAAZARSHAD commented on #256
No need @ayushsoni1010, most points are already present and a few I don't want.

[2021-06-16 05:30] #256 closed

[2021-06-16 05:39] Sumit11081996 commented on #259
@QAZIMAAZARSHAD pls assign me this issue

[2021-06-16 05:40] Sumit11081996 commented on #260
@QAZIMAAZARSHAD pls assign me this issue

[2021-06-16 06:31] QAZIMAAZARSHAD commented on #258
@ishitakapoor26 navigation bar already has hover effect also another issue to improve it is also open #33

[2021-06-16 06:31] #258 closed

[2021-06-16 06:40] QAZIMAAZARSHAD commented on #180
@Anjali1806 resolve conflicts.

[2021-06-16 06:40] QAZIMAAZARSHAD commented on #180
Already resolved,

[2021-06-16 07:20] QAZIMAAZARSHAD commented on #259
@ishitakapoor26 and @Sumit11081996 this issue is already open https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/241.

Before opening any issue make sure that no other similar issue is open.

[2021-06-16 07:20] #259 closed

[2021-06-16 07:20] QAZIMAAZARSHAD commented on #260
@ishitakapoor26 and @Sumit11081996 this issue is already open #241.

Before opening any issue make sure that no other similar issue is open.

[2021-06-16 07:20] #260 closed

[2021-06-16 07:44] ishitakapoor26 opened #263 "Add membership page"
I will add a membership page listing yearly and monthly subscription price and offers.

[2021-06-16 07:44] ishitakapoor26 commented on #263
@QAZIMAAZARSHAD pls assign this issue to me.

[2021-06-16 07:46] ishitakapoor26 opened #264 "Redesign Homepage header"
I want to add image slider in homepage header.

[2021-06-16 07:46] ishitakapoor26 commented on #264
@QAZIMAAZARSHAD pls assign this issue to me.

[2021-06-16 07:47] QAZIMAAZARSHAD commented on #263
@ishitakapoor26 this issue is already open #26.

Don't open similar issues again and again first verify.

[2021-06-16 07:47] #263 closed

[2021-06-16 07:49] QAZIMAAZARSHAD commented on #264
Share a screenshot.

What changes do you want to make?

[2021-06-16 08:06] ishitakapoor26 commented on #26
@QAZIMAAZARSHAD pls assign me this issue.

[2021-06-16 08:08] mdinesh124 opened #266 "**Adding a scroll to top button**"
Adding a scroll to top button makes it easy to scroll from bottom to top on just clicking a button.

[2021-06-16 08:09] mdinesh124 commented on #266
@QAZIMAAZARSHAD Please assign me this under LGMSOC

[2021-06-16 08:16] #248 closed

[2021-06-16 08:19] QAZIMAAZARSHAD commented on #266
This issue is already open #18.

Before opening any issue make sure that no other similar issue is open.

[2021-06-16 08:19] #266 closed

[2021-06-16 08:22] rishika789 opened #267 "Remove the "Have a look on various movies" drop down and add drop down list of all genres in navbar"
![Screenshot (894)](https://user-images.githubusercontent.com/78673968/122184464-dbf51900-cea9-11eb-80ad-8c2cebabbeaf.png)

[2021-06-16 08:22] ishitakapoor26 opened #268 "Adding FAQ section to homepage."
FAQ markup is present in login page but it holds no content and redirects to login page. I want to add FAQ section to homepage and when we click on FAQ in login page we will be redirrected to homepage FAQ section.

[2021-06-16 08:23] QAZIMAAZARSHAD commented on #264
Okk, replace slideshow with slider.

Don't change navbar or anything, also check responsiveness.

[2021-06-16 08:23] ishitakapoor26 commented on #268
@QAZIMAAZARSHAD pls assign me this issue.

[2021-06-16 08:24] ishitakapoor26 commented on #264
okay

[2021-06-16 08:25] QAZIMAAZARSHAD commented on #268
No don't add it to the home page, create a separate FAQ page, and link it to all the footers of every page.

[2021-06-16 08:28] QAZIMAAZARSHAD commented on #267
No, don't add it to the center.

Redesign it completely, also it is very deep two dropdowns are present improve that also.
Rename varieties to 'genres'.

Also take care of responsiveness.

[2021-06-16 08:35] QAZIMAAZARSHAD commented on #180
@Aditya7494 open a new issue and ask me to assign you.

[2021-06-16 08:38] mdinesh124 commented on #266
@QAZIMAAZARSHAD I will definitely check from next time whether same issue is present or not.
Can you assign me #18 issue. I can work on that.

[2021-06-16 08:41] rishika789 commented on #267
okay. where is the varieties word but ?

[2021-06-16 08:42] ROHAN842 commented on #254
Hey! what's the deadline for completing the task

[2021-06-16 09:26] ish-0709 commented on #54
@QAZIMAAZARSHAD  Sir I tried this wanted to know if this looks good enough..?

https://user-images.githubusercontent.com/63011793/122194217-dcde7880-ceb2-11eb-8bc5-8d6dabb1a719.mp4

[2021-06-16 09:58] QAZIMAAZARSHAD commented on #266
That issue will be resolved soon, can't assign you

[2021-06-16 09:59] QAZIMAAZARSHAD commented on #267
Click on have a look at various movies.

[2021-06-16 10:00] QAZIMAAZARSHAD commented on #254
Take 5 days, if you did not complete I will assign others.

[2021-06-16 10:05] mdinesh124 commented on #266
Ok

[2021-06-16 10:07] QAZIMAAZARSHAD commented on #54
Great,

Apply this for every single movie image of every single page.

Then make PR.

[2021-06-16 12:23] Anjali1806 commented on #180
Sure, will do that.

On Wed, 16 Jun 2021 at 14:05, Qazi Maaz Arshad ***@***.***>
wrote:

[2021-06-16 12:30] ROHAN842 commented on #254
Ok

[2021-06-16 13:35] QAZIMAAZARSHAD commented on #180
@Aditya7494 no need to create a separate issue, make PR again mentioning this issue.

[2021-06-16 13:54] pallavi-1812 opened #274 "Adding a reset button in contact us form. Please assign me this issue."
I would like to add a reset button besides submit button in contact us page form which will reset all the fields to empty.

[2021-06-16 16:03] #6 closed

[2021-06-16 16:30] rishika789 commented on #267
okay

[2021-06-16 16:50] #18 closed

[2021-06-16 17:02] QAZIMAAZARSHAD opened #278 "Stick the 'scroll to top' button on footer"
Do this on all pages.

Try to improve button design and apply effects.

Hover effect - Background: Red and Inside: Black

[2021-06-16 17:28] jugeshraghav commented on #278
i would like to work on this issue.

[2021-06-16 17:59] #52 closed

[2021-06-16 18:09] kumarishalini6 opened #281 "Improving splash screen"

[2021-06-16 18:13] QAZIMAAZARSHAD commented on #281
Now it is fine.

I think GitHub takes a lot of time to load.

But still, you can improve, try some other effect, Logo should appear clearly for at least 3-5 seconds.
And use better color for effects, brown doesn't look good.

[2021-06-16 18:15] #254 closed

[2021-06-16 18:41] Sumit11081996 commented on #268
@QAZIMAAZARSHAD  can you assign me this issue

[2021-06-16 18:42] harshita9621 commented on #268
ii, I would like to work on this issue as LGM SOC'21 participant. Do assign me if possible. Thank You!

[2021-06-16 18:46] harshita9621 commented on #163
ii, I would like to work on this issue as LGM SOC'21 participant . Do assign me if possible. Thank You!

[2021-06-16 18:48] harshita9621 commented on #22
Hii, I would like to work on this issue as LGM SOC'21 participant . Do assign me if possible. Thank You!

[2021-06-16 18:49] Sumit11081996 commented on #156
@QAZIMAAZARSHAD please assign me  this issue  to me

[2021-06-16 18:57] Sumit11081996 commented on #46
@QAZIMAAZARSHAD please assign me this issue

[2021-06-16 18:58] ishitakapoor26 commented on #268
Hey @Sumit11081996 @harshita9621 I'm already working on it. Pls look for some other issue.

[2021-06-16 23:48] kumarishalini6 commented on #281
Ok

[2021-06-17 02:27] kumarishalini6 commented on #281
https://user-images.githubusercontent.com/69043944/122321563-83854200-ced0-11eb-8754-d8bc1d7b2b0a.mp4

[2021-06-17 04:35] Ritika091 opened #282 "Creating dropdown in movies and webseries on navbar"
I want to create a dropdown in movies and webseries on navbar, separating it in bollywood and hollywood and creating  sections for them on the main page instead of a single movie section. please assign it to me @QAZIMAAZARSHAD

[2021-06-17 05:05] QAZIMAAZARSHAD commented on #163
Already assigned to @anushka-srivastava22.

[2021-06-17 05:06] QAZIMAAZARSHAD commented on #163
@anushka-srivastava22 you can create a PR.

[2021-06-17 05:14] QAZIMAAZARSHAD commented on #281
No, I want more focus on the logo.

Make logo large, and also apply effects on the image itself.

[2021-06-17 05:19] QAZIMAAZARSHAD commented on #7
@shivshankar9 are you working on this?

[2021-06-17 05:23] QAZIMAAZARSHAD commented on #281
Also, their is a bug in the splash screen, it appears every time user goes to the home screen, It should appear only for the first time when the website opens.

[2021-06-17 05:24] shivshankar9 commented on #7
yes i am working,

[2021-06-17 05:43] QAZIMAAZARSHAD commented on #7
It has been 16 days since it was open, do fast

[2021-06-17 05:50] anushka-srivastava22 commented on #163
Okay Sir.

[2021-06-17 05:55] shivshankar9 commented on #7
yes, late because my exams also going on,
i am trying to fix out this issue...

[2021-06-17 06:11] QAZIMAAZARSHAD commented on #7
Okk,

Use some design related to movies, red and black color.
Also, have a look at logos in the Images/Logo folder.

[2021-06-17 06:26] shivshankar9 commented on #7
i have tried this,
i am facing problems here!!
![Screenshot (12)](https://user-images.githubusercontent.com/69760883/122342982-d8719880-cf62-11eb-8118-9727bf193f7a.png)
![Screenshot (11)](https://user-images.githubusercontent.com/69760883/122343010-de677980-cf62-11eb-992c-599ac3b9783a.png)

[2021-06-17 06:48] QAZIMAAZARSHAD commented on #7
Can't understand the issue.

Also, this design doesn't look good.

[2021-06-17 06:48] QAZIMAAZARSHAD commented on #7
Try this.

[2021-06-17 06:55] shivshankar9 commented on #7
okk

[2021-06-17 09:22] nandinimalik16 commented on #36
I woul like to work on it. please assign me this issue

[2021-06-17 09:47] ROHAN842 opened #288 "Redirect user to home page after clicking 'return' on form submitted popup in contactus.html page"
As when user fills all the detail and clicks on submit button then site takes user 405 not allowed page, I want to add an alert which will pops up and will tell the user that message was delivered successfully, thanks for their submission.

Can I work on this issue.

[2021-06-17 10:07] ROHAN842 commented on #288
Hey @QAZIMAAZARSHAD  actually I have removed that feature of that user will be directed to a fresh new on submission as that was not safe now the new feature is as when user clicks on submit button a box will popup on the same page and a message will be delivered as "Message was delivered successfully!! Thanks for your submission" and also it will consists of an OK button as soon as user will clic

[2021-06-17 10:18] QAZIMAAZARSHAD commented on #288
Ok fine.

Try to beautify alert with css, use red and black colors.

[2021-06-17 10:21] #274 closed

[2021-06-17 10:41] #288 closed

[2021-06-17 11:19] #232 closed

[2021-06-17 12:59] divyasri77 opened #292 "Adding upcoming movies in Premium page"
To add some upcoming movies in this page

[2021-06-17 13:02] Shady2320 commented on #120
Hi @QAZIMAAZARSHAD, can i work on this?

[2021-06-17 13:09] heyankit78 commented on #120
@Shady2320 I am working on this!

[2021-06-17 14:01] QAZIMAAZARSHAD commented on #292
@divyasri77 the premium page has not been designed yet.

You can work on issue number #26 to design a whole new premium page, ping me there to assign you.

[2021-06-17 14:01] #292 closed

[2021-06-17 14:03] QAZIMAAZARSHAD commented on #120
I will assign you if this issue remains unresolved for a few more days.

[2021-06-17 14:36] WebShivam opened #293 "Make button responsive in dummy.html"
The button that is on Premium Page of the website can be redesigned with responsiveness in mind, The redesigning of the button with its proper size will enhance its look on the page. Here is the link of the page I'm taking about `https://qazimaazarshad.github.io/Movie-Streaming-Website/dummy.html`

I've also provided  the picture of the button for further reference

![button-img](https://user-imag

[2021-06-17 14:49] WebShivam opened #294 "Need to Work on Movies Page"
The design of movie page doesn't looks cool, Maybe there's a problem with linking CSS file You can look at it here :

![Screenshot_40](https://user-images.githubusercontent.com/64413107/122419551-9e2aea00-cfa8-11eb-8200-da6cfcf40a09.jpg)

Here is the link of the following page  `https://qazimaazarshad.github.io/Movie-Streaming-Website/movies.html`

[2021-06-17 15:09] WebShivam opened #295 "Login and Signup page needs to be Mobile Friendly"
Both Login page, as well as SignUp page, needs to be designed responsively
this is how they look like at Mobile view currently 👇

## LogIn Page
![login-page(Moto G4)](https://user-images.githubusercontent.com/64413107/122422884-21e5d600-cfab-11eb-8580-623719271787.png)

## SignUp Page

![Sign-Up page (Moto G4)](https://user-images.githubusercontent.com/64413107/122422903-25795d00-cfab-11eb-885a-d9

[2021-06-17 15:20] WebShivam opened #296 "Suggestion regarding Movies Poster"
In my opinion all the Movies Poster can be designed like cards (similar to Posters that are designed on `Kids` Page). This will enhance the site and will provide the premium look to page as Movies Poster doesn't have same design all over the site

This is how Poster card looks like on Kids page 👇

![movie-poster-card](https://user-images.githubusercontent.com/64413107/122425863-6d00e880-cfad-11eb-

[2021-06-17 16:22] #163 closed

[2021-06-17 16:28] QAZIMAAZARSHAD commented on #294
Yaa someone was working on this but she made the changes without updating the repo and messed it up.

Completely update this page like the other pages.

[2021-06-17 16:33] QAZIMAAZARSHAD commented on #296
But cards on the kids and webseries page don't have a hover effect.

Try to apply the same hover effect on kids and webseries page as well.

[2021-06-17 17:04] rishika789 opened #297 "Change color of social media icons in footer"
the footer icons are blue not matching with the colour theme of website. I would like to change it to red.

![Screenshot (912)](https://user-images.githubusercontent.com/78673968/122442385-25358d80-cfbc-11eb-8079-6c3ff6d435b2.png)

[2021-06-17 17:34] royalleads15 commented on #120
@QAZIMAAZARSHAD Sir I am also interested in this and please let me assign this if it remain unresolved for few days.

[2021-06-17 17:47] ish-0709 commented on #54
@QAZIMAAZARSHAD
Sir, I have done all the changes mentioned above and made a PR.
Please have a look.

[2021-06-17 18:04] QAZIMAAZARSHAD commented on #120
Ok @royalleads15

[2021-06-17 18:10] #54 closed

[2021-06-17 18:25] QAZIMAAZARSHAD commented on #296
The website has been updated.

Now, make movie cards of kids and web series pages similar to that of other pages in every respect.

[2021-06-17 18:29] rishika789 commented on #297
@QAZIMAAZARSHAD

[2021-06-17 18:30] QAZIMAAZARSHAD commented on #297
Okk, but then change the color of the hover effect as well, because hover color is red and black, it will not be distinguishable.

[2021-06-17 18:40] rishika789 commented on #297
no actually on hovering icons become black and background is red so it will be distinguised.
As i will make icons red and on hovering it will change to black.

[2021-06-18 01:53] harshita9621 commented on #241
@QAZIMAAZARSHAD Can you assign me this issue??

[2021-06-18 04:14] wastech commented on #297
is this issue still available?

[2021-06-18 04:21] rishika789 commented on #297
i m working on this

[2021-06-18 04:45] QAZIMAAZARSHAD commented on #241
Already assigned to others look for another issue.

[2021-06-18 05:05] QAZIMAAZARSHAD commented on #297
Already assigned.

[2021-06-18 05:43] shivshankar9 opened #300 "login-page-improvements"
login-page buttons need to be fixed,

[2021-06-18 05:44] shivshankar9 commented on #300
some changes i have done shall i create PR

[2021-06-18 05:59] QAZIMAAZARSHAD commented on #300
Similar issue is already open #295.

[2021-06-18 05:59] #300 closed

[2021-06-18 06:03] shivshankar9 commented on #295
could you please assign to me so i can fix

[2021-06-18 06:12] QAZIMAAZARSHAD commented on #295
Already assigned, if it remains unresolved for a few days then I will assign you.

[2021-06-18 08:56] nitishapiplani commented on #7
may i work on this

[2021-06-18 09:07] shivshankar9 commented on #7
Yes. Ofcourse go ahead,
I'm not able to fix out this

[2021-06-18 09:47] wastech commented on #297
Alright

[2021-06-18 09:54] RiyaGupta89 opened #302 "Movies page"
![4](https://user-images.githubusercontent.com/72425181/122543071-029d8600-d049-11eb-8c9e-4eeadd5b723c.png)
When a user clicks on movies to come to movies page, it somewhat looks like this which don't look nice. I can make the page look good and remove all the extra padding and stuff.

[2021-06-18 09:56] RiyaGupta89 opened #303 "Login page"
![5](https://user-images.githubusercontent.com/72425181/122543531-80fa2800-d049-11eb-893f-64900e6599f1.png)
The sign in button comes out of the container, I can resolve this issue.

[2021-06-18 10:00] QAZIMAAZARSHAD commented on #7
Try to use website logo design in preloader.

[2021-06-18 10:04] QAZIMAAZARSHAD commented on #302
@RiyaGupta89 this issue is already open https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/294.

[2021-06-18 10:04] #302 closed

[2021-06-18 10:05] QAZIMAAZARSHAD commented on #303
This issue is already open https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/295.

[2021-06-18 10:05] #303 closed

[2021-06-18 10:55] supzi-del opened #304 "Decrease the scale transition on movies marquee"
![Screenshot (219)](https://user-images.githubusercontent.com/78655439/122550649-8d827e80-d051-11eb-9299-2673acf5ee73.png)
As you can see when posters are hovered, they are overlapping with the above button. To solve this issue, I would like to decrease the transform scale so that they dont overlap. I will work on this under LGMSOC.

[2021-06-18 14:29] #304 closed

[2021-06-18 17:47] GaurPeeyush opened #307 "Replace wrong movie cards on all pages"
The movie Gangs of Wasseypur has the poster of its second part, Movie is the first part, so its poster needs to be replaced with the first part one.

[2021-06-18 17:47] GaurPeeyush commented on #307
I'd like to work on this issue, kindly assign!

[2021-06-18 17:58] QAZIMAAZARSHAD commented on #307
Also, Gangs of waseeypur poster is present in the web series section as well so replace it with some other webseries.

[2021-06-18 17:59] jugeshraghav opened #308 "the signin button in the login page is overflowing."
![Screenshot (108)](https://user-images.githubusercontent.com/74092377/122599956-bd9b4300-d08c-11eb-8af8-a78091515c57.png)

[2021-06-18 18:00] jugeshraghav commented on #308
i would like to work on the issue.

[2021-06-18 18:55] jugeshraghav commented on #308
the sign up page button is also overflowing.
@QAZIMAAZARSHAD if you guide me and let me know the type of signin and signup page you want.
I f any modifications need to be done or just have to set the button size.

[2021-06-18 18:57] jugeshraghav opened #311 "footer is not consistent in all the pages."
please assign this issue to me.

[2021-06-18 19:00] jugeshraghav opened #312 "the movies page should be improvised as it is completely broken."
![Screenshot (110)](https://user-images.githubusercontent.com/74092377/122605596-4a49ff00-d095-11eb-87b2-40b5fb2920ac.png)
![Screenshot (109)](https://user-images.githubusercontent.com/74092377/122605610-503fe000-d095-11eb-96d2-2ec93c5d6ac0.png)

[2021-06-18 19:00] jugeshraghav commented on #312
please assign this issue to me .

[2021-06-19 06:21] nisha331 opened #314 "I would like to add score card of LGMSOC in read me"
![1](https://user-images.githubusercontent.com/76838660/122633149-9e380080-d0f4-11eb-9d28-8ba6c735950a.PNG)
I as a LGMSOC participants would like to work on it.

[2021-06-19 07:30] #38 closed

[2021-06-19 07:55] QAZIMAAZARSHAD commented on #308
No page is fine.

Just resolve the button issue on both pages.

[2021-06-19 07:55] QAZIMAAZARSHAD commented on #311
@jugeshraghav which pages you are talking about?

[2021-06-19 07:56] jugeshraghav commented on #308
Sure.

On Sat, Jun 19, 2021, 13:25 Qazi Maaz Arshad ***@***.***>
wrote:

[2021-06-19 07:57] QAZIMAAZARSHAD commented on #312
This issue is already open #294.

[2021-06-19 07:57] #312 closed

[2021-06-19 07:58] jugeshraghav commented on #311
In some pages the font size is same and in other pages it is different. And
while navigating through the website the inconsistent behaviour is not
looking good.

On Sat, Jun 19, 2021, 13:25 Qazi Maaz Arshad ***@***.***>
wrote:

[2021-06-19 07:59] QAZIMAAZARSHAD commented on #314
Fine.

Add it just beside the Let's Grow More logo.

[2021-06-19 08:00] QAZIMAAZARSHAD commented on #311
Okk go ahead.

Also the footer in mobile view is very large, do something about that also.

[2021-06-19 08:01] jugeshraghav commented on #311
Sure

On Sat, Jun 19, 2021, 13:31 Qazi Maaz Arshad ***@***.***>
wrote:

[2021-06-19 08:05] QAZIMAAZARSHAD opened #315 "Logo and home link redirecting to wrong page"
On clicking the website logo and home link in the navbar of all pages, it redirects to the land page.

Change it to home.html, whenever the user should click on the logo or home link it should redirect to home.html.

Do it for every single page.

[2021-06-19 08:08] QAZIMAAZARSHAD opened #316 "Redesign landing page"
Improve design, CSS, and background of index.html.

[2021-06-19 08:14] QAZIMAAZARSHAD opened #317 "Lagging in redirecting to homepage after signing in"
It takes 4-5 clicks on the "Let's Begin" button after signing up or log in to redirect to the quiz.html and homepage.html respectively.

[2021-06-19 08:54] Godwindaniel10 commented on #316
Hi @QAZIMAAZARSHAD , love to work on this issue

[2021-06-19 09:27] dhruv-varshney opened #318 "changing the position of the Input-sign in button"
![Selection_041](https://user-images.githubusercontent.com/53403223/122637941-dea47800-d10e-11eb-9b02-231310b404aa.png)

as you can see the sign-in button is not placed properly I want to correct the alignment of the sign-in button. please assign me this issue

[2021-06-19 09:35] QAZIMAAZARSHAD commented on #318
@dhruv-varshney this issue is already open https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/308.

Before opening any issue make sure that no other similar issue is open.

[2021-06-19 09:35] #318 closed

[2021-06-19 09:36] dhruv-varshney commented on #318
ok

[2021-06-19 09:41] #278 closed

[2021-06-19 09:59] jugeshraghav commented on #56
if no one is working on this issue can i work on this issue.

[2021-06-19 10:09] QAZIMAAZARSHAD opened #320 "Remove horizontal scroll bar from every page"

[2021-06-19 10:16] QAZIMAAZARSHAD opened #321 "Change hover effect on social icons and scroll button in footer"
For social icons, contact, and scroll to top button color :

Without Hover - Background Red, Inside black

On Hover - Background white, inside red

[2021-06-19 10:17] #297 closed

[2021-06-19 10:20] #308 closed

[2021-06-19 10:20] jugeshraghav commented on #56
Thank you😇

On Sat, Jun 19, 2021, 15:48 Qazi Maaz Arshad ***@***.***>
wrote:

[2021-06-19 12:12] shivshankar9 commented on #320
Do we have to  add other type of scroll bar
Or only I have to remove  scroll bar.

[2021-06-19 12:21] shivshankar9 commented on #321
I would like to give a try on this issue
Can you assign me so I can Start Working.

[2021-06-19 13:21] #315 closed

[2021-06-19 13:47] YonaMiti commented on #321
Can i try it please

[2021-06-19 14:16] QAZIMAAZARSHAD commented on #321
Already assigned.

[2021-06-19 14:49] rushikadivar opened #323 "Title, description, and buttons inside movie cards not aligned properly"
name of the interstellar card  while flip
card flip time duration button size
the layout of the all card in fantasy file can be 3 to 4 per raw with certain padding

[2021-06-19 14:49] rushikadivar commented on #323
can I go for it?

[2021-06-19 15:00] QAZIMAAZARSHAD commented on #323
Whenever you open any issue try to be clear, I was not able to understand anything from what you wrote in the title and description until I opened the fantasy page.

[2021-06-19 15:02] QAZIMAAZARSHAD commented on #323
Yaa sure,

But other than the fantasy page, review every single card of every page and do the modification if needed.

[2021-06-19 15:12] QAZIMAAZARSHAD opened #324 "Few movie cards redirecting to trailer of another movie"
For a few movie cards on clicking the trailer button in the movie card description, the trailer of another movie is opening correct it.
Example - Aashram series ( in war & politics)

[2021-06-19 18:52] rushikadivar commented on #323
I'll keep in mind these things

[2021-06-19 19:38] ishitakapoor26 commented on #324
@QAZIMAAZARSHAD pls assign me this issue.

[2021-06-19 19:46] Anadee11 commented on #317
Sir can I work on this?

[2021-06-19 20:16] rushikadivar opened #328 "footer text size are too big, the scroller effect nedds to be changed and static file should be seprate"
The font size of the footer is too big
scroller (at the end) position relative needs to be fixed and after some scrolling it should be visible
and it also taking a time to return back to top

the static portion should be a separate file  for well maintaining

[2021-06-19 20:16] rushikadivar commented on #328
/assign

[2021-06-20 03:36] shivshankar9 commented on #321
can you checkout this hover is ok!!
![Screenshot (187)](https://user-images.githubusercontent.com/69760883/122661312-92a51200-d1a6-11eb-8074-377b5476d580.png)

[2021-06-20 04:49] QAZIMAAZARSHAD commented on #328
@rushikadivar these issues are already open #320 and #311.
And for CSS part, yes the entire code has become hard to understand but many participants are working on this project so this is not the right time to change entire code style.
Will open this issue again later.

[2021-06-20 04:49] #328 closed

[2021-06-20 05:16] #320 closed

[2021-06-20 05:19] QAZIMAAZARSHAD commented on #321
@shivshankar9 Follow this.

For social icons, contact, and scroll to top button color :

Without Hover - Background Red, Inside black

On Hover - Background white, inside red

[2021-06-20 05:21] QAZIMAAZARSHAD commented on #307
@GaurPeeyush also replace movie cards in TV section.

Replace them with the same size cards as other pages.

[2021-06-20 05:28] shivshankar9 commented on #321
i don't understand which background and which one inside,
are u saying about icon or footer,
if you could help me in that so i can get clear idea,
check twitter button on hover
same like that or different
and without hover see others icons

[2021-06-20 05:33] QAZIMAAZARSHAD commented on #321
In this image without hover color of linkedin, insta, github, playstore and app store is fine.

And on hover color of twitter is fine.

Make all social icons, scroll button and contact button similar.

[2021-06-20 09:10] #321 closed

[2021-06-20 09:17] QAZIMAAZARSHAD opened #332 "Update screenshot section in Readme"

[2021-06-20 09:25] shivshankar9 commented on #332
all pages screenshot i have to add right!!!

[2021-06-20 09:35] QAZIMAAZARSHAD commented on #332
Not all.

home page, contact, sign up, kids, show search functionality, flip effect trailer.

Make gif to show working.

[2021-06-20 09:49] QAZIMAAZARSHAD commented on #332
Make screenshots like this readme https://github.com/smaranjitghose/doc2pen

[2021-06-20 15:35] JahnaviKashyap19 opened #335 "Improving the UI of navigation bar for mobile view"
Adding hover to the navigation bar of the website in mobile view and changing the color of the hamburger icon as the background of the website is dark. Also adding hover to the hamburger icon. Raising this issue under LGM Soc'21.

[2021-06-21 04:18] #110 closed

[2021-06-21 04:31] #282 closed

[2021-06-21 04:38] QAZIMAAZARSHAD commented on #10
Add the "Play Now" button below the trailer button.

[2021-06-21 04:39] QAZIMAAZARSHAD commented on #10
Only the first and correct PR will be accepted.

[2021-06-21 04:40] QAZIMAAZARSHAD commented on #10
Add this button on every single movie card.

[2021-06-21 04:41] #19 closed

[2021-06-21 04:48] QAZIMAAZARSHAD commented on #26
It has been 17days and 7 people are working on this, still, this issue is unresolved.

If anyone is not working then unassign yourself.

[2021-06-21 04:49] QAZIMAAZARSHAD commented on #33
Anyone still working on this, or shall I close this?

[2021-06-21 05:04] QAZIMAAZARSHAD commented on #39
@manognyaa are you working on this?

[2021-06-21 05:05] QAZIMAAZARSHAD commented on #40
@coding-geek21 are you working on this?

[2021-06-21 05:06] QAZIMAAZARSHAD commented on #46
Are you guys working on this?

[2021-06-21 05:06] QAZIMAAZARSHAD commented on #46
Add this feature only in desktop view, not in mobile view.

[2021-06-21 05:07] royalleads15 commented on #46
okk sir , will give response in 2 to 3 days.

[2021-06-21 05:14] QAZIMAAZARSHAD commented on #60
@archanagandhi are you working on this?

[2021-06-21 05:15] #93 closed

[2021-06-21 05:15] QAZIMAAZARSHAD commented on #106
@theSumeetGithub are you working on this?

[2021-06-21 05:18] QAZIMAAZARSHAD commented on #147
@nik464 are you working on this?

[2021-06-21 05:19] QAZIMAAZARSHAD commented on #147
Apart from adding a section correct the movie cards size, flip effect, font size in TV page.

[2021-06-21 05:21] QAZIMAAZARSHAD commented on #252
Issue already resolved

[2021-06-21 05:21] #252 closed

[2021-06-21 06:21] ishitakapoor26 commented on #26
@QAZIMAAZARSHAD Sorry for delay because I had my end sem exams last week. I am working on it and will shortly create a pr.

[2021-06-21 06:35] coding-geek21 commented on #40
Yeah actually I was having exams, so was not able to contribute, I will be making a PR soon , just give me some more time

[2021-06-21 09:21] nitishapiplani commented on #7
okk

[2021-06-21 10:18] nitishapiplani commented on #7
![preloader](https://user-images.githubusercontent.com/83905949/122746961-26aad280-d2a8-11eb-9408-93ca09201c41.PNG)

[2021-06-21 10:21] QAZIMAAZARSHAD commented on #7
Nice

[2021-06-21 10:39] nitishapiplani commented on #7
so may i continue with this

[2021-06-21 11:11] nitishapiplani commented on #33
ya i am

[2021-06-21 11:12] archanagandhi commented on #60
No, I am having sem exams. couldn't concentrate. Let me close the issue

[2021-06-21 11:22] nitishapiplani commented on #60
if  u are closing may i do it

[2021-06-21 11:24] #314 closed

[2021-06-21 11:27] nitishapiplani commented on #311
may i work on it

[2021-06-21 11:28] nitishapiplani commented on #335
may i work on this

[2021-06-21 11:29] QAZIMAAZARSHAD commented on #311
This one is already assigned.

You are already assigned to many issues complete them first then look for other issues.

[2021-06-21 11:30] QAZIMAAZARSHAD commented on #335
No, already assigned.

[2021-06-21 11:33] nitishapiplani commented on #311
okk sir

[2021-06-21 11:33] nitishapiplani commented on #335
okk

[2021-06-21 11:37] #7 closed

[2021-06-21 12:01] shivshankar9 commented on #120
I would like to give a try on this issue can u assign to me

[2021-06-21 17:47] JahnaviKashyap19 opened #343 "Changing the design of the movies page"
Changing the design of the movies page and making it similar to the rest of the pages.
The CSS of the movies page needs work as it looks very different from the rest of the pages. Please assign me this issue under LGMSoc'21. Thank you.

[2021-06-22 04:20] harshita9621 commented on #343
can I work on this issue?

[2021-06-22 04:38] JahnaviKashyap19 commented on #343
@harshita9621 I have already opened the issue . You can open another issue.

[2021-06-22 04:51] QAZIMAAZARSHAD commented on #343
@JahnaviKashyap19 and @harshita9621 this issue is already open.

Before opening any issue make sure that no other similar issue is open,

[2021-06-22 04:51] QAZIMAAZARSHAD commented on #343
Ping me on https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/294 and ask to assign you.

[2021-06-22 04:51] #343 closed

[2021-06-22 05:41] mehulmb1 commented on #324
@QAZIMAAZARSHAD  Please assign this to me I can do this easily.

[2021-06-22 05:43] mehulmb1 commented on #293
@QAZIMAAZARSHAD Please assign this to me i know how to make it responsive

[2021-06-22 05:49] mehulmb1 commented on #39
Please let me do this I will make a responsive button and also gonna add animation to it.

[2021-06-22 05:50] QAZIMAAZARSHAD commented on #39
Do it for every page.
Don't damage other features.
Check responsiveness as well.

[2021-06-22 05:54] shivshankar9 commented on #120
![Screenshot (195)](https://user-images.githubusercontent.com/69760883/122871154-3e3b9700-d34c-11eb-96aa-e836ad61e1b8.png)
This works needs to add only id setup

[2021-06-22 06:03] WebShivam commented on #293
Hi @QAZIMAAZARSHAD I did this
I just forgot to push the changes
I'm doing it now

[2021-06-22 06:37] #293 closed

[2021-06-22 06:47] ishitakapoor26 commented on #324
@QAZIMAAZARSHAD you want to say that trailers are redirected to other seasons like two or other and not one right?

[2021-06-22 07:25] JahnaviKashyap19 commented on #294
Please assign me this issue.

[2021-06-22 07:32] JahnaviKashyap19 commented on #335
@QAZIMAAZARSHAD I have made the pull request. Please review it.

[2021-06-22 07:57] QAZIMAAZARSHAD commented on #335
@JahnaviKashyap19 it is fine in mobile view but you have ruined the desktop view.

![image](https://user-images.githubusercontent.com/56196640/122886197-5c5dc300-d35d-11eb-9fab-2d192c5fd4a5.png)

Change the desktop view navbar back to normal.
Also, for the mobile view you have not done the changes in action, comedy, horror, etc. other pages do changes in them also.

Also, the hover effect is faded

[2021-06-22 08:02] QAZIMAAZARSHAD commented on #324
When I have checked there were many such cards, way more than 2.

Don't care about the season, all the movie card should redirect to their own trailer.

[2021-06-22 08:05] QAZIMAAZARSHAD commented on #294
If the issue remains unresolved for a few more days then I will assign you.

[2021-06-22 08:11] #317 closed

[2021-06-22 08:33] ishitakapoor26 commented on #324
okay I'll check again.

[2021-06-22 08:44] QAZIMAAZARSHAD opened #347 "Not redirecting to quiz.html after successful sign up"

[2021-06-22 08:45] QAZIMAAZARSHAD opened #348 "Align the register button properly in sign up page"
![Screenshot (150)](https://user-images.githubusercontent.com/56196640/122893710-338cfc00-d364-11eb-9ab8-2be342de8a8f.png)

[2021-06-22 09:14] jugeshraghav commented on #348
i would like to work on the issue.

[2021-06-22 09:14] jugeshraghav commented on #347
i would like to work on the issue.

[2021-06-22 09:21] bansiparsania commented on #348
Please assign this to me

[2021-06-22 09:25] QAZIMAAZARSHAD commented on #348
@jugeshraghav I have assigned you another issue.
Let's give this opportunity to @bansiparsania.

[2021-06-22 09:26] jugeshraghav commented on #348
Ya sure 😇

On Tue, Jun 22, 2021, 14:55 Qazi Maaz Arshad ***@***.***>
wrote:

[2021-06-22 09:28] bansiparsania commented on #348
Thank you 👍🏻

[2021-06-22 09:41] bansiparsania commented on #348
Can I align register button in center ?

[2021-06-22 09:55] QAZIMAAZARSHAD commented on #348
Like this

![image](https://user-images.githubusercontent.com/56196640/122904495-07767880-d36e-11eb-9468-f6a284fd7302.png)

[2021-06-22 12:05] JahnaviKashyap19 commented on #335
Should I remove the icons from the navigation bar?

[2021-06-22 12:13] QAZIMAAZARSHAD commented on #335
In mobile view they were fine.

Remove them from desktop view.

[2021-06-23 04:52] #335 closed

[2021-06-23 12:12] ayushseth07 opened #350 "Add show password option on login and signup page"
Adding an eye icon in the password field which shows the password

[2021-06-23 12:13] ayushseth07 commented on #350
/assign

[2021-06-23 12:14] ayushseth07 commented on #350
Please assign this issue to me

[2021-06-23 14:15] 889-dj commented on #348
heyyy! i would love to work on this issue

[2021-06-23 14:56] QAZIMAAZARSHAD commented on #348
Already assigned. Look for some other issues.

[2021-06-23 15:00] 889-dj commented on #348
sure thanks....

[2021-06-23 18:40] supzi-del opened #354 "Add a mailto: link in gmail link in footer"
When the email link in footer is clicked, it redirects to gmail page which should not happen. I would like to make it redirect to this page as shown : by adding mailto: link in href
![Screenshot (298)](https://user-images.githubusercontent.com/78655439/123150858-76dc8d00-d480-11eb-803c-3480919904ed.png)

[2021-06-23 18:41] supzi-del commented on #354
I would like to resolve this under LGMSOC.

[2021-06-23 19:46] harshita9621 commented on #268
Can I work on this issue @QAZIMAAZARSHAD

[2021-06-23 19:46] harshita9621 commented on #241
Can I work on this issue @QAZIMAAZARSHAD

[2021-06-23 20:11] ishitakapoor26 commented on #268
@harshita9621 I'm already working on this issue, pls look for some other issue. Good Luck!

[2021-06-24 03:45] #350 closed

[2021-06-24 03:56] QAZIMAAZARSHAD commented on #241
Replace the images on kids, webseries and tv page with similar images as in other pages.
And apply the same flip effect.
Also check responsiveness.

[2021-06-24 03:57] QAZIMAAZARSHAD commented on #268
@harshita9621 I have assigned you another issue, you can start working on that.

[2021-06-24 06:12] shivshankar9 commented on #120
![Screenshot (200)](https://user-images.githubusercontent.com/69760883/123211170-b2a73f00-d4e0-11eb-8b36-5a724229a0d1.png)
signup button working for signup with google but after sign in not redirecting to home page,

[2021-06-24 06:13] ishitakapoor26 commented on #26
@QAZIMAAZARSHAD pls review pr.

[2021-06-24 06:17] QAZIMAAZARSHAD commented on #120
Yaa this is an issue https://github.com/QAZIMAAZARSHAD/Movie-Streaming-Website/issues/347.

If redirecting to the home page after google login then you can make PR.

[2021-06-24 06:17] QAZIMAAZARSHAD commented on #26
Will review soon.

[2021-06-24 06:19] #26 closed

[2021-06-24 06:48] QAZIMAAZARSHAD opened #357 "Check responsiveness of all the pages in mobile view"

[2021-06-24 06:54] QAZIMAAZARSHAD opened #358 "Link all the pages with each other"
Also, check all the hyperlinks and buttons in the footer and navbar.

On clicking the logo, it should redirect to home.html. Many logos in the footer and navbar are redirecting to the index page.
All pages are redirecting to dummy.html instead of premium.html.

Test the entire website and look for any other such issues.

[2021-06-24 07:47] QAZIMAAZARSHAD opened #359 "Integrate payment gateway in premium page"

[2021-06-24 08:09] harshita9621 commented on #241
hi @QAZIMAAZARSHAD  sir i did not get your question can you please help me to understand that?

[2021-06-24 08:18] QAZIMAAZARSHAD commented on #241
The styling, color, size of images on kids, web series, and tv page are different than images of other pages, also no flip effect is on those images.

Apply all the similar effects on those images.

[2021-06-24 08:36] shivshankar9 commented on #358
I will do that..

[2021-06-24 08:37] shivshankar9 commented on #357
Assign me

[2021-06-24 08:44] #354 closed

[2021-06-24 08:58] shivshankar9 opened #361 "Need setup profile page"
<h3>Profile page</h3>

[2021-06-24 09:04] #316 closed

[2021-06-24 09:48] kshitija-2001 commented on #359
please assign me this issue under LGMSOC'21

[2021-06-24 09:49] kshitija-2001 commented on #307
Please assign me this issue under LGM SOC 21

[2021-06-24 11:36] #307 closed

[2021-06-24 12:49] kshitija-2001 commented on #357
Please assign me this issue under LGMSOC 21

[2021-06-24 12:50] kshitija-2001 commented on #358
Please assign me this issue under LGMSOC 21

[2021-06-24 12:58] kshitija-2001 commented on #324
Please assign me this issue under LGMSOC 21

[2021-06-24 13:02] kshitija-2001 commented on #60
Please assign me this issue under LGMSOC 21

[2021-06-24 13:02] Godwindaniel10 commented on #295
@QAZIMAAZARSHAD Can i work on this issue?

[2021-06-24 13:02] kshitija-2001 commented on #106
Please assign me this issue under LGMSOC 21

[2021-06-24 13:08] QAZIMAAZARSHAD commented on #358
Already assigned.

[2021-06-24 13:11] kshitija-2001 commented on #359
Please may I know through which login email should I integrate the payment button?

[2021-06-24 13:16] Godwindaniel10 opened #364 "Fix sign up form validation ( BUG )"
Sign-up form validation is not working as expected.   my password is 6 characters long and has a number and also has a lower case and an uppercase, but it's still displaying a form validation error.

As shown below.

![movie-stream-bug](https://user-images.githubusercontent.com/54848535/123269046-81396e00-d4f6-11eb-8fab-b3b5bb1a78ea.JPG)

[2021-06-24 13:26] QAZIMAAZARSHAD commented on #359
Do you need a password as well?

[2021-06-24 13:34] QAZIMAAZARSHAD commented on #364
![image](https://user-images.githubusercontent.com/56196640/123271848-dab59300-d51e-11eb-865c-3b6163089f21.png)

I tried it worked for every password except yours godwinFunc1000().

You can try fixing it.

[2021-06-24 13:52] kshitija-2001 commented on #359
No, But a new password will be created and also a registered mobile number for accepting the payment

[2021-06-24 13:56] QAZIMAAZARSHAD commented on #359
qazimaazarshad.info@gmail.com
8922075023

[2021-06-24 14:03] Godwindaniel10 commented on #364
@QAZIMAAZARSHAD on it....

[2021-06-24 14:12] kshitija-2001 commented on #359
Ok thanks a lot

[2021-06-24 15:04] kshitija-2001 opened #366 "Navigation bar bug in movies page"
The navigation bar is not properly aligned and styled

![Capture](https://user-images.githubusercontent.com/60540365/123286565-a5637200-d52b-11eb-8470-7314efa877eb.JPG)

[2021-06-24 15:05] QAZIMAAZARSHAD commented on #366
This issue is open #294.

[2021-06-24 15:05] #366 closed

[2021-06-24 15:07] kshitija-2001 commented on #294
Please assign me this issue under LGMSOC'21

[2021-06-24 15:49] jugeshraghav commented on #261
I need help . I tried a lot but could not create the effect in the footer that was before. If anyone could help me

[2021-06-24 16:01] QAZIMAAZARSHAD commented on #261
@saimanoharhm please help @jugeshraghav in resolving this issue.

@jugeshraghav you can ask fellow participants as well for help, and this feature is not that necessary and the issue was opened by you only so if you wish you can close this issue.

[2021-06-24 16:09] jugeshraghav commented on #261
I thought the feature was nice. So shall I continue or close the issue?

On Thu, Jun 24, 2021, 21:31 Qazi Maaz Arshad ***@***.***>
wrote:

[2021-06-24 16:19] JatanDudeja opened #367 "Chill Button On The Home Page Needs To Be Fixed With Red Color."
Chill Button On The Home Page Needs To Be Fixed With Red Color.

[2021-06-24 16:21] JatanDudeja commented on #367
Please assign me this issue I would like to work on the issue.

[2021-06-24 16:23] saimanoharhm commented on #261
@jugeshraghav Please tell me your query with detail description I will help you out.
Thanks

[2021-06-24 16:25] saimanoharhm commented on #261
@QAZIMAAZARSHAD

[2021-06-24 16:35] QAZIMAAZARSHAD commented on #367
No need it's fine.

[2021-06-24 16:35] #367 closed

[2021-06-24 16:37] QAZIMAAZARSHAD opened #368 "Make slideshow continuous and it should always be visible on screen"
![image](https://user-images.githubusercontent.com/56196640/123300628-5ff97180-d538-11eb-8a08-df9331bade20.png)

This is the case when the website opens, slideshow must not be hidden at any point of time.

[2021-06-24 16:39] QAZIMAAZARSHAD commented on #261
Already said, totally up to you.

[2021-06-24 17:05] jugeshraghav commented on #261
![Screenshot (112)](https://user-images.githubusercontent.com/74092377/123303341-56253d80-d53b-11eb-9df7-59f11df9a04e.png)
this effect is visible only in the kids section . And i want to create it in all the pages.

[2021-06-24 18:44] mdinesh124 opened #370 "Add preloader to the website"
I would add preloader to the website which loads before opening of the movie-streaming-website.

[2021-06-24 18:46] mdinesh124 commented on #370
@QAZIMAAZARSHAD Please assign me this issue under LGMSOC.

[2021-06-24 22:51] #311 closed

[2021-06-24 23:01] QAZIMAAZARSHAD commented on #370
@mdinesh124 preloader already existed but due to an update, something went wrong, look into it.

[2021-06-24 23:27] #295 closed

[2021-06-25 04:21] kshitija-2001 commented on #359
I am signing up on Razorpay they are asking for the verification code came on that mail id

[2021-06-25 04:32] QAZIMAAZARSHAD commented on #359
209733

[2021-06-25 06:49] #359 closed

[2021-06-25 08:00] mdinesh124 commented on #370
Ok

[2021-06-25 09:19] #268 closed

[2021-06-25 11:47] aasthasaxena217 commented on #368
I can make bootstrap carousel , where it will show multiple images continuously or remove the bugs in existing code.

[2021-06-25 12:49] QAZIMAAZARSHAD commented on #368
As you wish, but it should be automatic, continuously moving, and must be responsive.

[2021-06-25 14:31] aasthasaxena217 commented on #368
Yes, please assign this issue to me

[2021-06-25 14:39] saimanoharhm commented on #261
Ok.

Ask me if you have any queries in development part. I will help you out.

[2021-06-25 16:52] tjanhvi opened #376 "Improve the landing page"
Want to change the position of the front page and continuous sliding images.
Please assign me this issue.

[2021-06-26 05:12] puneetkaur2929 opened #379 "Improve footer in Login and sign-up page"
Hey @QAZIMAAZARSHAD

As you can see the bottom class in Sign In page is not up to the mark .
I wish to work on this issue under LGM SOC '21
![Screenshot (52)](https://user-images.githubusercontent.com/80326308/123502573-1b222780-d66b-11eb-8b83-7673a605ca14.png)

[2021-06-26 05:36] QAZIMAAZARSHAD commented on #379
Do it for both login and sign up page.

[2021-06-26 11:24] Sarthakjain594 opened #381 "Button improvement !"
Heyy , I want to improve the buttons on the landing page and other pages . I am a LGM SOC'21 participant .
Can I work on this ?

[2021-06-26 11:29] QAZIMAAZARSHAD commented on #381
Can you share what improvements you want to make?

[2021-06-26 11:32] Sarthakjain594 opened #382 "Apply custom scroll bar in login and signup page, improve scroll to top button hover effect"
Heyy , I am a LGM SOC'21 participant . Back to top has absolute position on the web pages . However it should be fixed on the bottom of view port and can't be disappeared on scrolling .

I would like to rectify this thing . Can I ?

[2021-06-26 11:34] Sarthakjain594 commented on #381
Actually I want to make improvement in its hover state , Like when we hover the button will have a border and changed text color to red i.e, button colour and a border of same color .
It will be more appealing and feels more smooth .

[2021-06-26 11:34] QAZIMAAZARSHAD commented on #382
Do it in all pages.

Also apply hover effect on it.

[2021-06-26 11:35] Sarthakjain594 commented on #382
Okay . Thanks sir . I will .

[2021-06-26 12:31] QAZIMAAZARSHAD commented on #382
@Sarthakjain594 scroll to top button is already fixed on the footer.

I misunderstood, I thought this issue is open in my other project. My apology.

Scroll to top button is fine.

[2021-06-26 12:34] QAZIMAAZARSHAD commented on #382
You can still do one thing,

Make scroll to top button in signup and login page similar to that in other pages.
Also apply custop scroll bar in login and signup page as in other pages.

And change hover effect of the scroll button on all pages.
On hover - Background white, inside red

[2021-06-26 12:38] QAZIMAAZARSHAD commented on #382
![Screenshot (173)](https://user-images.githubusercontent.com/56196640/123513203-6d823900-d6a9-11eb-949a-52272a13c919.png)

[2021-06-26 13:39] Sarthakjain594 commented on #382
OKkk no worries ... I will do that .

[2021-06-26 13:43] Sarthakjain594 commented on #382
But still I wanna ask one thing , correct me if I am thinking in some wrong direction .
The back to top button on all pages is gonna be on the footer itself .
Then how could it be managable to scroll so long to top again from the mid of  a page ,  if the button is in the end and not visible there in the mid ?

[2021-06-26 13:59] QAZIMAAZARSHAD commented on #382
It is better this way, it was that way previously but changed because it was not looking nice.
Also, not all pages are too long, so it won't be that much difficult.

[2021-06-26 13:59] Sarthakjain594 commented on #382
Okk I got it

[2021-06-26 17:40] Sarthakjain594 commented on #381
Should I make the button color changes to read and bg color to white on hover as done for back to top button ?

[2021-06-26 23:46] #382 closed

[2021-06-26 23:53] QAZIMAAZARSHAD commented on #381
Sure if it looks better.

[2021-06-27 04:48] Akshit42-hue commented on #120
Please assign me this issue under LGM-SOC 21 @QAZIMAAZARSHAD

[2021-06-27 04:53] QAZIMAAZARSHAD commented on #120
Already assigned.

[2021-06-27 04:59] Akshit42-hue commented on #120
I have already started working on it please let me assign this if it remain unresolved for few days.

[2021-06-27 05:27] Sarthakjain594 commented on #381
Heyyy To imrpove the buttons , I need to remove the bootstrap from them and use custom CSS . Can I ??

[2021-06-27 05:32] QAZIMAAZARSHAD commented on #381
Sure,

Make sure you are not damaging any other feature and design.

[2021-06-27 05:35] Sarthakjain594 commented on #381
yes I will make sure that .

[2021-06-27 05:38] QAZIMAAZARSHAD commented on #120
Everyone remember only the first and correct PR will be accepted.

[2021-06-27 09:02] #332 closed

[2021-06-27 17:58] arnab8335 opened #389 "List of movies ranging according to their popularity and acceptance rate"
Pease assign this to me as a part of LGMSoC 21

[2021-06-28 01:57] #379 closed

[2021-06-28 02:03] QAZIMAAZARSHAD opened #390 "Fix the footer of FAQ page"

[2021-06-28 02:06] QAZIMAAZARSHAD opened #391 "Design Anime page"

[2021-06-28 02:29] QAZIMAAZARSHAD opened #392 "Trailer window should open within the website"
Currently, when the trailer button is clicked the user is redirected to youtube, but instead a small or medium size window should open within the website to view the trailer.

[2021-06-28 07:02] bansiparsania commented on #348
plz checkout my changes

[2021-06-28 13:07] #294 closed

[2021-06-28 15:14] JahnaviKashyap19 commented on #391
please assign me this issue under LGMSoc'21

[2021-06-28 15:15] JahnaviKashyap19 commented on #390
Please assign me this issue under LGMSoc'21

[2021-06-28 15:16] JahnaviKashyap19 commented on #392
Please assign me this issue.

[2021-06-28 15:26] QAZIMAAZARSHAD commented on #391
@JahnaviKashyap19 flip effect, nav bar, and footer should be similar to other pages.

[2021-06-28 15:43] JahnaviKashyap19 commented on #391
Okay.

[2021-06-29 07:30] Srijan1878 commented on #156
Can I work on this issue under LGMSOC? @QAZIMAAZARSHAD

[2021-06-29 07:32] QAZIMAAZARSHAD commented on #156
Make TV pages similar to other pages. The flip effect, font everything should be the same.

[2021-06-29 07:33] Srijan1878 commented on #156
Okay!

[2021-06-29 08:38] includestdlibrary commented on #227
@QAZIMAAZARSHAD  is this issue is resolved or can i work on this?

[2021-06-30 04:04] QAZIMAAZARSHAD commented on #227
Change cursor to pinter in movies, webseries, kids and tv page.

[2021-06-30 04:19] #156 closed

[2021-06-30 08:05] Srijan1878 commented on #391
Can I work on this issue? @QAZIMAAZARSHAD

[2021-06-30 08:52] QAZIMAAZARSHAD commented on #391
Already assigned.

[2021-07-01 11:02] Deep06-11 commented on #358
@QAZIMAAZARSHAD Can you please assign me this issue under LGM-SOC 21 if it's not complete yet

[2021-07-01 11:15] QAZIMAAZARSHAD commented on #358
The first PR will be accepted.

[2021-07-01 11:17] QAZIMAAZARSHAD commented on #10
@aum-singhal, @vishalps2606. @Deepak735, @MEETOZA123 anyone on it?

[2021-07-01 11:18] QAZIMAAZARSHAD commented on #22
@harshita9621, @harshita0802goswami, @SanjeevKumar22 anyone working on this?

[2021-07-01 11:22] #33 closed

[2021-07-01 11:22] harshita9621 commented on #22
@QAZIMAAZARSHAD I am working on it

[2021-07-01 11:23] QAZIMAAZARSHAD commented on #36
@coding-geek21 and @nandinimalik16 how is it going?

[2021-07-01 11:24] QAZIMAAZARSHAD commented on #22
Ok, finish it.

[2021-07-01 11:25] QAZIMAAZARSHAD commented on #39
@mehulmb1 and @manognyaa are you guys on it?

[2021-07-01 11:30] vishalps2606 commented on #10
Yes, I'm on it. But waiting for merging all pull requests. Because if any pull request is merged before mine, some code changes show some conflicts.

[2021-07-01 11:33] QAZIMAAZARSHAD commented on #10
@vishalps2606 just make PR, I will merge your first if everything in your PR will be correct.

[2021-07-01 11:34] vishalps2606 commented on #10
ok

[2021-07-01 17:57] vk-2501 commented on #358
Kindly assign me this issue

[2021-07-01 17:59] vk-2501 commented on #376
Can I work on this issue?

[2021-07-02 06:42] #120 closed

[2021-07-02 06:43] QAZIMAAZARSHAD opened #406 "Fix google sign-in function in login page"

[2021-07-02 09:51] RituCs commented on #406
I would like to work on this issue.Please assign me.

[2021-07-02 10:46] #324 closed

[2021-07-02 12:50] vk-2501 commented on #376
Could you please provide a description what changes need to be done?

[2021-07-02 12:56] QAZIMAAZARSHAD commented on #376
Just implement your own ideas to make the design better, refer to some other websites if you want to.

[2021-07-02 12:57] QAZIMAAZARSHAD commented on #370
@mdinesh124 are you on it?

[2021-07-02 14:47] vk-2501 commented on #376
Okay thanks

[2021-07-03 06:42] #358 closed

[2021-07-03 06:48] QAZIMAAZARSHAD opened #409 "Contact Page - After submission of form user is redirected to invalid address"

[2021-07-03 08:50] harishpansari commented on #409
I would like to work on this bug. Please assign me.

[2021-07-03 11:54] NidhiChaurasia opened #410 "Create an AI Robot for Movie-Streaming-Website queries and general QnA replier."
#**Create an AI Robot for Movie-Streaming-Website  queries and general QnA replier that could resolve any kind of issue regarding movie-search or Rating and Reviews of Movies.

[2021-07-03 11:58] NidhiChaurasia commented on #410
@QAZIMAAZARSHAD  please Assign me this issue .I am  a LGM-SOC'21 participant and wants to contribute in this project. I want to make a Chatbot in Dialogflow.
Here is the Bot I have created 👍🏻-
https://bot.dialogflow.com/53e898d9-a118-4378-908f-177b32f5b34f

[2021-07-03 12:23] QAZIMAAZARSHAD commented on #410
Yes great idea, I was about to open this issue.

[2021-07-03 14:01] NidhiChaurasia commented on #410
Thanks @QAZIMAAZARSHAD I would be notifying you here as soon as I make ! 👍🏻

[2021-07-03 19:41] Ananya-Misra opened #411 "Add responsiveness to contact us page"
Please assign this issue to me under LGMSOC.

![image](https://user-images.githubusercontent.com/70848031/124365266-72745900-dc64-11eb-90d2-05f082fd64db.png)

![image](https://user-images.githubusercontent.com/70848031/124365573-a2246080-dc66-11eb-97ab-5f199b7bc4df.png)

[2021-07-03 19:49] Ananya-Misra opened #412 "Add validation to the form in contactus.html"
Adding validation and preventing the collapsing of email on the input.

![Untitled](https://user-images.githubusercontent.com/70848031/124365435-9edca500-dc65-11eb-8307-3f4030928ed4.png)

[2021-07-04 07:01] jugeshraghav commented on #56
Hi @QAZIMAAZARSHAD  I am facing some issues.
![Screenshot (113)](https://user-images.githubusercontent.com/74092377/124376263-bf3b4c80-dcc3-11eb-989b-d156472f087b.png)
If you could help me

[2021-07-04 07:17] QAZIMAAZARSHAD commented on #56
Which issue?

@saimanoharhm look into this.

[2021-07-04 08:40] #409 closed

[2021-07-04 09:12] harishpansari commented on #409
Thanks you Sir @QAZIMAAZARSHAD for assigned me this issue.

[2021-07-04 10:42] #348 closed

[2021-07-04 13:08] saimanoharhm commented on #56
@jugeshraghav Elaborate your issue wth more detail.

[2021-07-04 13:11] jugeshraghav commented on #56
I am trying to merge the changes done in the main repository to my forked
repository and getting this error.

I used the command - git pull upstream master .

It works every time but not working as expected today.

On Sun, Jul 4, 2021, 18:38 ANNAM SAI MANOHAR ***@***.***>
wrote:

[2021-07-04 13:22] saimanoharhm commented on #56
@jugeshraghav Once have a look at this.

Link:- https://stackoverflow.com/questions/46232906/git-clone-error-rpc-failed-curl-56-openssl-ssl-read-ssl-error-syscall-errno

[2021-07-04 14:46] saimanoharhm commented on #56
@jugeshraghav Let me know if you still couldn't able to find it

[2021-07-06 09:16] VenomFate-619 opened #415 "How to watch movie"
How can we watch movie it only have trailer as well as how can I watch it with my friend on different devices and location

[2021-07-06 09:31] QAZIMAAZARSHAD commented on #415
@VenomFate-619 are you asking question or want to add this feature in website?

[2021-07-06 09:37] VenomFate-619 commented on #415
I had read the description and thought that this features are there , but I was - wrong ,so it is a question ❓

[2021-07-06 09:40] QAZIMAAZARSHAD commented on #415
Yaa, there is no option to watch movies right now. This is just a demo website and these features will be added in the future.

[2021-07-06 09:40] #415 closed

[2021-07-08 11:38] #261 closed

[2021-07-08 11:40] QAZIMAAZARSHAD commented on #180
@Anjali1806 still working on it or should I close this issue?

[2021-07-08 12:52] saimanoharhm commented on #10
@aum-singhal @vishalps2606 @Deepak735 @MEETOZA123 Any update guys.

[2021-07-08 12:53] saimanoharhm commented on #22
@harshita9621  @harshita0802goswami  @SanjeevKumar22 Any update guys

[2021-07-08 12:54] saimanoharhm commented on #36
@coding-geek21  and @nandinimalik16  Any update guys

[2021-07-08 12:54] saimanoharhm commented on #39
@mehulmb1  and @manognyaa Any update guys

[2021-07-08 12:55] saimanoharhm commented on #40
@coding-geek21 Any update

[2021-07-08 12:56] saimanoharhm commented on #46
@royalleads15 @Sumit11081996 @jayant766 Any update guys

[2021-07-08 12:57] saimanoharhm commented on #56
@jugeshraghav @harshita0802goswami @coding-geek21 @nandinimalik16 Any update guys

[2021-07-08 12:57] saimanoharhm commented on #147
@nik464 Any update ?

[2021-07-08 12:58] harshita0802goswami commented on #22
not able to add it,having errors in my code

[2021-07-08 13:10] QAZIMAAZARSHAD commented on #22
Describe your issue, share screenshots and links, @saimanoharhm will help you.

[2021-07-08 13:17] saimanoharhm commented on #22
@harshita0802goswami I think I aleady told you few points to add it on your code on slack dm. Did you try that. If still face issue then share your code again I will help you out.
-Thanks

[2021-07-08 14:25] Anjali1806 commented on #180
Yes, it's done.

On Thu, 8 Jul 2021 at 17:10, Qazi Maaz Arshad ***@***.***>
wrote:

[2021-07-08 14:57] QAZIMAAZARSHAD commented on #180
Fine, share screenshots and demo link.

[2021-07-08 15:04] saimanoharhm commented on #208
@Dhanushreddy09 Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:05] saimanoharhm commented on #227
@jatinjain001 @GaurPeeyush Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:05] saimanoharhm commented on #241
@harshita9621 @abhshkvrm Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:06] saimanoharhm commented on #264
@ishitakapoor26 Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:06] saimanoharhm commented on #267
@rishika789 Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:07] saimanoharhm commented on #281
@kumarishalini6 Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:07] saimanoharhm commented on #296
@WebShivam Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:08] saimanoharhm commented on #323
@rushikadivar Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:08] saimanoharhm commented on #347
@jugeshraghav Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:08] saimanoharhm commented on #357
@kshitija-2001 @shivshankar9 Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:09] saimanoharhm commented on #361
@shivshankar9 Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:09] saimanoharhm commented on #364
@Godwindaniel10 Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:09] kumarishalini6 commented on #281
So sorry I forgot to inform you that I am little bit busy because of exam
So sorry can you please give me some more time?

[2021-07-08 15:10] saimanoharhm commented on #368
@aasthasaxena217 Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:10] saimanoharhm commented on #370
@mdinesh124 Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:10] saimanoharhm commented on #376
@vk-2501 @tjanhvi Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:12] QAZIMAAZARSHAD commented on #281
Fine

[2021-07-08 15:13] shivshankar9 commented on #361
Ok sure ,

[2021-07-08 15:15] saimanoharhm commented on #389
@arnab8335 Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:16] saimanoharhm commented on #390
@JahnaviKashyap19 Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:16] saimanoharhm commented on #391
@JahnaviKashyap19 Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:16] saimanoharhm commented on #392
@JahnaviKashyap19 Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:17] saimanoharhm commented on #406
@RituCs Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:17] saimanoharhm commented on #410
@NidhiChaurasia Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:17] saimanoharhm commented on #411
@Ananya-Misra Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:18] saimanoharhm commented on #412
@Ananya-Misra Any update? If you face issue in the code let me know with your problem I am here to help you out.

[2021-07-08 15:40] mdinesh124 commented on #370
I have added the preloader in the website but I am trying to improve its transition effects part. I will create a pull request by tomorrow positively.

[2021-07-08 15:56] Godwindaniel10 commented on #364
@saimanoharhm , i am actually working on something at the moment, if you like to work on this issue, please feel free to go ahead .

Thank you for the reminder .

[2021-07-08 16:01] nandinimalik16 commented on #36
about to complete

[2021-07-08 16:22] ishitakapoor26 commented on #264
Okay! Ya I'm almost done with it.

[2021-07-08 16:44] saimanoharhm commented on #370
Ok Cool

[2021-07-08 16:47] saimanoharhm commented on #364
@Godwindaniel10 I am a mentor for this project so I don't have access to take up issue and work on. If you still want to continue you can else let us know will assign to someone else.
-Thanks

[2021-07-08 16:47] saimanoharhm commented on #36
ok cool

[2021-07-08 16:47] saimanoharhm commented on #264
ok cool

[2021-07-08 17:08] RituCs commented on #406
Yes please actually I could not found the api key and the client id . Apart from that I also want to know where the google sign in button linked to the JS?

[2021-07-08 17:12] Godwindaniel10 commented on #364
oh aiit , you should assign the issue to someone else. i am a bit overwhelmed at the moment.

thanks @saimanoharhm

[2021-07-08 18:15] arnab8335 commented on #389
@saimanoharhm can I implement the star rating in the website.

[2021-07-08 18:32] ujju20 commented on #364
Can I work on this issue?

[2021-07-08 20:15] Ananya-Misra commented on #411
@saimanoharhm I will make the PR by tomorrow.

[2021-07-08 21:39] nandinimalik16 commented on #36
not able to create a pull request
![romance html - project9 - Visual Studio Code 7_9_2021 3_08_14 AM](https://user-images.githubusercontent.com/71604282/124994173-142fe780-e063-11eb-9f4c-17d742cac7e4.png)

[2021-07-09 03:14] saimanoharhm commented on #406
I think api key and client id might have saved on .env file so it's visble for people who created it.  @QAZIMAAZARSHAD Who worked on login page before ?

[2021-07-09 03:15] saimanoharhm commented on #389
cc: @QAZIMAAZARSHAD

[2021-07-09 03:15] saimanoharhm commented on #364
cc : @QAZIMAAZARSHAD

[2021-07-09 03:16] saimanoharhm commented on #364
Yes you can

[2021-07-09 03:55] QAZIMAAZARSHAD commented on #406
@Akshit42-hue

[2021-07-09 03:56] QAZIMAAZARSHAD commented on #389
Go ahead

[2021-07-09 04:28] Akshit42-hue commented on #406
@RituCs api key and client id is in the login.html file above </head> tag

[2021-07-09 04:30] Akshit42-hue commented on #406
@RituCs api key and client id is in the login.html file  above /head  tag

[2021-07-09 04:38] aasthasaxena217 commented on #368
@saimanoharhm , the issue effect is made properly and I have createdclasses to div tags, because marquee tag does not have the continous effect property , but my problem is that , it is having little black space between the images , which i am not able to remove it . This is responsive.
![image](https://user-images.githubusercontent.com/64476429/125023768-2b8bc680-e09d-11eb-97dd-be674d21bbef.png)

[2021-07-09 04:43] QAZIMAAZARSHAD commented on #368
@aasthasaxena217 third row is not entirely visible so remove that row for this window size and increase the size of images so they fit the entire screen.

[2021-07-09 05:18] aasthasaxena217 commented on #368
@QAZIMAAZARSHAD sure , will do this

[2021-07-09 05:24] Srijan1878 commented on #391
Hello, in case she misses out on the task, please consider me as an assignee. @QAZIMAAZARSHAD

[2021-07-09 05:46] aasthasaxena217 commented on #368
@QAZIMAAZARSHAD  and @saimanoharhm , Is this fine? can I make pull request ? ![image](https://user-images.githubusercontent.com/64476429/125029270-ff754300-e0a6-11eb-9c03-01bc596df1a7.png)

[2021-07-09 05:55] QAZIMAAZARSHAD commented on #368
Check responsiveness as well.

If everything is fine then make PR.

[2021-07-09 09:07] QAZIMAAZARSHAD commented on #180
@Anjali1806 do you have any other ideas and you want to improve or should I close this issue?

[2021-07-09 09:09] Anjali1806 commented on #180
plz check

On Thu, 8 Jul 2021 at 20:28, Qazi Maaz Arshad ***@***.***>
wrote:

[2021-07-09 09:33] JahnaviKashyap19 commented on #392
Thank you I am working on it and I will reach out incase I'm stuck

[2021-07-09 10:06] JahnaviKashyap19 commented on #391
I am working on it. It should be done by today.

[2021-07-09 10:07] vk-2501 commented on #376
Yes I have implemented navbar and logo and in background I want to set movies images with help of slider. But the image is not getting fit in background

[2021-07-09 11:15] #370 closed

[2021-07-09 11:48] #411 closed

[2021-07-09 13:08] #391 closed

[2021-07-09 13:48] NidhiChaurasia commented on #410
@QAZIMAAZARSHAD Please check this out till date :- https://bot.dialogflow.com/4d401275-793f-4bdf-a490-2e704712324a

Add this agent to your website by copying the code below :-
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  chat-icon="https:&#x2F;&#x2F;encrypted-tbn0.gstatic.com&#x2F;images?q=tbn:ANd9GcS78IuestoS20dnwqPs3eSz4rP5R2e

[2021-07-09 13:50] NidhiChaurasia commented on #410
Add this agent to your website by copying the code below:

<iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/4d401275-793f-4bdf-a490-2e704712324a">
</iframe>

[2021-07-09 14:09] Anjali1806 commented on #180
close this issue

On Fri, 9 Jul 2021 at 14:37, Qazi Maaz Arshad ***@***.***>
wrote:

[2021-07-09 14:10] QAZIMAAZARSHAD commented on #410
Not working?

Every time answering "Sorry, can you say that again?

[2021-07-09 14:10] QAZIMAAZARSHAD commented on #410
And where I have to add this code?

In any file?

[2021-07-09 14:11] #180 closed

[2021-07-09 15:41] NidhiChaurasia commented on #410
I have taken the queries from this site to train my Chatbot:-

https://www.hotdocs.ca/p/streaming-faqs
https://techforluddites.com/streaming-media-frequently-asked-questions/
https://sedonafilmfestival.com/virtual-streaming-faqs/

If you have any other suggestions then please tell me !

[2021-07-09 15:54] QAZIMAAZARSHAD commented on #410
@NidhiChaurasia these questions are not that much related to our website.

Can you train the bot with some related questions and answers?

[2021-07-09 16:00] NidhiChaurasia commented on #410
Ok Sir,I will inform you once I am done!

On Fri, Jul 9, 2021, 21:24 Qazi Maaz Arshad ***@***.***>
wrote:

[2021-07-09 17:03] saimanoharhm commented on #376
@vk-2501 Share your code and screenshots about what do you want to do. I will help you out.

[2021-07-09 17:21] tjanhvi commented on #376
yaa sure there is problem that i'm not make the register button responsive but i changed the look of landing page

[2021-07-09 17:31] saimanoharhm commented on #376
@tjanhvi and @vk-2501  Ok.  Push your code to origin but don't make a PR and share the link to it and share screenshot that which button is not getting for you..

[2021-07-09 17:40] tjanhvi commented on #376
ohh before seeing your comment i have dn the pr

[2021-07-09 17:41] tjanhvi commented on #376
Can we do one thing if my pr is ok then generate your issue on that.

[2021-07-10 03:05] nandinimalik16 commented on #36
I have Created the pull request. Please suggest if any changes are required.

[2021-07-10 04:01] saimanoharhm commented on #36
cc: @QAZIMAAZARSHAD

[2021-07-10 09:11] vk-2501 commented on #376
I have also implemented hamburger menu for mobile view toggling.But it isn't working

[2021-07-10 09:12] vk-2501 commented on #376
So can i share the code ?

[2021-07-10 09:19] QAZIMAAZARSHAD commented on #376
This issue is for improving the landing page where have you added the hamburger menu?
Share screenshots and code.

[2021-07-10 09:42] saimanoharhm commented on #376
Cc: @QAZIMAAZARSHAD

[2021-07-10 10:00] vk-2501 commented on #376
![image](https://user-images.githubusercontent.com/73028420/125159219-bcdd6480-e193-11eb-9711-80894b3b5675.png)

[2021-07-10 11:37] QAZIMAAZARSHAD commented on #376
![image](https://user-images.githubusercontent.com/56196640/125161634-14ce9800-e1a1-11eb-8edd-bb60b0419f8b.png)

This is the current landing page, the purpose of this issue is to come up with a new and better design.

[2021-07-10 15:18] manasb15 opened #427 "Adding all the available genres in the About Us in Readme.md"
Genres that are available on the platform can be added in the section in a bullet format to give an idea to the viewer of all the content available. Also, we can update the word 'movieholics' which is misspelled to cinephiles or movie lovers.

@QAZIMAAZARSHAD please assign me this issue under DCP21 if you think it is a worthy update.

[2021-07-10 15:49] QAZIMAAZARSHAD commented on #427
@manasb15 movieholics is not misspelled it is fine.

[2021-07-10 18:21] manasb15 commented on #427
@QAZIMAAZARSHAD it is written as 'movieocohlic's'
shouldn't it be movieholics or movieocoholics? Or better yet a different word, cinephiles maybe?

[2021-07-10 20:14] jugeshraghav commented on #56
@saimanoharhm I have completed and created a PR. Kindly have a look.

[2021-07-11 04:21] QAZIMAAZARSHAD commented on #427
Ooo I thought it is written movieholics. My mistake.

Yes go ahead.

[2021-07-11 04:54] saimanoharhm commented on #56
@jugeshraghav I couldn't see any of your recent PR's. PLease share link to it.

[2021-07-11 06:38] ishikasinha-d opened #428 "Improve Sign In page and some buttons"
Hello, I am a DevIncept Contributor and would like to make the following changes.

1. Add animation to register button
2. Improve Sign In page like
    Align text properly in "Sign in with google"
    correct overlapping of "Learn More" in the bottom,
    Properly place the tabs in footer
    keep the translator to the right bottom

Please assign me this

[2021-07-11 06:58] jugeshraghav commented on #56
Thanks, I'll check it out.

On Sun, Jul 11, 2021, 10:24 ANNAM SAI MANOHAR ***@***.***>
wrote:

[2021-07-11 07:32] manasb15 opened #430 "Change the Genre Name of Suspense to Thriller"
Technically the genre is formally known as Thriller or Mystery Thriller, so I think it would be a good change in the GUI and documentation.
@QAZIMAAZARSHAD Please let me know if you think this is a good idea.

[2021-07-11 07:33] manasb15 opened #431 "Changing the genre name from Suspense to Thriller/ Mystery Thriller"
Technically the genre is formally known as Thriller or Mystery Thriller, so I think it would be a good change in the GUI and documentation.
@QAZIMAAZARSHAD Please let me know if you think this is a good idea.

[2021-07-11 07:33] #431 closed

[2021-07-11 07:53] #427 closed

[2021-07-11 07:56] QAZIMAAZARSHAD commented on #430
Fine.

Do it in all pages.

[2021-07-11 07:56] QAZIMAAZARSHAD commented on #430
Under DCP?

[2021-07-11 12:13] manasb15 commented on #430
@QAZIMAAZARSHAD Yes please, I forgot to mention. I wanted it under DCP21

[2021-07-11 12:14] manasb15 commented on #430
@QAZIMAAZARSHAD Files named suspense should be changed to thriller as well or only in pages?

[2021-07-11 12:24] QAZIMAAZARSHAD commented on #430
If you change the file name then you have to change the name everywhere it is linked.

[2021-07-11 12:46] manasb15 commented on #430
@QAZIMAAZARSHAD So will it get very buggy and complicated? Or should I just change it within pages only?

[2021-07-11 12:55] QAZIMAAZARSHAD commented on #430
No, nothing will change if you understand the entire website and do the necessary modifications.
It is up to you if you are willing to take up the challenge you suggested or just change it within pages or just leave it be "Suspence & Thriller" is also fine.

[2021-07-11 13:55] manasb15 opened #432 "update pull_request_template.md"
In pull_request_template.md
Change
Issue Number with
Fixes #(issue number) so that issue automatically get close on successful merge of PR

@QAZIMAAZARSHAD Please assign me this under DCP21

[2021-07-11 14:09] #432 closed

[2021-07-12 06:29] manasb15 opened #436 "Update pull_request_template.md"
This point in the checklist :

(I have added my name in the contributors list at the end of README.md file.)

is obsolete. So it is wise to remove it.

@QAZIMAAZARSHAD please assign this to me under DCP21

[2021-07-12 08:04] #436 closed

[2021-07-12 09:51] Garima-7 commented on #390
Assign this to me pls.

[2021-07-12 09:56] QAZIMAAZARSHAD commented on #390
DCP?

[2021-07-12 10:35] Garima-7 commented on #390
Yes

[2021-07-12 13:38] KHemanthRaju commented on #364
Can I work on this issue?

[2021-07-12 13:44] QAZIMAAZARSHAD commented on #364
Already assigned.
If it remains unresolved for a few more days then I will assign you.

[2021-07-12 15:48] #40 closed

[2021-07-12 15:49] #208 closed

[2021-07-12 16:02] #39 closed

[2021-07-12 16:02] #46 closed

[2021-07-12 17:05] Aas7ha commented on #357
Please assign me this issue under LGMSOC 21

[2021-07-13 04:32] #406 closed

[2021-07-13 04:42] QAZIMAAZARSHAD opened #439 "Create logout feature in website"
Rename the login button in the navbar to log out.

When the log out button should be clicked, the user should be redirected to the login page and log in again to go back to the main website.

[2021-07-13 04:47] JahnaviKashyap19 commented on #392
@saimanoharhm I am having difficulty with this issue. I created a modal so that on clicking on the trailer button the video appears on the modal but nothing is appearing.

[2021-07-13 07:28] HarshitPandey251 commented on #439
I want to contribute in this issue under both LGMSOC and DCP

[2021-07-13 07:37] #428 closed

[2021-07-13 09:25] Garima-7 commented on #390
https://garima-7.github.io/Movie-Streaming-Website/
is is fine now?

[2021-07-13 10:02] NidhiChaurasia commented on #410
This is modified chatbot  Kindly view mentors :-
https://bot.dialogflow.com/f58d0247-f57d-49aa-b4a2-dc8cc22a2faa

[2021-07-13 10:07] NidhiChaurasia commented on #410
After integrating this code in website it will appear in corner of website

<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  chat-icon="https:&#x2F;&#x2F;encrypted-tbn0.gstatic.com&#x2F;images?q=tbn:ANd9GcSOgb4rtp1tp4mv4flT-rMfJKJ9Wln9ZxhOQg&ampusqp=CAU"
  intent="WELCOME"
  chat-title="Apna-Theatre-bot"
  agent-id="f58d0247-f57d-49

[2021-07-13 10:13] NidhiChaurasia commented on #410
@QAZIMAAZARSHAD @saimanoharhm  Please review this code in the main website for 1/4 th screen preview :--

<iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/f58d0247-f57d-49aa-b4a2-dc8cc22a2faa">
</iframe>

[2021-07-13 10:43] QAZIMAAZARSHAD commented on #410
@NidhiChaurasia bot is referring to this website https://www.filmsite.org/allfilms.html

Change link to our website.

[2021-07-13 10:44] QAZIMAAZARSHAD commented on #410
You add these codes in the website then make PR we will review it.
Also share website link so we can review your changes.

[2021-07-13 11:06] #390 closed

[2021-07-13 13:48] manasb15 commented on #430
@QAZIMAAZARSHAD Can you label this Up for Grab? I want to try contributing to the code rather than documentation.

[2021-07-13 14:08] #430 closed

[2021-07-13 14:37] DeekshithaKusupati opened #444 "Recommendations in website"
Recommendations based on genres ,languages,artists can be done.

[2021-07-13 14:46] QAZIMAAZARSHAD commented on #444
If you have an idea how to implement that then go ahead.

[2021-07-13 14:47] QAZIMAAZARSHAD commented on #444
Under DCP or LGMSoC?

[2021-07-13 14:54] DeekshithaKusupati commented on #444
What is LGSoc

On Tue, Jul 13, 2021, 8:17 PM Qazi Maaz Arshad ***@***.***>
wrote:

[2021-07-13 14:54] DeekshithaKusupati commented on #444
And this can be done with one more person.

On Tue, Jul 13, 2021, 8:23 PM kusupati deekshitha <
***@***.***> wrote:

[2021-07-13 14:55] QAZIMAAZARSHAD commented on #444
LGMSoC is another open-source event like DCP.

[2021-07-13 14:56] DeekshithaKusupati commented on #444
I will work in dcp

On Tue, Jul 13, 2021, 8:25 PM Qazi Maaz Arshad ***@***.***>
wrote:

[2021-07-13 14:57] DeekshithaKusupati commented on #444
Can myself and one more person that I know can work on this issue

On Tue, Jul 13, 2021, 8:26 PM kusupati deekshitha <
***@***.***> wrote:

[2021-07-13 14:59] ishi0301 opened #445 "Adjust the content of the cards in home page"
The contents are not aligned and adjusted properly in ASUR and Scam 1992 cards in the bollywood section of home page.

[2021-07-13 15:05] QAZIMAAZARSHAD commented on #444
Sure.

But the person who will make PR will only get the points.

[2021-07-13 15:08] QAZIMAAZARSHAD commented on #445
@ishi0301 this issue is already open.

[2021-07-13 15:08] #445 closed

[2021-07-14 00:24] #281 closed

[2021-07-14 03:05] wc0801 commented on #267
Hi can I contribute in this?

[2021-07-14 04:44] QAZIMAAZARSHAD opened #446 "Remove splash screen from website"

[2021-07-14 11:16] NidhiChaurasia commented on #410
🙂 Sir please review this  website with my chatbot then I will make a PR for the same  :-

http://127.0.0.1:5500/Movie-Streaming-Website/index.html

I have made necessary changes .Kindly see it 🙏🏻 !

This is my chatbot that I have created  :-    https://bot.dialogflow.com/f58d0247-f57d-49aa-b4a2-dc8cc22a2faa

Website code snippet of Bot :-  <iframe
    allow="microphone;"
    width="350"
    height