[2021-07-14 12:09] QAZIMAAZARSHAD commented on #410
@NidhiChaurasia this "http://127.0.0.1:5500/Movie-Streaming-Website/index.html" is not the link.

Host your website somewhere like netify, Github pages, repl.it then share the link.

Also, the chatbot is again recommending the wrong link. Chatbot should recommend this link https://qazimaazarshad.github.io/Movie-Streaming-Website/.

Also, change the color theme of the chatbot from blue to red-black

[2021-07-14 14:14] NidhiChaurasia commented on #410
@QAZIMAAZARSHAD  please tell me which website to host?

Whether the Apna Theatre website with chatbot  or only the website that contains chatbot .

[2021-07-14 14:26] QAZIMAAZARSHAD commented on #410
Push all the changes you have done to your branch then host your branch on GitHub pages to show the changes,

[2021-07-14 14:56] JahnaviKashyap19 commented on #241
can I try ?

[2021-07-14 14:56] #267 closed

[2021-07-14 14:56] QAZIMAAZARSHAD commented on #241
Under DCP or LGMSoC?

[2021-07-14 16:01] bhoskarpooja commented on #446
/assign

[2021-07-14 16:25] QAZIMAAZARSHAD commented on #446
Under DCP or LGMSoC?

[2021-07-14 17:17] bhoskarpooja commented on #446
LGMSOC

[2021-07-15 08:04] Swastik1710 commented on #227
Hey!
@QAZIMAAZARSHAD
Can I work on this?

[2021-07-15 08:09] dilroseR commented on #347
i would like to work on this

[2021-07-15 08:12] Swastik1710 commented on #227
Thanks for assigning.
Can you please tell me in brief what all have been done and what needs to be done.

[2021-07-15 08:35] QAZIMAAZARSHAD commented on #347
Under DCP or LGMSoC?

[2021-07-15 08:40] QAZIMAAZARSHAD commented on #227
I most of the pages like home and genres the cursor changes to pinter when hover.

But in few pages like movies, kids, webseries it is not changing to pinter when hovering.
Correct it.

[2021-07-15 08:41] QAZIMAAZARSHAD opened #448 "Add anime page in genres drop down list"
Do this on all pages

[2021-07-15 08:43] QAZIMAAZARSHAD opened #449 "Correct the color of genre drop down list in kids page"
![image](https://user-images.githubusercontent.com/56196640/125757928-7d9380c1-a390-4c77-bc38-df7794c350ab.png)

[2021-07-15 08:46] dilroseR commented on #347
dcp

[2021-07-15 08:48] Swastik1710 commented on #227
Do you need it only on cards or should it be there on carousel images also ?

[2021-07-15 08:49] QAZIMAAZARSHAD commented on #227
Only on cards.

[2021-07-15 09:01] rompyroshni31 commented on #10
Hi Sir, If you could specify that in which respective pages, I'll have to add up the play button when the card flips.
Is it just only on the Movies page or any else too?

[2021-07-15 09:06] QAZIMAAZARSHAD commented on #10
In every single movie card of every page.
Like home, action, anime, fantasy, etc.

Currently, in kids, web series, and movies page the cards don't have a flip feature so exclude these pages.

[2021-07-15 12:26] the-macson commented on #449
add me in this problem

[2021-07-15 12:27] QAZIMAAZARSHAD commented on #449
Under DCP or LGMSoC?

[2021-07-15 12:29] #227 closed

[2021-07-15 12:33] QAZIMAAZARSHAD opened #451 "Correct the hove effect on scroll to top button on home page"
On hovering entire background is not turning white.

Make it similar to all other scroll to top buttons as in other pages.

[2021-07-15 12:39] the-macson commented on #449
it's my First contribution i don't know what is DCP and LGMSoC

[2021-07-15 12:41] QAZIMAAZARSHAD commented on #449
DCP and LGMSoC are open-source contribution programs and this project is part of these programs.

If you wish you can participate in these events links to these websites are in the readme of this project, just click on their logo.

[2021-07-15 12:45] the-macson commented on #449
under LGMSoc

[2021-07-15 13:15] the-macson opened #452 "Navbar of home page is Not responsive like page of Kids"
![Screenshot (2)](https://user-images.githubusercontent.com/71259159/125793687-200b55e1-6c19-429f-b61c-41b80c7cc6b2.png)
![Screenshot (3)](https://user-images.githubusercontent.com/71259159/125793752-81a8211c-caff-4137-ba84-f0e57adf6e85.png)

[2021-07-15 13:16] the-macson commented on #452
Assign me in this issue

[2021-07-15 13:30] the-macson commented on #451
Assign me into this

[2021-07-15 14:00] QAZIMAAZARSHAD commented on #452
Other issues are assigned to you first solve them.

[2021-07-15 14:03] #452 closed

[2021-07-15 14:10] #381 closed

[2021-07-15 14:13] QAZIMAAZARSHAD commented on #56
@jugeshraghav any updates?

[2021-07-15 14:15] #296 closed

[2021-07-15 14:17] QAZIMAAZARSHAD commented on #264
@ishitakapoor26 I thought you will make PR soon.

Still on it?

[2021-07-15 14:18] QAZIMAAZARSHAD commented on #368
@aasthasaxena217 would you like to resolve the issue or should I assign someone else?

[2021-07-15 14:23] ishitakapoor26 commented on #264
yeah!

[2021-07-15 14:25] #449 closed

[2021-07-15 14:32] VWRoli commented on #448
I would like to take this issue please.

[2021-07-15 14:40] QAZIMAAZARSHAD commented on #448
Under DCP or LGMSoC?

[2021-07-15 14:45] VWRoli commented on #448
Sorry, but I don't know what any of those mean. Could you enlighten me please?

[2021-07-15 15:35] #451 closed

[2021-07-15 15:41] QAZIMAAZARSHAD commented on #448
DCP and LGMSoC are open-source events. And this project is a part of these events.

You can register in these events if you want, links in the readme file. just click on the logo.

[2021-07-15 15:47] aasthasaxena217 commented on #368
@QAZIMAAZARSHAD I want to resolve this issue , I am working on that

[2021-07-15 15:49] QAZIMAAZARSHAD commented on #368
Fine

[2021-07-15 16:52] JahnaviKashyap19 commented on #241
LGMSoC

[2021-07-15 17:09] #448 closed

[2021-07-16 04:35] #347 closed

[2021-07-16 05:29] 119kanika commented on #412
I will do this work please assign me for this.

[2021-07-16 05:59] QAZIMAAZARSHAD commented on #412
Under DCP or LGMSoC?

[2021-07-16 06:49] priyansh11786 commented on #323
Can I go for this issue if no one has been assigned?

[2021-07-16 07:07] QAZIMAAZARSHAD commented on #323
Under DCP or LGMSoC?

[2021-07-16 07:08] priyansh11786 commented on #10
Hello sir, Can you please elaborate regarding the play now button issue as in If one only needs to display the play now button when the card flips or Is there any additional functionality that one needs to add with it?

[2021-07-16 07:10] QAZIMAAZARSHAD commented on #10
No just add the PlayNow button below the trailer button.

[2021-07-16 07:58] priyansh11786 commented on #323
DCP!

[2021-07-16 07:58] priyansh11786 commented on #323
DCP!

[2021-07-16 10:58] aasthasaxena217 commented on #368
@QAZIMAAZARSHAD , Sorry, but I tried a lot on this to make that work , and using my code to make slide show is disturbing the existing code of register section . To make the slide continuous , I have to write the whole code again including register section of landing page. I think you should assign this issue to someone better.

[2021-07-16 11:01] QAZIMAAZARSHAD commented on #368
Fine

[2021-07-17 05:24] jugeshraghav commented on #56
I was facing some issues and i tried a lot but could not solve the issue so now i am cloning the repo again . will update you as soon as possible.

[2021-07-17 09:28] #323 closed

[2021-07-17 09:34] QAZIMAAZARSHAD commented on #392
@JahnaviKashyap19 issue resolved or not?

@ish-0709 help @JahnaviKashyap19 in this issue.

[2021-07-17 10:36] akshay399 opened #462 "On screen modal window"
i will add an on-screen modal window for playing the trailer instead of redirecting to IMDB website

[2021-07-17 11:19] QAZIMAAZARSHAD commented on #462
@akshay399 this issue is already open #392. Ping me there to assign you.

[2021-07-17 11:19] #462 closed

[2021-07-17 11:20] akshay399 commented on #392
@QAZIMAAZARSHAD assign me this issue

[2021-07-17 11:57] dilroseR commented on #368
Can i know what is the issue?

[2021-07-17 11:57] dilroseR commented on #368
As i can see slideshow is happening on the website

[2021-07-17 12:04] QAZIMAAZARSHAD commented on #368
When website opens it starts like this and also ends with a black screen.
![image](https://user-images.githubusercontent.com/56196640/126036250-e9dd61f3-cf05-4b28-a703-7abda132ef56.png)

It should always be active on screen and continuous.

[2021-07-17 12:06] dilroseR commented on #368
Can i try this?

[2021-07-17 12:07] dilroseR commented on #368
but when the list once ends balck screen will be seen and again it will start

[2021-07-17 12:08] QAZIMAAZARSHAD commented on #368
Yes, you have to correct that ending part as well.

See in the home page slideshow is fine.

[2021-07-17 12:10] dilroseR commented on #368
okay.. i'll try solving this

[2021-07-18 15:03] dilroseR commented on #368
Sorry @QAZIMAAZARSHAD I'm not able to solve the issue

[2021-07-18 15:12] QAZIMAAZARSHAD commented on #368
@dilroseR you want any help or do you no longer want to work on this issue?

[2021-07-18 15:14] QAZIMAAZARSHAD commented on #368
@ishi0301 and @saimanoharhm look into this.

Help contributors resolve this issue.

[2021-07-18 15:32] dilroseR commented on #368
i need help

[2021-07-18 15:54] QAZIMAAZARSHAD commented on #368
@ishi0301 and @saimanoharhm look into this.

[2021-07-19 09:53] rompyroshni31 commented on #10
@QAZIMAAZARSHAD Hey Sir, I would like to work up on this issue. Please assign me this.

[2021-07-19 10:18] 119kanika commented on #412
Under DCP

On Fri, 16 Jul, 2021, 11:29 Qazi Maaz Arshad, ***@***.***>
wrote:

[2021-07-19 10:23] QAZIMAAZARSHAD commented on #10
Under DCP or LGMSoC?

[2021-07-19 13:31] rompyroshni31 commented on #10
Under Devincept(Dcp).

[2021-07-20 07:13] QAZIMAAZARSHAD commented on #389
@arnab8335 any update?

[2021-07-20 07:16] QAZIMAAZARSHAD commented on #364
@ujju20 figured out the issue?

Any updates?

[2021-07-20 07:17] QAZIMAAZARSHAD commented on #444
@DeekshithaKusupati any updates?

[2021-07-20 07:26] QAZIMAAZARSHAD opened #466 "Design a new preloader"
It should match the theme of the website.

Use website logo in preloader.

[2021-07-20 08:15] Akshu-on-github commented on #466
This seems interesting, I'd like to take this up

[2021-07-20 08:19] QAZIMAAZARSHAD commented on #466
Under DCP or LGMSoC?

[2021-07-20 08:19] Akshu-on-github commented on #466
Under LGMSoC

[2021-07-21 09:07] harshit-dugar commented on #446
If this bug is not resolved can I work on it @QAZIMAAZARSHAD

[2021-07-21 09:07] harshit-dugar commented on #446
Can you tell me in which folder I will find this issue ?

[2021-07-21 09:11] QAZIMAAZARSHAD commented on #446
The splash screen appears every time user tries to reach the home page.
Check home.html.

[2021-07-21 10:00] rompyroshni31 commented on #10
Hello Sir,
Please check this out https://rompyroshni31.github.io/Movie-Streaming-Website/

[2021-07-21 10:10] utkarsh-ub commented on #10
@rompyroshni31 make the play now button similar to the trailer button and also add a play icon before it.Positioning is all right 👍

[2021-07-21 10:14] utkarsh-ub commented on #22
@QAZIMAAZARSHAD This issue needs a whole different css file to be made with changes.So that one can toggle between light and dark mode.

[2021-07-21 10:30] utkarsh-ub commented on #56
@j

Any updates? If you are facing any issues then you can ask.

[2021-07-21 10:33] utkarsh-ub commented on #60
@kshitija-2001 @nitishapiplani any updates?

[2021-07-21 10:43] QAZIMAAZARSHAD commented on #10
@rompyroshni31 one more important thing, your repo is not updated many features are missing.
Before starting to work on any issue always keep your repo up to date.
Fetch upstream.

[2021-07-21 10:57] QAZIMAAZARSHAD commented on #22
Yes, that can be an idle approach.

[2021-07-21 11:34] harshit-dugar commented on #446
Can I commit on a new branch named Home_issue @QAZIMAAZARSHAD

[2021-07-21 11:53] QAZIMAAZARSHAD commented on #446
Sure. As you wish.

[2021-07-21 11:54] harshit-dugar commented on #446
Now that splash os not coming . Direct Home page is coming

[2021-07-21 12:02] harshit-dugar commented on #446
@QAZIMAAZARSHAD please review my PR #469

[2021-07-22 03:57] Sejal2801 commented on #147
Assign it to me

[2021-07-22 05:52] QAZIMAAZARSHAD commented on #147
Under DCP or LGMSoC?

[2021-07-24 19:42] aditya687 commented on #392
Please assign me this issue @QAZIMAAZARSHAD

[2021-07-24 19:43] aditya687 commented on #264
I want to make homepage loader beautiful and improve the slider.

[2021-07-25 04:59] QAZIMAAZARSHAD commented on #392
@akshay399 and @JahnaviKashyap19 any updates?

[2021-07-25 05:00] QAZIMAAZARSHAD commented on #264
Solve other issues first.

[2021-07-25 08:58] Sarthakjain594 commented on #412
heyy ,
is this issue resolved ?? Can I be a helping hand in this issue ? and if no one is working on this one , can I do ??

[2021-07-25 09:03] QAZIMAAZARSHAD commented on #412
Sure, you can go ahead.

[2021-07-25 09:04] QAZIMAAZARSHAD commented on #412
@Sarthakjain594 under DCP or LGMSoC?

[2021-07-25 09:05] Sarthakjain594 commented on #412
@QAZIMAAZARSHAD under LGMSoC .

[2021-07-25 12:09] utkarsh-ub commented on #466
Any updates

[2021-07-25 12:13] utkarsh-ub commented on #439
@HarshitPandey251 updates?

[2021-07-25 13:39] Akshu-on-github commented on #466
@utkarsh-ub I don't think I can give this issue it's due attention due to my academic load... I apologise for the delay in conveying this, and thank you for letting me work on it till now

[2021-07-25 13:47] QAZIMAAZARSHAD commented on #241
@JahnaviKashyap19 any updates?

[2021-07-25 13:48] #376 closed

[2021-07-25 13:49] QAZIMAAZARSHAD commented on #357
@Aas7ha any updates?

[2021-07-25 15:46] JahnaviKashyap19 commented on #241
I am working on it.

On Sun, 25 Jul 2021, 7:17 pm Qazi Maaz Arshad, ***@***.***>
wrote:

[2021-07-26 07:39] rompyroshni31 commented on #10
Hello, Please check it's completed. Sorry for the delay, I had a sessional college test.
https://rompyroshni31.github.io/Movie-Streaming-Website/

[2021-07-26 07:54] QAZIMAAZARSHAD commented on #10
check one piece in the anime section.

Your repo is not updated. Fetch upstream.

Check newly updated movies in documentaries, war. and horror page.

[2021-07-26 07:54] QAZIMAAZARSHAD commented on #10
Update then make PR.

[2021-07-26 11:15] #368 closed

[2021-07-26 14:48] #10 closed

[2021-07-27 11:59] Sarthakjain594 commented on #466
heyy ,
Can I give it a try ?

[2021-07-28 04:15] aditya687 commented on #466
Please assign me this issue. I can give a elegant preloader for the website

[2021-07-28 04:19] aditya687 commented on #361
I need to work on this issue, I can build a ui profile page like netflix @QAZIMAAZARSHAD

[2021-07-28 04:21] aditya687 commented on #389
Please assign me @QAZIMAAZARSHAD . I will make list of movies based on their performance.

[2021-07-28 04:24] aditya687 commented on #439
Please assign me the issue, I think it will take less time to change this @utkarsh-ub

[2021-07-28 04:25] aditya687 commented on #106
Can I work on this issue? I think it will be really nice by addding news and coming soon section under the movie specifications @QAZIMAAZARSHAD

[2021-07-28 04:32] QAZIMAAZARSHAD commented on #466
This issue is already assigned.
And first, resolve other issues that are assigned to you.

[2021-07-28 04:32] QAZIMAAZARSHAD commented on #361
This issue is already assigned.
And first, resolve other issues that are assigned to you.

[2021-07-28 04:33] QAZIMAAZARSHAD commented on #361
@shivshankar9 any new updates?

[2021-07-28 04:34] QAZIMAAZARSHAD commented on #389
First, resolve other issues that are assigned to you.

[2021-07-28 04:35] #389 closed

[2021-07-28 04:36] QAZIMAAZARSHAD commented on #439
@aditya687 the logout feature should be functional.

[2021-07-28 04:36] QAZIMAAZARSHAD commented on #439
@HarshitPandey251 are you working on it?

[2021-07-28 04:37] QAZIMAAZARSHAD commented on #106
Other issues are already assigned to you first resolve them.

[2021-07-28 08:14] #412 closed

[2021-07-28 20:56] Srijan1878 commented on #106
Can I work on this issue under LGMSOC? @QAZIMAAZARSHAD

[2021-07-29 04:11] dilroseR commented on #439
i'd like to take it up

[2021-07-29 04:12] dilroseR commented on #439
this issue was closed right?
what happened then?

[2021-07-29 04:12] dilroseR commented on #439
this is to be done?

[2021-07-29 04:17] dilroseR commented on #392
can i try this?

[2021-07-29 04:25] QAZIMAAZARSHAD commented on #439
Yes

[2021-07-29 04:32] dilroseR commented on #392
in which html page?

[2021-07-29 04:38] QAZIMAAZARSHAD commented on #392
Currently, whenever a trailer button is clicked it redirects to youtube or IMDB, but instead, a medium-size window should pop-up whenever the trailer button is clicked.

You have to do this for every single card on every page.
Web-series and kids page have not been updated yet, you can skip those.

[2021-07-29 05:00] dilroseR commented on #439
in which page?

[2021-07-29 05:11] QAZIMAAZARSHAD commented on #439
All pages you have to replace the login with logout in the navbar.

[2021-07-29 05:41] dilroseR commented on #439
is it ok if i make the logout as a button?

[2021-07-29 05:42] QAZIMAAZARSHAD commented on #439
Sure

[2021-07-29 07:00] #439 closed

[2021-07-29 07:11] #364 closed

[2021-07-29 07:13] QAZIMAAZARSHAD commented on #56
@jugeshraghav you were assigned more than a month ago.

Any updates? When will you make PR?

[2021-07-29 07:13] #36 closed

[2021-07-29 07:16] QAZIMAAZARSHAD commented on #147
@Sejal2801 any updates?

[2021-07-29 07:17] QAZIMAAZARSHAD commented on #264
@ishitakapoor26 any updates?

[2021-07-29 07:18] QAZIMAAZARSHAD commented on #410
@NidhiChaurasia any updates?

[2021-07-29 07:20] QAZIMAAZARSHAD commented on #241
@JahnaviKashyap19 any updates you were assigned 15 days ago.

[2021-07-29 07:24] QAZIMAAZARSHAD opened #482 "Make logout feature functionable"
Whenever a user is signed in via google it gets sign in automatically.

After clicking the logout button user must be logged out. And had to sign in again to proceed further.

[2021-07-29 08:59] JahnaviKashyap19 commented on #241
I just need one more day.

[2021-07-29 09:14] 2024-SANDHYA opened #483 "Side Navbar"
Making a side navbar instead of 3 buttons in the hero section @QAZIMAAZARSHAD

[2021-07-29 09:40] QAZIMAAZARSHAD commented on #483
@2024-SANDHYA didn't understand which 3 bittons? which hero section?

[2021-07-29 10:23] 2024-SANDHYA commented on #483
@QAZIMAAZARSHAD  Want to add a sidebar like this
![image](https://user-images.githubusercontent.com/75671152/127475778-40cecec1-d929-4b0a-b12a-6530fc34a603.png)

And shifting these three buttons in the sidemenu itself.
![image](https://user-images.githubusercontent.com/75671152/127475861-3519c893-ffa8-47ec-86b9-7a62f3e1e974.png)

[2021-07-29 10:26] QAZIMAAZARSHAD commented on #483
@2024-SANDHYA these 3 are not buttons just design.

And navbar is not needed on this page.

[2021-07-29 10:26] #483 closed

[2021-07-29 10:49] NidhiChaurasia commented on #410
@QAZIMAAZARSHAD  I have discussed with @saimanoharhm and made changes here
https://github.com/NidhiChaurasia/Movie-Streaming-Website

Kindly review !

[2021-07-29 11:02] QAZIMAAZARSHAD commented on #410
First, fetch upstream your repo is not updated.

And share a live demo link.

[2021-07-31 14:05] dilroseR commented on #392
https://user-images.githubusercontent.com/70878223/127742305-5a14d6a6-abcc-4761-9763-c839629397f2.mp4

is it ok like this if i implement this on every card?

[2021-07-31 14:14] QAZIMAAZARSHAD commented on #392
Better than before.

But if you can improve the design and size of the window then it will be better.

[2021-08-02 12:19] #392 closed

[2021-08-02 12:23] QAZIMAAZARSHAD commented on #446
@harshit-dugar any updates?

[2021-08-03 12:31] Swastik1710 commented on #357
Hey, I would like to try this out.
Please assign it to me.

[2021-08-04 10:42] #357 closed

[2021-08-04 10:55] QAZIMAAZARSHAD opened #488 "Check responsiveness in premium page"
Also add scroll to top button

[2021-08-04 10:56] QAZIMAAZARSHAD opened #489 "Correct the scroll to top button in comedy page"

[2021-08-04 10:57] QAZIMAAZARSHAD opened #490 "Make the card size of TV and Anime page similar to other pages"

[2021-08-04 10:58] QAZIMAAZARSHAD commented on #466
@Sarthakjain594 any updates?

[2021-08-04 13:48] Swastik1710 commented on #490
Please assign this issue to me.

[2021-08-04 16:23] aasthasaxena217 opened #491 "Modify hover effect of cards on the premium page"
When we hover on the cards, they move slightly in right direction , they are very close to each other. We can make a little smaller or proper hovering effect.
![image](https://user-images.githubusercontent.com/64476429/128217731-845c98ac-54a3-46d0-b478-60d5132eb54e.png)

[2021-08-05 04:28] #489 closed

[2021-08-05 04:37] #490 closed

[2021-08-05 06:16] shreyshreyansh opened #494 "Apply hover effect on navbar links"
![Screenshot 2021-08-05 114553](https://user-images.githubusercontent.com/53744971/128300713-770acb04-fb27-47be-bb2f-a084a1e80e35.png)

[2021-08-05 12:11] QAZIMAAZARSHAD commented on #241
@JahnaviKashyap19 any updates?

[2021-08-05 12:12] QAZIMAAZARSHAD commented on #410
@NidhiChaurasia any updates?

[2021-08-05 19:42] JahnaviKashyap19 commented on #241
I have already made the pull request and made the necessary changes in the
pull request.

On Thu, 5 Aug 2021, 5:41 pm Qazi Maaz Arshad, ***@***.***>
wrote:

[2021-08-06 06:39] NidhiChaurasia commented on #410
https://github.com/NidhiChaurasia/Movie-Streaming-Website  @QAZIMAAZARSHAD
Kindly see this

[2021-08-06 06:53] #106 closed

[2021-08-06 06:58] QAZIMAAZARSHAD commented on #410
Not this @NidhiChaurasia share a live link like this https://qazimaazarshad.github.io/Movie-Streaming-Website/.

Deploy your website on GitHub pages or Netlify then share link.

[2021-08-06 07:05] QAZIMAAZARSHAD commented on #410
And the PR which is mentioned here is not to my repo.

Also, your repo is 165 commits behind. Before starting to work on this issue fetch upstream and update your repo.

If you are stuck reach out to @ishi0301 or @saimanoharhm.

[2021-08-06 07:49] NidhiChaurasia commented on #410
http://nidhichaurasia.me/New-Movie-Streaming-Website/login.html
@QAZIMAAZARSHAD

[2021-08-06 08:19] QAZIMAAZARSHAD commented on #410
Check yourself everything is messed up.
![image](https://user-images.githubusercontent.com/56196640/128479494-968b3cb0-b12c-422d-84cc-26cc128cf34c.png)
![image](https://user-images.githubusercontent.com/56196640/128479545-50200ac7-66e3-4e48-8653-fe568555a879.png)
![image](https://user-images.githubusercontent.com/56196640/128479844-672f6e47-cb85-4fe0-a2bb-9c0faa997172.png)
![image](https://user-im

[2021-08-06 08:21] QAZIMAAZARSHAD commented on #410
![Screenshot (146)](https://user-images.githubusercontent.com/56196640/128480257-6bfe5402-9e71-4597-94d2-103c0b41f421.png)

And change blue colour to red also change the image of the bot.

[2021-08-06 08:23] QAZIMAAZARSHAD commented on #410
I suggest throw this work and create a new branch and make only the necessary changes.

[2021-08-06 15:24] Swastik1710 commented on #488
Please assign this issue to me.

[2021-08-07 04:30] #488 closed

[2021-08-08 07:25] #491 closed

[2021-08-15 11:38] aasthasaxena217 commented on #466
Can , I work on it?

[2021-09-01 10:20] #410 closed

[2021-09-11 03:16] RituSingh2002 opened #500 "🐱‍🚀 Problem Play button is not working 🎯 Goal provide a valid link for every movie if link is available on YouTube"

[2021-09-11 03:17] RituSingh2002 commented on #494
@Qazi Maaz Arshad  I would like to work on than issue

[2021-09-11 13:38] TheCodinggDude commented on #500
Hey @QAZIMAAZARSHAD ! Can I work on this issue ?

[2021-09-12 03:39] #500 closed

[2021-09-13 15:49] #494 closed

[2021-10-01 04:48] Subhangini commented on #482
Is this issue active , If yes then I would like to work on this. Under Hactoberfest.

[2021-10-01 05:24] nandini040 commented on #466
I would like to work on this issue . But first just want to confirm that for this issue we have to change the blue color preloader which pop up when we open the website wright?

[2021-10-01 05:31] QAZIMAAZARSHAD commented on #466
Yes remove that preloader and add some nice preloader.
That matches the theme colour(red/black) of the website and style related to cinema or movies.

[2021-10-01 05:33] aasthasaxena217 commented on #466
I have designed a preloaded, but unable to fix its frame and size.

On Fri, 1 Oct 2021, 11:01 Qazi Maaz Arshad, ***@***.***>
wrote:

[2021-10-01 05:39] QAZIMAAZARSHAD commented on #466
Look for a solution on youtube, StackOverflow, or any other site.
Or open an issue in your repo and ask people to help you in resolving the issue.

[2021-10-01 10:03] yash22arora commented on #22
Is this issue still open? Can i work on it as a HscktoberFest 2021 participant?

[2021-10-01 10:10] amankumar11 opened #503 "Change Font of the website to make it look more attractive"
Change the font family to make the website look more attractive

[2021-10-01 10:17] QAZIMAAZARSHAD commented on #503
Go ahead.
But make sure, all the pages should have the same font.

[2021-10-01 10:24] QAZIMAAZARSHAD opened #504 "Add hacktoberfest 2021 logo in Readme"
Add it in the programs we have been associated with section.

[2021-10-01 10:27] HimangsKalita commented on #504
can I do this?

[2021-10-01 10:36] HimangsKalita commented on #504
Can you please check the pull request #505

[2021-10-01 10:38] techakhil-me commented on #503
still open ?

[2021-10-01 10:40] #504 closed

[2021-10-01 10:40] amankumar11 commented on #503
Ok. i have started working 👍

[2021-10-01 10:43] QAZIMAAZARSHAD commented on #503
Someone else is working on this issue.
Look for other open issues.

[2021-10-01 10:45] amankumar11 commented on #503
Font-1 (Montserrat)
![image](https://user-images.githubusercontent.com/67067864/135607288-208274bf-c296-4855-89a7-b3586cf31ebd.png)

Font-2 (Ubuntu)
![image](https://user-images.githubusercontent.com/67067864/135607393-5a632bd6-0576-4a8e-b5aa-05cf016b5f6f.png)

@QAZIMAAZARSHAD which font would you suggest?

[2021-10-01 10:48] QAZIMAAZARSHAD commented on #503
Ubuntu looks nice.

[2021-10-01 10:49] QAZIMAAZARSHAD commented on #503
Also, when you will make PR do share a deployment link so I can review your changes.

[2021-10-01 11:51] #503 closed

[2021-10-02 16:17] #466 closed

[2021-10-02 19:46] sumitkumarju commented on #361
Is this still active? I would like to work on it under hacktoberfest

[2021-10-02 22:04] valmondEmmanuel opened #508 "Streaming"

[2021-10-03 05:09] QAZIMAAZARSHAD commented on #508
@valmondEmmanuel ???.

Please provide an appropriate description when you open any issue.

[2021-10-03 05:09] #508 closed

[2021-10-03 07:26] sumitkumarju commented on #361
Thanks @QAZIMAAZARSHAD for assigning me this issue. Can you give some hints on how the profile page should be like?

[2021-10-03 08:18] QAZIMAAZARSHAD commented on #361
A profile page should contain user details like name, id, subscription validity, my downloads, an option to log out, It should also display how many devices are connected with this account.

You can implement your own ideas as well, all the above-mentioned features are not mandatory, you can add as many features you want.
Make sure the profile page follows the theme of the website.
Also, add the M

[2021-10-03 08:20] QAZIMAAZARSHAD commented on #361
If you include the log-out button inside the profile page.

Then replace the logout button on the navbar with the My Profile button.

[2021-10-03 17:25] sumitkumarju commented on #361
Do you want a static profile page or a dynamic one?
For Dynamic Profile Page, profiling needs to be done for every user involving making APIs and integrating database.

[2021-10-04 01:45] QAZIMAAZARSHAD commented on #361
Static page will be fine.

[2021-10-04 16:05] Subhangini commented on #482
Sorry for the delay, actually I don't know how to integrate google sign in functionality so learning it and will try to solve this issue as soon as possible. If possible can you share some resources to learn about this.

[2021-10-04 16:26] QAZIMAAZARSHAD commented on #482
Take your time.

And google sign-in functionality is already available. But the problem is, once the user has logged in the user remains logged in every time user visits the website, you have to make a feature that disconnects the user.

You can learn about google authentication from youtube tutorials.

[2021-10-04 16:35] Subhangini commented on #482
Sure, Learning the whole procedure to integrate it, will make my concept clear and will help me to find where the issue is.

[2021-10-19 16:31] Hastech77 opened #509 "Adding Borders to Posters"
Will Add Borders to the Posters.. Do some UI CSS improvement

[2021-10-19 16:52] QAZIMAAZARSHAD commented on #509
Apply changes to all the pages.

[2021-10-20 06:48] #509 closed

[2022-04-15 13:27] anupammaurya6767 commented on #22
Added dark light theme in home page.

[2022-04-16 04:02] anupammaurya6767 commented on #446
just remove the splash screen or add another interactive preloader?

[2022-04-16 05:57] QAZIMAAZARSHAD commented on #446
Only remove the splash screen from the home page.

[2022-04-16 07:46] #446 closed

[2022-06-06 20:04] wildzone61 opened #518 "Search engine"
Can someone make a search engine that searches and displays only movies that are inside the website?

[2022-08-06 17:06] ZeTheDeveloper commented on #147
is this repo still active? can you please assign this issue to me?

[2022-08-06 18:29] ZeTheDeveloper commented on #147
Hey good day can I know what type of contributions are you looking for? Do I follow the codes according movies, web series & kids?

[2022-08-06 21:40] ZeTheDeveloper commented on #147
![image](https://user-images.githubusercontent.com/98612606/183266897-3a73470a-d173-40eb-b593-2a5d9b1d7759.png)
is this what you are looking for?

[2022-08-07 05:41] QAZIMAAZARSHAD commented on #147
Fine,

Just make sure the font, color, size and other things should be similar to other pages.

[2022-08-09 06:51] #147 closed

[2022-09-03 03:54] jmeyu opened #520 "News page image not showing and padding too small"
In "Coming Soon", Sidharth Malhotra: 'Hope Shershaah inspires the youth, the way Vikram Batra did' movie image is not showing. Moreover, the page padding is too small.

[2022-09-03 04:10] ChinZhengSheng opened #521 "Flipping Card will also invert the Label of the movie"
When hovering over the poster, the label of the poster flips with the card.

Now -
![image](https://user-images.githubusercontent.com/56196640/188257899-381944ab-364d-49b8-9f73-4ce8447ba1d1.png)

How it should be -
![image](https://user-images.githubusercontent.com/56196640/188257908-6bf927a8-5a6b-4613-a057-d6de791079c9.png)

Verify on all the pages (all genres pages).

[2022-09-03 05:35] Jeslynn73 opened #526 "New Feature: About Us page"
Add the “About Us” page—the page that introduces your movie website

[2022-09-03 17:36] benjaminrae opened #528 "Incorrect use of preposition "at" in README.md"
![image](https://user-images.githubusercontent.com/63359209/188281997-8752cd29-70f4-41ad-b6f6-379c0dbeaf54.png)

This sentence has the incorrect use of the preposition "at".

The correct phrase should be "in one place".

[2022-09-03 18:06] #528 closed

[2022-09-03 21:32] abitsalihu opened #530 "[improvement] Fix the alignement issue of the navbar in the home section so it can have a better UI."
The first Picture is how it is currently, the second picture is how I fixed it, not something major just better looking aesthetically.
<img width="1437" alt="Screen Shot 2022-09-03 at 23 30 09" src="https://user-images.githubusercontent.com/94648837/188288290-80a848fd-5e2c-4df7-b0aa-f9e22d7770d7.png">
<img width="1437" alt="Screen Shot 2022-09-03 at 23 26 49" src="https://user-images.githubusercon

[2022-09-04 04:30] QAZIMAAZARSHAD commented on #530
Make sure the nav bars of all the pages are fixed.

[2022-09-04 10:45] Pathholder1806 commented on #520
Hey @jmeyu and @QAZIMAAZARSHAD !
The image for the movie is showing!

![image](https://user-images.githubusercontent.com/61896647/188309490-dbb82313-3aa3-4a98-9fb2-c745076fa8ff.png)

So I think image problem is already resolved. And if the padding is faulty then let me know. I would like to contribute to it😀

[2022-09-04 11:56] #520 closed

[2022-09-04 11:57] #530 closed

[2022-09-06 16:16] Pathholder1806 commented on #521
Hey @QAZIMAAZARSHAD !
I would like to contribute to this issue. Kindly assign me this

[2022-09-21 01:17] pyagnik1 commented on #526
Hi 👋 @Jeslynn73 and @QAZIMAAZARSHAD  can I fix this issue? I need to contribute to an open source project for my class. Thanks

[2022-09-21 04:30] QAZIMAAZARSHAD commented on #526
@pyagnik1 the theme of the About Us page should be the same as that of the entire website.
Add a hyperlink to the About Us page in the footer of every page.

[2022-09-25 02:00] sreejasaha19 commented on #526
Hey, I want to contribute in this issue. Can I work on this issue? If yes, could you please assign it to me.

[2022-09-25 09:08] QAZIMAAZARSHAD commented on #526
@sreejasaha19 I think @pyagnik1 is already working on this issue.
You can look for other open issues.

And if @pyagnik1 you are not working on this issue ping here so @sreejasaha19 can work on it.

[2022-09-30 13:58] vydyas commented on #521
I can work on this issue as part of hacktoberfest.

[2022-09-30 13:59] vydyas commented on #518
I can work on this issue as part of hacktoberfest.

[2022-09-30 16:35] vydyas commented on #521
@QAZIMAAZARSHAD  issue is coming because of a `<div class="film"></div>` if we keep this in front and back problem getting resolved, but code duplication happening. Can we eliminate flip animation form film class? or film div should animate?

[2022-09-30 17:20] vydyas commented on #521
there are soo many div's should I make changes in all the divs and raise PR?

[2022-09-30 17:23] vydyas commented on #521
There are some pages flip is not working like movies.html. What about those?

[2022-09-30 17:27] vydyas commented on #521
There are 207 poster divs in the complete code. Need to change in all places?

[2022-09-30 17:28] vydyas commented on #521
I'll do it for home page in the issue. we can raise different PR's for different pages or else prone to error is high

[2022-09-30 17:51] QAZIMAAZARSHAD commented on #521
Fine, Go ahead

[2022-10-01 07:38] vydyas commented on #518
This is not possible as its completely static page. We should generate json and create components.

[2022-10-01 07:43] vydyas opened #537 "Flipping poster in TV.html is inverting label text"
<img width="303" alt="Screenshot 2022-10-01 at 1 10 51 PM" src="https://user-images.githubusercontent.com/2999586/193398864-f9f5ed1f-4591-4c1f-bf81-820b6f313e66.png">

[2022-10-01 07:44] vydyas commented on #537
Can I work on this?

[2022-10-01 07:52] #518 closed

[2022-10-01 11:22] siddharthsinghvats opened #540 "Fixing the UI on hover of the social media icons in the footer."
Hovering on any of the icons in the footer applies the hover effect on all of them. Separating each icon to show the effect individually will enhance the UI.

[2022-10-01 11:25] amann-k opened #541 "Bug: Trailer links missing"
can i work on this

[2022-10-01 11:33] siddharthsinghvats commented on #540
Can I fix it?

[2022-10-02 07:04] #537 closed

[2022-10-03 14:40] anupammaurya6767 commented on #540
https://movie-streaming-website-omega.vercel.app/

[2022-10-03 15:55] #540 closed

[2022-10-03 16:15] neeraj542 commented on #541
can i work on this issue

[2022-10-04 19:10] sagarxjadhav commented on #526
This is my first contribution & I would like to solve your issue. can I work on it?

[2022-10-05 19:04] Sanjanabharadwaj25 opened #547 "Sticky Navbar"
Making the navbar sticky ensures users don't have to scroll.
I would like to work on this under Hacktoberfest 2022.

[2022-10-06 05:56] QAZIMAAZARSHAD commented on #547
Nope,

Not required.

[2022-10-06 05:56] #547 closed

[2022-10-07 09:51] ACAnyasodor commented on #541
can i work on this issue too?

[2022-10-08 09:02] ankita-104 opened #549 "Glowing Pencil loader page"
please assign this to me I want to work on it

[2022-10-08 09:17] ankita-104 commented on #549
![WhatsApp Image 2022-10-08 at 14 46 31](https://user-images.githubusercontent.com/99471567/194700057-5e96edad-a7fd-4956-83e5-9bec18343b15.jpeg)
here is a screenshot of the animation

[2022-10-09 02:06] QAZIMAAZARSHAD commented on #549
@ankita-104 this issue is not required, the preloader is fine.
I thought you opened this issue in my other repository https://github.com/QAZIMAAZARSHAD/Apni-Dukaan.
My mistake.

You can work on this issue in the [Apni Dukaan](https://github.com/QAZIMAAZARSHAD/Apni-Dukaan) project.

[2022-10-09 02:06] #549 closed

[2022-10-09 06:11] ankita-104 commented on #549
ok so  can I add it to that repo?

[2022-10-09 06:12] QAZIMAAZARSHAD commented on #549
Yes.
Go ahead.

[2022-10-09 18:36] arpitstelin commented on #541
can i work on this issue too??

[2022-10-18 06:12] rajput999 opened #551 "Cursor"
When we hover on any movie card cursor change to pointer but according to me it changes into pointer only when we hover on trailer or play button

[2022-10-18 06:34] #551 closed

[2022-10-18 07:25] rajput999 opened #552 "Cursor"
When we hover on any movie card the course change to pointer. but according to me it should change to pointer when we hover on trailer or play button.

[2022-10-18 14:43] rajput999 opened #553 "Unclear photo"
I photo in tv show card is not clear as it is stressed.
I can fix it by making the photo small and in bottom there will be details with background color.
<img width="1404" alt="Screenshot 2022-10-18 at 8 02 47 PM" src="https://user-images.githubusercontent.com/108625391/196462821-d30999e2-9705-4e22-a6b8-70c5dda80799.png">

[2022-10-18 14:46] QAZIMAAZARSHAD commented on #553
Make it similar to the cards on the home page.

[2022-10-18 14:49] rajput999 commented on #553
Okk and thnx

[2022-10-19 06:15] rajput999 commented on #553
Please @QAZIMAAZARSHAD  Merge my pull request.

[2022-10-19 06:47] baekusboo opened #555 "Edit "Register" text on index page"
Currently, I can access the website directly and access the links to watch the movies easily without logging in or registering myself. When I click the logo, I can view the movies and watch them easily. This defeats the whole purpose of having a login/ register feature on the website. I would suggest adding proper validation and verification in the login and sign-up forms (in the front end itself)

[2022-10-19 16:57] #553 closed

[2022-10-19 17:33] QAZIMAAZARSHAD commented on #555
@baekusboo the hyperlink to the home page via logo image is created to bypass the login page for developers(to save time).

And on clicking register the user is redirected to the login page is correct because most of the times the user will be a returning user and he will login instead of sign up.
Sign up is only for first time users, so it should not be the first page.

[2022-10-19 17:35] QAZIMAAZARSHAD commented on #555
I agree that register button on the index page redirecting to login page is odd.

So, edit the register text. Make it "Enter", or "Watch", or "Let's Go", or something unique and relevant(your choice).

[2022-10-19 18:12] baekusboo commented on #555
Sure, thanks for assigning! I'll update the register text 👍🏽

[2022-10-20 06:57] chaudhary-99 opened #556 "Stretched photo"
As the photo is stretched it looks odd.
I will Download the landscape mode photos from google and add them here.
I will corrrect all photos.
pls @QAZIMAAZARSHAD assign this task to me.
<img width="1292" alt="Screenshot 2022-10-20 at 12 23 57 PM" src="https://user-images.githubusercontent.com/113928981/196877583-22fc9913-f224-4be1-a123-a7546abbd331.png">

[2022-10-20 07:01] rajput999 opened #557 "Header hover effect"
Header without hover effect is very simply. I can give very beautifull hover effect to your header of website.
and i will give the hover effect which will match your design. pls @QAZIMAAZARSHAD assign this work to me.

[2022-10-20 15:12] #555 closed

[2022-10-21 16:20] exotic123567 opened #559 "Login page Button Design change"
The Home page has three non-functional buttons below the login button which do nothing on clicking so it'd be better if it is replaced by simple text.
![Not Buttons movies](https://user-images.githubusercontent.com/86504733/197242811-247d7144-986b-4578-b1c0-ac313c21c3d3.JPG)

[2022-10-21 16:21] exotic123567 commented on #559
Please assign me this task. I can send a PR soon!

[2022-10-21 16:33] QAZIMAAZARSHAD commented on #559
They are not buttons, not clickable. Only for design.

If you have a better design idea you can replace it.

[2022-10-21 16:33] #559 closed

[2022-10-22 15:58] rajput999 commented on #557
please @QAZIMAAZARSHAD  merge my pull request